<button class="list-group-item text-left" data-toggle="collapse" data-target="#filter-{{ safename }}-items">
    {% set title = name[:6] == 'group_' ? name[6:] : name %}
    <span>Brand</span><i class="fa fa-angle-down"></i>
</button>
{% set selected_brand = app.request.get.f['product.brand'] %}
<div id="filter-{{ safename }}-items" class="collapse{% if selected_brand is not empty %} show{% endif %}">
    <div class="card"><div class="card-body">
        <ul class="list-unstyled">                    
            {% for item,count in filter_set %}
                {% set selected = item in filter_request[(name)]|keys ? 1 : 0 %}
                {% set link = selected == true ? [] : {(item):''} %}
                {% set selectedItem = selected == true ? item : '' %}
                {% for key,i in app.request.get.f[(name)] if key != selectedItem %}
                    {% set link = link + {(key):i} %}
                {% endfor %}
                {% set link = filter_request|merge({(name):link}) %}

                {% set current_count = filter_count[name][item] %}
                {% if current_count is null %}
                    {% set current_count = 0 %}
                {% endif %}
                <li class="{% if selected %}active{% endif %}">
                    {% if item != '' %}
                    <a class=" {% if current_count == 0 %}disabled{% endif %}" href="{{app.request.getUrl({'page':1,'f':link})}}">{{item}} <span class="filter-count">({{current_count}})</span></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% for item,key in filter_request[(name)] if item in filter_set|keys %}
    {% set link = [] %}
    {% for key,i in app.request.get.f[(name)] if key != item %}
        {% set link = link + {(key):i} %}
    {% endfor %}
    {% set link = filter_request|merge({(name):link}) %}
    <div class="filter-clear">
    <a class="btn btn-default btn-sm" href="{{app.request.getUrl({'page':1,'f':link})}}"><i class="fa fa-times"></i><span>{{item}}</span></a>
    </div>
{% endfor %}
    </div></div>
</div>