{% set last_price = 0 %}
{% set selected_first = app.request.get.f['product.variant.price'].range|split(',')|first %}
{% set selected_last = app.request.get.f['product.variant.price'].range|split(',')|last %}
{% set safename = name|replace({'.':'-'})  %}
{% set prices = ['10','20','40','60','100','200','400','600','1000','2000','3000','4000','5000','8000','10000'] %}
{% set deselect = '' %}
{% if cfsc_as == 1 or ((selected_first is not empty and selected_last is not empty) and cfsc_ac != 1) %}
    {% set fopen = 1 %}
{% endif %}
<button class="list-group-item text-left" data-template="product.variant.price" data-toggle="collapse" data-target="#filter-{{ safename }}" aria-controls="filter-{{ safename }}" aria-expanded="{{ fopen == 1 ? 'true' : 'false' }}">
	<span>Price</span><i class="fa fa-angle-down"></i>
</button>
<div class="filter-collapse filter-{{ safename }} collapse{% if fopen == 1 %} show{% endif %}" id="filter-{{ safename }}">
	<div class="card"><div class="card-body price price-range">
		<ul class="list-unstyled">
			{% for price in prices %}
				{% set total = 0 %}
				{% for item,count in filter_set if item <= price and item >= last_price %}
					{% set total = total + count %}
				{% endfor %}

				{% set link = app.request.getUrl({'page':1,'f':filter_request|merge({'product.variant.price':{'range': (last_price) ~ ',' ~ (price)}})}) %}
				{% if selected_first == last_price and selected_last == price %}
					{% set selected = true %}
					{% set link = app.request.getUrl({'page':1,'f':filter_request|merge({'product.variant.price':null})}) %}
				{% else %}
				    {% set selected = false %}
				{% endif %}
				{% if total > 0 %}
					{% set current_count = filter_count[name][item] %}
					<li{% if selected %} class="active"{% endif %}>
						<a class="{% if selected %}active{% endif %}" href="{{ link }}"><i class="{{ selected ? 'fas fa-check-square text-primary' : 'far fa-square' }}"></i><span>{{ prod.currency(last_price|number_format(2))}} - {{ prod.currency(price|number_format(2))}}</span> <span class="filter-count">({{total}})</span></a>
					</li>
				{% endif %}
				{% set last_price = price %}
			{% endfor %}
		</ul>
	</div></div>
</div>