{% set open_filter = app.request.get.f['product.variant.color'] %}
{% if cfsc_default == 1 or cfsc_as == 1 or (open_filter is not empty and cfsc_ssoc == 1) %}
    {% set fopen = 1 %}
{% endif %}
<button class="list-group-item text-left" data-template="product.variant.color" data-toggle="collapse" data-target="#filter-color" aria-controls="filter-color" aria-expanded="{{ fopen == 1 ? 'true' : 'false' }}">
	<span>Color</span><i class="fa fa-angle-down"></i>
</button>
{% if config.params['catpage_filter_color_format'] == 'cfcf-hc' %}
	{% set type = "card" %}
{% endif %}
<div class="filter-collapse filter-color collapse{% if fopen == 1 %} show{% endif %}" id="filter-color">
	<div class="card"><div class="card-body color-chips pb-thin">
		<div class="row row-thin">
			{% for item,count in filter_set %}
				{% set current_count = filter_count[name][item] %}
				{% set selected = item in filter_query[name]['$in'] ? 1 : 0 %}
				{% set link = selected == 1 ? {(item):null} : {(item):''} %}
				{% if filter_request[(name)] is defined %}
					{% set link = filter_request|merge({(name):app.request.get.f[(name)]|merge(link)}) %}
				{% else %}
					{% set link = filter_request|merge({(name):link}) %}
				{% endif %}
				
				{% if type == "card" %}
				<div class="col-thin col-6 col-md-3 col-lg-6 mb-thin">
				   <a data-count="{{current_count}}" class="btn btn-block btn-link btn-round btn-sm border text-left{% if selected %} active bg-light border-dark{%else %} border-default{% endif %}{% if current_count == 0 %} disabled{% endif %}" href="{{app.request.getUrl({'page':1,'f':link})}}">
						<i class="fas fa-circle text-{{ item|replace({' ':'-'})|lower }} "></i>
						<span>{{ item|lower }}</span>
					</a>
				</div>
				{% else %}
				<div class="col-thin col-2 col-md-1 col-lg-2 mb-thin color-chip">
				   <a data-count="{{current_count}}" class="btn blank image-space bg-{{ item|replace({' ':'-'})|lower }}{% if selected %} active{% endif %}{% if current_count == 0 %} disabled{% endif %}" href="{{app.request.getUrl({'page':1,'f':link})}}" data-toggle="tooltip" title="{{item}}">
						{% if current_count == 0 %}<i class="isd fa fa-times"><i class="sr-only">{{ item|replace({' ':'-'}) }}</i></i>{% elseif selected %}
						<i class="isd fa fa-check"><i class="sr-only">{{ item|replace({' ':'-'}) }}</i></i>{% else %}<i class="sr-only">{{ item|replace({' ':'-'}) }}</i>
						{% endif %}
					</a>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div></div>
</div>