<button class="btn btn-block btn-default card-header" data-toggle="collapse" data-target="#collapseC">
	<span>Color</span><i class="fa fa-caret-down"></i>
</button>
<div id="collapseC" class="collapse show">
	<div class="card-body color-chips">
		<div class="row row-thin">
			{% for item,count in filter_set %}
				{% set current_count = filter_count[name][item] %}
				{% set selected = item in filter_query[name]['$in'] ? 1 : 0 %}
				{% set link = selected == 1 ? {(item):null} : {(item):''} %}
				{% if filter_request[(name)] is defined %}
					{% set link = filter_request|merge({(name):app.request.get.f[(name)]|merge(link)}) %}
				{% else %}
					{% set link = filter_request|merge({(name):link}) %}
				{% endif %}
				<div class="col-thin col-2 col-md-1 col-lg-2 p-thin color-chip">
				   <a class="{{ item|replace({' ':'-'})|lower }} {% if selected %}active{% endif %} {% if current_count == 0 %}disabled{% endif %}" href="{{app.request.getUrl({'page':1,'f':link})}}" data-tooltip data-toggle="tooltip" data-original-title="{{item|title}}">
						<span class="image-space">
						{% if current_count == 0 %}<i class="isd fa fa-times"><i class="sr-only">{{ item|replace({' ':'-'})|lower }}</i></i>{% elseif selected %}
						<i class="isd fa fa-check"><i class="sr-only">{{ item|replace({' ':'-'})|lower }}</i></i>{% else %}<i class="sr-only">{{ item|replace({' ':'-'})|lower }}</i>
						{% endif %}
						</span>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>