{% set prices = ['10','20','40','60','100','200','400','600','1000','2000','3000','4000','5000','8000','10000'] %}
{% set deselect = '' %}

<button class="list-group-item text-left" data-toggle="collapse" data-target="#filter-{{ safename }}-items">
	<span>Price</span><i class="fa fa-angle-down"></i>
</button>
<div id="filter-{{ safename }}-items" class="collapse">
	<div class="card"><div class="card-body price price-range">
		<ul class="list-unstyled">
			{% set last_price = 0 %}
			{% set selected_first = app.request.get.f.price.range|split(',')|first %}
			{% set selected_last = app.request.get.f.price.range|split(',')|last %}
			{% for price in prices %}
				{% set total = 0 %}
				{% for item,count in filter_set if item <= price and item >= last_price %}
					{% set total = total + count %}
				{% endfor %}

				{% set link = app.request.getUrl({'page':1,'f':filter_request|merge({'price':{'range': (last_price) ~ ',' ~ (price)}})}) %}
				{% if selected_first == last_price and selected_last == price %}
					{% set selected = true %}
					{% set link = app.request.getUrl({'page':1,'f':filter_request|merge({'price':null})}) %}
					{% set deselect %}
							<a class="btn btn-default btn-sm" href="{{ link }}"><i class="fa fa-times"></i>{{ prod.currency(last_price|number_format(2))}} - {{ prod.currency(price|number_format(2))}}</a>
					{% endset %}
				{% endif %}
				{% if total > 0 %}
					{% set current_count = filter_count[name][item] %}
					<li class="{% if selected %}active{% endif %}">
						<a class="{% if selected %}active{% endif %}" href="{{ link }}">{{ prod.currency(last_price|number_format(2))}} - {{ prod.currency(price|number_format(2))}} <span class="filter-count">({{total}})</span></a>
					</li>
				{% endif %}
				{% set last_price = price %}
			{% endfor %}
		</ul>
		{% if deselect %}
		<div class="filter-clear">
	{{ deselect }}
</div>
{% endif %}
	</div></div>
</div>