{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements.html.twig" as form %}
{% import "/account/_macros/base.html.twig" as account %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb. #}
{% set page_name = 'notifications' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account','Notifications':'/account/notifications','View Notification':''}) }}
{% endblock %}
{# Load in the main content positioned in /_layouts/main/base.html.twig #}
{% block content %}
{# 
Load in the tabs for the page, pass in the name of this page, and make sure it's
set in the array in /account/_macros/base.html.twig
#}

{# Begin navigation #}

{{account.navigation('notifications')}}

{# End navigation #}
{# Begin notification #}
<h1>View Notification</h1>

{% set notification = api.get('/customernotification/' ~ id) %}
{% if notification.date_viewed == '' %}
{% set result = api.put('/customernotification/' ~ id, {'date_viewed':'now'|date("Y-m-d H:i:s")}) %}
{% endif %}
{{ form.begin('notification') }}
	{# Begin header actions #}
	<div class="row">
		<div class="col-6 col-md-3 mb-3">
			<a href="{{app.url}}/account/notifications" class="btn btn-default btn-block"><i class="fa fa-chevron-left"></i><span>Back</span></a>
		</div>
		<div class="col-6 col-md-3 float-right mb-3">
			<button type="submit" class="btn btn-danger btn-block" name="action" value="delete">Delete</button>
		</div>
		<div class="col-md-4 offset-md-2 mb-3">
			<button type="submit" class="btn btn-default btn-block" name="action" value="unread">Mark as Unread</button>
		</div>
	</div>
	{# End header actions #}
	{# Begin notification #}
	<div class="card"><div class="card-body">
		<h2>{{ notification.subject }}</h2>
		{{ notification.message }}
	</div></div>
	{# End notification #}
{{ form.end() }}
{# End notification #}
{{account.navigatend()}}
{% endblock %}