{% set reviews = api.get('/productreview', {query:{score:{'$gt':0.8},status:'active'},sort:'date_created:-1',limit:30}) %}
{% set products = api.get('/catalog', {query:{id:{'$in':reviews|values_in('product_id')}}})|group_by('id') %}
{% if reviews|length > 0 %}
<section id="featured-reviews" class="product-grid">
	{# Category Header (Page #, Items / page, Sort by, Search) #}
	<h2 class="section-name">Featured Reviews</h2>

	<section class="products">
		{% set counter = 0 %}
		{% for row,review in reviews if products[review.product_id].0.id is defined and counter < 3 %}
			{% set counter = counter + 1 %}
			<div class="review">
				<div class="row">
					{% set product = products[review.product_id].0 %}
					{# Begin product #}
					<div class="col-md-6 col-lg-4 col-xl-4 mb-3">
						{{ prod.gridproduct(product) }}
					</div>
					<div class="col-md-6 col-lg-8 col-xl-8 mb-3">
						<div class="card"><div class="card-body">
							<div class="title fsi1">{{ review.title }}</div>
							<div class="reviewer">
								By: <span class="first-name">{{ review.first_name }}</span>
								from <span class="city">{{ review.city }}</span>,
								<span class="state uc">{{ review.state }}</span>
							</div>
							<div class="date">{{ review.date_created|strtotime|date('F j, Y') }}</div>
							<div class="score">{{ base.rating(review.score) }}</div>
							<div class="comment">{{ review.comment }}</div>
						</div></div>
					</div>
					{# End product #}
				</div>
			</div>
		{% endfor %}
	</section>
</section>
{% endif %}
