
{% if app.user.isLoggedIn() %}
{% do app.redirect('/account') %}
{% endif %}

{% if app.request.post.create is not empty %}
{% set createdata = app.request.post.create %}
{% set result = api.post('/customer/signup', createdata) %}
{% if result %}
{% if app.request.path %}
{% do app.redirect('/'~app.request.path) %}
{% else %}
{% do app.redirect(app.request.url) %}
{% endif %}
{% else %}
{% set form_errors = api.error() %}
{% set create = app.request.post.create %}
{% endif %}
{% endif %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}
{% extends "/_layouts/base.html.twig" %}
{% set title = 'Create An Account' %}
{% block title %}{{title}}{% endblock %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Account':'/account', (title):''}) }}
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<h1>{{title|title}}</h1>
		{{ lonelyform.begin('reset-password')}}
    		{{ lonelyform.beginintro() }}
    			<p>New to {{ app.params.site.title }}? Create an account by filling out the form below.</p>
    		{{ lonelyform.endintro() }}
		{{ forms.begin('create','','post', {class:''}) }}
		<fieldset>
			<legend>Login Information</legend>
			<div class="form-group fgq">
				<label class="control-label" for="email">Email Address</label>
				{{ forms.email('create[email]',create.email, {class:'form-control parsley-validated', id:'email', placeholder:"Email Address", required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
			</div>
			<div class="form-group fgq">
				<label class="control-label" for="retype-email">Confirm Email</label>
				{{ forms.email('create[confirm_email]',create.confirm_email, {class:'form-control parsley-validated', id:'retype-email', placeholder:"Confirm Email", required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, 'confirm_email') }}</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="password">Password</label>
						{{ forms.password('create[password]',create.password, {class:'form-control parsley-validated', id:'password', placeholder:"Password", required:true}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'password') }}</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="retype-password">Confirm Password</label>
						{{ forms.password('create[confirm_password]',create.confirm_password, {class:'form-control parsley-validated', id:'retype-password', placeholder:"Confirm Password", required:true}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'confirm_password') }}</div>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Contact Information</legend>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="first-name">First Name</label>
						{{ forms.text('create[first_name]',create.first_name, {class:'form-control parsley-validated', id:'first-name', placeholder:"First Name", required:true}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'first_name') }}</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="last-name">Last Name</label>
						{{ forms.text('create[last_name]',create.last_name, {class:'form-control parsley-validated', id:'last-name', placeholder:"Last Name", required:true}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'last_name') }}</div>
					</div>
				</div>
			</div>
			<div class="form-group fgq">
				<label class="control-label" for="phonenumber">Phone Number</label>
				{{ forms.text('create[phone_number]',create.phone_number, {class:'form-control parsley-validated', id:'phonenumber', required:true})  }}
				<div class="validation">{{ forms.errorlist(form_errors, 'phone_number') }}</div>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label for="subscribe">{{ forms.checkbox('create[newsletter]', true, {id:'subscribe'}, true) }}Subscribe to our Newsletter</label>
				</div>
			</div>
		</fieldset>
		{# Begin actions #}
		<div class="form-group actions">
			{{ forms.submit('create[action]', 'create', 'Submit', {class:'btn btn-lg btn-primary'})}}
		</div>
		{# End actions #}
		{{ forms.end() }}
		{{ lonelyform.end() }}
	</div>
</div>
{% endblock %}
