{{ forms.begin('registry','','post', {class:'form-horizontal'}) }}
<fieldset class="divide mb-3">
    <legend class="sr-only">Registry Settings</legend>
    {{ forms.reqfieldlang() }}
    <div class="form-group fgq">
        <label for="rrname">Registry Name{{forms.fgqtext}}</label>
        {{ forms.text('registry[name]',registry.name, {class:'form-control parsley-validated', id:'rrname', placeholder:"Registry Name", required:true}) }}
        <div class="validation">{{ forms.errorlist(form_errors, 'name') }}</div>
    </div>

    <div class="form-group fgq">
        <button type="button" class="btn btn-link p-0 float-right" data-target="#modal-privacy" data-toggle="modal"><i class="fa fa-question-circle"><i class="sr-only">About Privacy</i></i></button>
        <label for="rpri">Privacy{{forms.fgqtext}}</label>
        {{ forms.select('registry[privacy]',registry.privacy, {'public':'Public','private':'Private','unlisted':'Unlisted'}, {class:'form-control parsley-validated', id:'rpri', required:true}) }}
        <div class="validation">{{ forms.errorlist(form_errors, 'privacy') }}</div>
    </div>
    <div class="form-group fgq">
        <label for="raddr">Mailing Address{{forms.fgqtext}}</label>
        <div>
            {% set address_select = {} %}
            {% for address in addresses %}
            {% set address_select = address_select + {(address.id):(address.one_line)} %}
            {% endfor %}
            {% if address_select is empty %}
            <a href="{{app.url}}/account/addresses/new" class="btn btn-warning btn-block">Create a New Address</a>
            {% else %}
            {{ forms.select('registry[address_id]', registry.address_id, address_select, {class:'form-control parsley-validated', id:'raddr', placeholder: 'Address', required:true}) }}
            {% endif %}
        </div>
        <div>
            <div class="validation">{{ forms.errorlist(form_errors, 'address_id') }}</div>
        </div>
    </div>
    <div class="form-group fgq">
        <label for="reve">Event Date{{forms.fgqtext}}</label>
        {{ forms.date('registry[event_date]', registry.event_date,  {class:'form-control parsley-validated', id:'reve', placeholder:'Event Date', required:true}) }}
        <div class="validation">{{ forms.errorlist(form_errors, 'event_date') }}</div>
    </div>
</fieldset>

<fieldset class="divide mb-3">
    <legend>Registrant</legend>
    <div class="form-group fgq">
        <label for="rfname">Registrant First Name{{forms.fgqtext}}</label>
        {{ forms.text('registry[first_name]',registry.first_name, {class:'form-control parsley-validated', id:'rfname', placeholder:"Registrant First Name", required:true}) }}
        <div class="validation">{{ forms.errorlist(form_errors, 'first_name') }}</div>
    </div>
    <div class="form-group fgq">
        <label for="rlname">Registrant Last Name{{forms.fgqtext}}</label>
        {{ forms.text('registry[last_name]',registry.last_name, {class:'form-control parsley-validated', id:'rlname', placeholder:"Registrant Last Name", required:true}) }}
        <div class="validation">{{ forms.errorlist(form_errors, 'last_name') }}</div>
    </div>
</fieldset>

<fieldset>
    <legend>Co-registrant <small>(Optional)</small></legend>
    <div class="form-group">
        <label for="rcfname">Co-registrant First Name</label>
        {{ forms.text('registry[co_first_name]',registry.co_first_name, {class:'form-control parsley-validated', id:'rcfname', placeholder:"Co-registrant First Name"}) }}
        <div class="validation">{{ forms.errorlist(form_errors, 'co_first_name') }}</div>
    </div>
    <div class="form-group">
        <label for="rclname">Co-registrant Last Name</label>
        {{ forms.text('registry[co_last_name]',registry.co_last_name, {class:'form-control parsley-validated', id:"rclname", placeholder:"Co-registrant Last Name"}) }}
        <div class="validation">{{ forms.errorlist(form_errors, 'co_last_name') }}</div>
    </div>
    <div class="form-group custom-control custom-checkbox">
        {{ forms.checkbox('registry[make_default]', 1) }}
        <label class="custom-control-label" for="registry[make_default]">Default Registry</label>
        <div class="validation">{{ forms.errorlist(form_errors, 'make_default') }}</div>
    </div>
</fieldset>

<div class="actions">
    {% if create %}
    {{ forms.submit('registry[action]', 'create', 'Create Registry', {class:'btn btn-lg btn-primary btn-block'})}}
    <a class="btn btn-lg btn-default btn-block" href="{{ app.url }}/account/registries">Cancel</a>
    {% else %}
    {{ forms.submit('registry[action]', 'save', 'Save Changes', {class:'btn btn-lg btn-primary btn-block'})}}
    <a class="btn btn-lg btn-default btn-block" href="{{ app.url }}/account/registries">Cancel</a>
    <button class="btn btn-lg btn-default btn-block" data-toggle="modal" data-target="#delete-modal" type="button">Delete Registry</button>
    {% endif %}
</div>

{{ forms.end() }}

<div class="modal fade" id="modal-privacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="h3 modal-title" id="myModalLabel">Registry Privacy</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Dismiss registry info modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="h4">Public Registry</div>
                <p>Guests can search for your name to locate your Registry.<br /><i class="fsd1">The Registry <strong>is</strong> searchable and accessible to other guests.</i></p>
                <div class="h4">Private Registry</div>
                <p>Only the guest who created the Registry can access it.<br /><i class="fsd1">The Registry is <strong>not</strong> searchable and not accessible to other guests.</i></p>
                <div class="h4">Unlisted Registry</div>
                <p>Guests can see the Registry if they have the link to it.<br /><i class="fsd1">The Registry is <strong>not</strong> searchable but accessible to other guests.</i></p>
            </div>
        </div>
    </div>
</div>

{% if not create %}
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="h3 modal-title" id="delete-modal-label">Delete Registry</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Dismiss delete registry modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body"><p>Are you sure you want to delete "{{registry.name}}"?</p></div>
            <div class="modal-footer">
            <div class="flex-fill">
                {{ forms.begin('registry') }}
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal" type="button">Cancel</button>
                <button type="submit" class="btn btn-danger btn-block" name="registry[action]" value="delete">Delete</button>
                {{ forms.end() }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}