{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}
{% import "/account/_macros/base.html.twig" as account %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'account-settings' %}

{# Set the html head title #}
{% block title %}Account Settings{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here' 
#}
{{ base.breadcrumbs({'Account':'/account','Account Settings':''}) }}
{% endblock %}

{% block content %}
<div id="customer-account">
	
	{# Begin navigation #}
	
	{{account.navigation('account-settings')}}
		
	{# End navigation #}
	{# Begin account settings #}
	<div id="customer-account-settings">
		
		<h1>Account Settings</h1>
		<p>To apply changes on this page you must provide your current password.</p>

		{% if app.request.post.change_password %}
			{% if (api.post('/customer/'~ app.user.id ~'/validatepassword', {'password':app.request.post.change_password.current_password} )) %}
				{% if api.post('/customer/' ~ app.user.id ~ '/changepassword/', app.request.post.change_password ) == false %}
					{% set form_errors = api.error() %}
				{% else %}
					<div class="alert alert-success">Your new password has been saved.</div>
				{% endif %}
			{% else %}
				{% set form_errors = api.error() %}
			{% endif %}
		{% endif %}

		{% if app.request.post.account_settings %}
			{% if api.put('/customer/' ~ app.user.id, app.request.post.account_settings ) == false %}
				{% set form_errors = api.error() %}
			{% else %}
				{% do app.user.setFlash('Your contact information changes have been saved.') %}
				{% do app.redirect('/account/account-settings') %}
			{% endif %}
		{% endif %}

		<div class="well">
		{{ forms.begin('account_settings','','post', {class:'p'}) }}
		<fieldset>
			<legend>Contact Information</legend>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="account_settings[first_name]">First Name</label>
						{{ forms.text('account_settings[first_name]',app.user.first_name, {class:'form-control parsley-validated', id:'account_settings[first_name]', required:true}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'first_name') }}</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="account_settings[last_name]">Last Name</label>
						{{ forms.text('account_settings[last_name]',app.user.last_name, {class:'form-control parsley-validated', id:'account_settings[last_name]', required:true}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'last_name') }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group fgq">
						<label class="control-label" for="account_settings[phone_number]">Phone Number</label>
						{{ forms.phone('account_settings[phone_number]',app.user.phone_number, {class:'form-control parsley-validated', id:'account_settings[phone_number]', required:true}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'phone_number') }}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="account_settings[email]">Email</label>
						{{ forms.email('account_settings[email]', app.user.email, {class:'form-control parsley-validated', id:'account_settings[email]', required:true, placeholder: "Email"}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="account_settings[confirm_email]">Confirm Email</label>
						{{ forms.email('account_settings[confirm_email]', app.user.email, {class:'form-control parsley-validated', id:'account_settings[confirm_email]', required:true, placeholder: "Confirm Email"}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'confirm_email') }}</div>
					</div>
				</div>
			</div>
			{# Begin submit button #}
			<div class="form-group actions">
				{{ forms.submit('account_settings[action]', 'save_changes', 'Save Changes', {class:'btn btn-lg btn-primary'})}}
			</div>
			{# End submit button #}
		</fieldset>
		{{ forms.end() }}

		{{ forms.begin('change_password','','post') }}
		<fieldset>
			<legend>Authentication</legend>
			{# Begin current password address #}
			<div class="divide p">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group fgq">
							<label class="control-label" for="change_password[current_password]">Current Password</label>
							{{ forms.password('change_password[current_password]','', {class:'form-control parsley-validated', id:'change_password[current_password]', required:true, placeholder: "Current Password"}) }}
							<div class="validation">{{ forms.errorlist(form_errors, 'current_password') }}</div>
						</div>
					</div>
				</div>
			</div>
			{# End current password address #}
			{# Begin password address #}
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="change_password[password]">New Password</label>
						{{ forms.password('change_password[password]', '', {class:'form-control parsley-validated', id:'change_password[password]', required:true, placeholder: "New Password"}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'password') }}</div>
					</div>
				</div>
					{# End password address #}
					{# Begin confirm_password address #}
				<div class="col-xs-6">
					<div class="form-group fgq">
						<label class="control-label" for="change_password[confirm_password]">Confirm Password</label>
						{{ forms.password('change_password[confirm_password]', '', {class:'form-control parsley-validated', id:'change_password[confirm_password]', required:true, placeholder: "Confirm Password"}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'confirm_password') }}</div>
					</div>
				</div>
			</div>
			{# End confirm_password address #}
			{# Begin submit button #}
			<div class="form-group actions">
				{{ forms.submit('change_password[action]', 'save_changes', 'Save Changes', {class:'btn btn-lg btn-primary'})}}
			</div>
			{# End submit button #}
		</fieldset>
		{{ forms.end() }}
		</div>
	</div>
	
	{# End account settings #}

	{{account.navigatend()}}
</div>
{% endblock %}