{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}
{% import "/account/_macros/base.html.twig" as account %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'account-settings' %}

{# Set the html head title #}
{% block title %}Account Settings{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here' 
#}
{{ base.breadcrumbs({'Account':'/account','Account Settings':''}) }}
{% endblock %}

{% block content %}

{{account.navigation(config,'account-settings')}}

{% if app.request.post.change_password %}
	{% if (api.post('/customer/'~ app.user.id ~'/validatepassword', {'password':app.request.post.change_password.current_password} )) %}
		{% if api.post('/customer/' ~ app.user.id ~ '/changepassword/', app.request.post.change_password ) == false %}
			{% set form_errors = api.error() %}
		{% else %}
			<div class="alert alert-success">Your new password has been saved.</div>
		{% endif %}
	{% else %}
		{% set form_errors = api.error() %}
	{% endif %}
{% endif %}

{% if app.request.post.account_settings %}
	{% if api.put('/customer/' ~ app.user.id, app.request.post.account_settings ) == false %}
		{% set form_errors = api.error() %}
	{% else %}
		{% do app.user.setFlash('Your contact information changes have been saved.') %}
		{% do app.redirect('/account/account-settings') %}
	{% endif %}
{% endif %}

{{ lonelyform.begin()}}
<h1>Account Settings</h1>
{{ lonelyform.begincard() }}
{{ forms.begin('account_settings','','post', {class:''}) }}
<fieldset>
	<legend class="sr-only">Contact Information</legend>
	{{ forms.reqfieldlang() }}
	<div class="row">
	    <div class="col-lg-6">
        	<div class="form-group fgq">
        		<label for="account_settings[first_name]">First Name{{forms.fgqtext}}</label>
        		{{ forms.text('account_settings[first_name]',app.user.first_name, {class:'form-control parsley-validated', id:'account_settings[first_name]', required:true}) }}
        		<div class="validation">{{ forms.errorlist(form_errors, 'first_name') }}</div>
        	</div>
        </div>
        <div class="col-lg-6">
        	<div class="form-group fgq">
        		<label for="account_settings[last_name]">Last Name{{forms.fgqtext}}</label>
        		{{ forms.text('account_settings[last_name]',app.user.last_name, {class:'form-control parsley-validated', id:'account_settings[last_name]', required:true}) }}
        		<div class="validation">{{ forms.errorlist(form_errors, 'last_name') }}</div>
        	</div>
        </div>
    </div>
    <div class="row">
	    <div class="col-lg-6">
        	<div class="form-group fgq">
        		<label for="account_settings[email]">Email Address{{forms.fgqtext}}</label>
        		{{ forms.email('account_settings[email]', app.user.email, {class:'form-control parsley-validated', id:'account_settings[email]', required:true, placeholder: "Email Address"}) }}
        		<div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
        	</div>
        </div>
        <div class="col-lg-6">
        	<div class="form-group fgq">
        		<label for="account_settings[confirm_email]">Confirm Email Address{{forms.fgqtext}}</label>
        		{{ forms.email('account_settings[confirm_email]', app.user.email, {class:'form-control parsley-validated', id:'account_settings[confirm_email]', required:true, placeholder: "Confirm Email Address"}) }}
        		<div class="validation">{{ forms.errorlist(form_errors, 'confirm_email') }}</div>
        	</div>
        </div>
    </div>
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group fgq">
				<label for="phone">Phone Number{{forms.fgqtext}}</label>
				{{ forms.phone('account_settings[phone_number]',app.user.phone_number, {class:'form-control parsley-validated', id:'account_settings[phone_number]', required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, 'phone_number') }}</div>
			</div>
		</div>
	</div>
</fieldset>
{% set form_extras = api.get('/customer/group/fields', {name:'Default Customer'}) %}
{% set customer = api.get('/customer/' ~ app.user.id) %}
{% if form_extras is not empty %}
<fieldset>
	<legend>Additional Information</legend>
	{% for field in form_extras %}

			{% if field.validator == 'boolean' %}
			<div class="form-group custom-control custom-checkbox{{ field.required ? ' fgq' : ''}}">
				{{ forms.checkbox('account_settings['~field.name~']', false, '', true) }}
				<label class="custom-control-label" for="{{ 'account_settings['~field.name }}]">{{ field.name|replace({'_':' '})|title }}{{ field.required ? forms.fgqtext : ''}}</label>
			</div>

			{% elseif field.validator == 'numerical' %}
			<div class="form-group {{ field.required ? 'fgq' : ''}}">
				<label for="{{ 'additionalfields'~field.name }}">{{ field.name|replace({'_':' '})|title }}{{ field.required ? forms.fgqtext : ''}}</label>
				{{ forms.number('account_settings['~field.name~']',customer[field.name], {class:'form-control parsley-validated', id:'additionalfields'~field.name, placeholder:field.name|replace({'_':' '})|title, required:field.required}) }}
				<div class="validation">{{ forms.errorlist(form_errors, field.name) }}</div>
			</div>

			{% elseif field.validator == 'password' %}
			<div class="form-group {{ field.required ? 'fgq' : ''}}">
				<label for="{{ 'additionalfields'~field.name }}">{{ field.name|replace({'_':' '})|title }}{{ field.required ? forms.fgqtext : ''}}</label>
				{{ forms.password('account_settings['~field.name~']', customer[field.name], {class:'form-control parsley-validated', id:'additionalfields'~field.name, placeholder:field.name|replace({'_':' '})|title, required:field.required}) }}
				<div class="validation">{{ forms.errorlist(form_errors, field.name) }}</div>
			</div>
			{% elseif field.validator == 'in' %}
			<div class="form-group {{ field.required ? 'fgq' : ''}}">
				<label for="{{ 'additionalfields'~field.name }}">{{ field.name|replace({'_':' '})|title }}{{ field.required ? forms.fgqtext : ''}}</label>
				{{ forms.select('account_settings['~field.name~']',customer[field.name], field.range|split(','),{class:'form-control parsley-validated', id:'additionalfields'~field.name, placeholder:field.name|replace({'_':' '})|title, required:field.required}) }}
				<div class="validation">{{ forms.errorlist(form_errors, field.name) }}</div>
			</div>
			{% elseif field.validator == 'date' %}
			<div class="form-group {{ field.required ? 'fgq' : ''}}">
				<label for="{{ 'additionalfields'~field.name }}">{{ field.name|replace({'_':' '})|title }}{{ field.required ? forms.fgqtext : ''}}</label>
				{{ forms.date('account_settings['~field.name~']',customer[field.name], {class:'form-control parsley-validated', id:'additionalfields'~field.name, placeholder:field.name|replace({'_':' '})|title, required:field.required}) }}
				<div class="validation">{{ forms.errorlist(form_errors, field.name) }}</div>
			</div>
			{% else %}
			<div class="form-group {{ field.required ? 'fgq' : ''}}">
				<label for="{{ 'additionalfields'~field.name }}">{{ field.name|replace({'_':' '})|title }}{{ field.required ? forms.fgqtext : ''}}</label>
				{{ forms.text('account_settings['~field.name~']',customer[field.name], {class:'form-control parsley-validated', id:'additionalfields'~field.name, placeholder:field.name|replace({'_':' '})|title, required:field.required}) }}
				<div class="validation">{{ forms.errorlist(form_errors, field.name) }}</div>
			</div>
			{% endif %}
	{% endfor %}
</fieldset>
{% endif %}
	{{ forms.submit('account_settings[action]', 'save_changes', 'Update Contacts', {class:'btn btn-lg btn-primary btn-xsm-block float-right'})}}
{{ forms.end() }}
{{ lonelyform.endcard() }}
{{ lonelyform.end() }}

{{ lonelyform.begin()}}
{{ lonelyform.begincard() }}
{{ forms.begin('change_password','','post') }}
<fieldset>
	<legend>Change Password</legend>
	<div class="row">
		<div class="col-lg-6">
        	<div class="form-group fgq">
        		<label for="change_password[current_password]">Current Password{{forms.fgqtext}}</label>
        		{{ forms.password('change_password[current_password]','', {class:'form-control parsley-validated', id:'change_password[current_password]', required:true, placeholder: "Current Password"}) }}
        		<div class="validation">{{ forms.errorlist(form_errors, 'current_password') }}</div>
        	</div>
        </div>
    </div>
	<div class="row">
	    <div class="col-lg-6">
        	<div class="form-group fgq">
        		<label for="change_password[password]">New Password{{forms.fgqtext}}</label>
        		{{ forms.password('change_password[password]', '', {class:'form-control parsley-validated', id:'change_password[password]', required:true, placeholder: "New Password"}) }}
        		<div class="validation">{{ forms.errorlist(form_errors, 'password') }}</div>
        	</div>
        </div>
        <div class="col-lg-6">
        	<div class="form-group fgq">
        		<label for="change_password[confirm_password]">Confirm New Password{{forms.fgqtext}}</label>
        		{{ forms.password('change_password[confirm_password]', '', {class:'form-control parsley-validated', id:'change_password[confirm_password]', required:true, placeholder: "Confirm New Password"}) }}
        		<div class="validation">{{ forms.errorlist(form_errors, 'confirm_password') }}</div>
        	</div>
        </div>
	</div>
	{{ forms.submit('change_password[action]', 'save_changes', 'Update Password', {class:'btn btn-lg btn-primary btn-xsm-block float-right'})}}
</fieldset>
{{ forms.end() }}
{{ lonelyform.endcard() }}
{{ lonelyform.end() }}


{{account.navigatend()}}
{% endblock %}