{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/list.html.twig" as list %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{% block title %}Account{% endblock %}

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here' 
#}
{{ base.breadcrumbs({'Account Center':''}) }}
{% endblock %}

{# Load in the main content positioned in /_layouts/main/base.html.twig #}
{% block content %}
{# 
Load in the tabs for the page, pass in the name of this page, and make sure it's
set in the array in /account/_macros/base.html.twig
#}

{{account.navigation(config)}}


{{ lonelyform.begin()}}
<h1>Hi, {{ app.user.first_name|title }}!</h1>
<p>Welcome to your account center.</p>


{{ lonelyform.begincard() }}
	{% set notifications = api.get('/customernotification',{query: {customer_id: app.user.id, date_viewed: {'$exists': false}}, sort: 'date_created:-1','attributes': ['unread','subject','date_created'],'limit':3}) %}

    <h2>Recent Notifications</h2>
	{% if notifications is empty %}
	<p>You do not have any notifications.</p>
	{% else %}
	<div class="table-responsive g">
		<table class="table fsd1 table-striped tablesorter">
			<tbody>
				{% for notif in notifications %}
					<tr>
						<td style="width:1%;">{% if notif.unread %}<i class="fa fa-check"><span class="sr-only">Unread</span></i>{% endif %}</td>
						<td><a href="{{ app.url }}/account/notification/{{ notif.id }}">{{ notif.subject}}</a></td>
						<td class="shrink text-right">{{ notif.date_created|date("m/d/Y") }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a href="{{app.url}}/account/notifications" class="btn btn-default btn-lg btn-xsm-block float-right">View All Notifications</a>
	{% endif %}
{{ lonelyform.endcard() }}


{{ lonelyform.begincard() }}
	{% set orders = api.get('/order', {query:{customer_id:app.user.id},sort:'id:-1',limit:3}) %}
    <h2>Recent Orders</h2>
	{% if orders is empty %}
	<p>You have yet to place an order.</p>
	{% else %}
	{% for order in orders %}
	<div class="fsd1 divide mb-3">
		<div class="row">
			<div class="col-lg-5 mb-3">
				<h3>Order #: {{ order.order_number }}</h3>
				<div>Status: {{order.status}}</div>
				<div class="mb-3">{{ order.date_created}}</div>
				<a href="{{app.url}}/account/order/{{ order.order_number }}" class="btn btn-default btn-xsm-block">Order Details</a>
			</div>
			<div class="col-lg-7 mb-3">
				{% set items = api.get('/orderitem', {query:{order_id:order.id}}) %}
				{% for item in items %}
				<div class="product-name">{{ item.name }}</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
	<a class="btn btn-default btn-lg btn-xsm-block float-right" href="{{ app.url }}/account/orders">View All Orders</a>
	{% endif %}
{{ lonelyform.endcard() }}


{{ lonelyform.begincard() }}
	{% set wishlists = api.get('/wishlist',{query:{"customer_id":app.user.id}}) %}
	{% set _in = [] %}
	{% for wishlist in wishlists %} {% set _in = _in|merge([wishlist.id]) %} {% endfor %}
	{% set items = api.get('/wishlistitem', {query:{'wishlist_id': {'$in': _in}},
		attributes:'variant.name,variant.id,variant.price,variant.regular_price,variant.product.slug,variant.thumbnail',
		sort: 'date_created:-1', limit:3}) %}

        <h2>Recent Wish List Items</h2>
		{% if items is empty %}
		<p>You have yet to add items to a Wish List.</p>
		{% else %}
		
		{% for item in items %}
		    {% set priceclass = "" %}
		    {% set usespecial = 0 %}
			<div class="divide fsd1 g pb-3 mb-3">
			<div class="media media-cart">
				<div class="media-left">
					<img class="media-object" src="{{ item.variant.thumbnail}}" id="product-image-{{ item.variant.id }}" width="250" height="250" alt="">
				</div>
				<div class="media-body g">
					<a href="{{app.url}}/product/{{ item.variant.product.slug }}?variant={{item.variant.id}}"><div class="product-name">{{ item.variant.name }}</div></a>
					{% if item.variant.regular_price is not empty %}
                        {% set shownprice = item.variant.regular_price %}
                        {% set priceclass = " price-special" %}
                        {% set usespecial = 1 %}
                    {% else  %}
                        {% set shownprice = item.variant.price %}
					{% endif %}
					{% spaceless %}
					<div class="pricing mb-3">
						<div class="price{{priceclass}}">
							{{ prod.currency(shownprice|number_format(2)) }}{% if usespecial %}<span class="special">Lower Price in Cart</span>{% endif %}
						</div>
					</div>
					{% endspaceless %}
					{% set it = api.get('/wishlistitem', {query:{'product_id': variant.product.id}})[0] %}
					{% set wi = api.get('/wishlist',{query:{"customer_id":app.user.id, "id": it.wishlist_id}})[0] %}
					<a href="{{ app.url }}/account/wishlist/{{ wi.id }}"><i><u>{{ wi.name }}</u></i></a>
				</div>
			</div>
			</div>
		{% endfor %}
		<a href="{{ app.url }}/account/wishlists" class="btn btn-default btn-lg btn-xsm-block float-right">View All Wish Lists</a>
		{% endif %}
	</div>
{{ lonelyform.endcard() }}
{{ lonelyform.end() }}

{{account.navigatend()}}
{% endblock %}