{%- import "/_macros/base.html.twig" as base -%}
{% set categories = api.get('/category/sapling') %}

<style>
.mobile.yta-open, .mobile.yta-open body {overflow:hidden;}
.yta-toggle {cursor:pointer;}

.yta-mask {visibility:hidden; opacity:0; position:fixed; z-index:3; top:-100px; bottom:-100px; left:0; right:0; background:rgba(0,0,0,.25); transition:all 300ms ease;}
.yta-open .yta-mask {visibility:visible; opacity:1;}

#yta-menu {position:fixed; z-index:4; top:0; left:-280px; width:280px; height:100%; font-size:14px; background:#fbfbfb; overflow-y:auto; opacity:0; transition:all 300ms ease;}
.yta-open #yta-menu  {left:0; opacity:1;}
#yta-menu .yta-getsub, #yta-menu .yta-toggle {width:48px; margin:0; cursor:pointer;}
.yta-head {height:48px; line-height:48px; text-align:right;}
.yta-head .fa {line-height:48px;}
#yta-menu ul {list-style:none; margin:0; padding:10px 0;}
#yta-menu ul ul {padding:0; font-size:12px; /* */ height:0; visibility:hidden; opacity:0; overflow:hidden; transition:all 200ms ease;}
#yta-menu ul ul.active {/* */ height:auto; padding:0 0 5px 10px; visibility:visible; opacity:1;}
#yta-menu li {position:relative;}
#yta-menu li>a, #yta-menu li>span {display:block; padding:0 20px; color:#333; line-height:32px; text-decoration:none; text-transform:uppercase; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#yta-menu li>.fa {position:absolute; top:0; right:0; height:32px; line-height:32px;}
#yta-menu li li>a {line-height:30px;}
#yta-menu li li>.fa {height:30px; line-height:30px;}
.yta-bg {background:#fff; box-shadow:0 0 1px rgba(0,0,0,.3);}
</style>

{% spaceless %}

<ul>
	<li>
		<a href="{{app.url}}"><span>Home</span></a>
	</li>

	{% if app.user.id %}
	<li>
		<span>My Account</span><i class="fa fa-chevron-down yta-getsub"></i>
		<ul>
			<li><a href="{{ app.url }}/account/notifications">Notifications</a></li>
			<li><a href="{{ app.url }}/account/addresses">Addresses</a></li>
			<li><a href="{{ app.url }}/account/orders">Orders</a></li>
			<li><a href="{{ app.url }}/account/wishlists">Wish Lists</a></li>
			<li><a href="{{ app.url }}/account/reviews">Reviews</a></li>
			<li><a href="{{ app.url }}/account/returns">Returns</a></li>
			<li><a href="{{ app.url }}/account/account-settings">Settings</a></li>
			<li><a href="{{ app.url }}/account/logout">Logout</a></li>
		</ul>
	</li>
	{% else %}
	<li>
		<a href="{{app.url}}/account/login"><span>Sign In / Sign Up</span></a>
	</li>
	{% endif %}
	<li>
		<a href="{{app.url}}/contact"><span>Contact</span></a>
	</li>
</ul>
<ul>
	<li><span>
		<form role="search" action="{{ app.url }}/search" method="get">
			<div class="input-group">
				<input class="form-control" type="text" value="" name="s" placeholder="Search">
				<div class="input-group-btn">
					<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</span></li>
</ul>
<ul>
	{% set id = 0 %}
	{% for main_category,items in categories %}
		{% set id = id + 1 %}
		<li>
			<a href="{{app.url}}/category/{{ items.slug }}"><span>{{main_category}}</span></a>
			{% if items.limb|length %}
			<i class="fa fa-chevron-down yta-getsub"></i>
			<ul>
				{% set i = 0 %}
				{% for category,subitems in items.limb %}
					{% set i = i + 1 %}
					{% if subitems.limb|length %}
						{% set subid = "submenu-" ~ id ~ "-" ~ i %}
						{{ base.subcategory_mobile(category, subitems, subid) }}
					{% else %}
						<li><a href="{{app.url}}/category/{{subitems.slug}}"><span>{{category}}</span></a></li>
					{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endspaceless %}