{%- import "/_macros/base.html.twig" as base -%}
{% set categories = api.get('/category/sapling') %}

{% spaceless %}
<ul>
	<li>
		<a href="{{app.url}}"><span>Home</span></a>
	</li>

	{% if app.user.id %}
	<li>
		<span>My Account</span><i class="fa fa-chevron-down yta-getsub"></i>
		<ul>
			<li><a href="{{ app.url }}/account/notifications">Notifications</a></li>
			<li><a href="{{ app.url }}/account/addresses">Addresses</a></li>
			<li><a href="{{ app.url }}/account/orders">Orders</a></li>
			<li><a href="{{ app.url }}/account/wishlists">Wish Lists</a></li>
			<li><a href="{{ app.url }}/account/reviews">Reviews</a></li>
			<li><a href="{{ app.url }}/account/returns">Returns</a></li>
			<li><a href="{{ app.url }}/account/account-settings">Settings</a></li>
			<li><a href="{{ app.url }}/account/logout">Logout</a></li>
		</ul>
	</li>
	{% else %}
	<li>
		<a href="{{app.url}}/account/login"><span>Sign In / Sign Up</span></a>
	</li>
	{% endif %}
	<li>
		<a href="{{app.url}}/contact"><span>Contact</span></a>
	</li>
</ul>
<ul>
	<li><span>
		<form role="search" action="{{ app.url }}/search" method="get">
			<div class="input-group">
				<input class="form-control" type="text" value="" name="s" placeholder="Search">
				<div class="input-group-btn">
					<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</span></li>
</ul>
<ul>
	{% set id = 0 %}
	{% for main_category,items in categories %}
		{% set id = id + 1 %}
		<li>
			<a href="{{app.url}}/category/{{ items.slug }}"><span>{{main_category}}</span></a>
			{% if items.limb|length %}
			<i class="fa fa-chevron-down yta-getsub"></i>
			<ul>
				{% set i = 0 %}
				{% for category,subitems in items.limb %}
					{% set i = i + 1 %}
					{% if subitems.limb|length %}
						{% set subid = "submenu-" ~ id ~ "-" ~ i %}
						{{ base.subcategory_mobile(category, subitems, subid) }}
					{% else %}
						<li><a href="{{app.url}}/category/{{subitems.slug}}"><span>{{category}}</span></a></li>
					{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endspaceless %}