{%- import "/_macros/base.html.twig" as base -%}
{% set categories = api.get('/category/sapling') %}

<style>
.mobile.yta-open, .mobile.yta-open body {height:100%; overflow:hidden;}
.yta-mask {visibility:hidden; opacity:0; position:fixed; z-index:1061; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,.5); transition:all 300ms ease;}
.yta-open .yta-mask {visibility:visible; opacity:1;}

#yta-menu {position:fixed; z-index:1062; top:0; bottom:0; left:-320px; width:320px; line-height:1.6; opacity:0; visibility:hidden; transition:all 300ms ease;}
.yta-open #yta-menu {left:0; opacity:1; visibility:visible;}
.yta-bodies {position:absolute; top:0; right:0; bottom:0; width:320px; overflow:hidden;}
.yta-body {position:absolute; top:0; right:0; bottom:0; width:320px; padding:12px 0 0; -webkit-overflow-scrolling:touch; overflow:scroll; overflow-x:hidden; overflow-y:auto; transition:all 300ms ease;}
.yta-open .yta-body:not(.deep, .burr) {opacity:1; visibility:visible;}
.yta-body.deep {right:-320px; visibility:hidden; opacity:0;}
.yta-body.burr {right:40px; visibility:hidden; opacity:0;}
#yta-menu ul {list-style:none; padding:0;}
#yta-menu li {position:relative; margin:0 0 1px;}
#yta-menu li:before, #yta-menu .yta-par:before {content:''; display:block; position:absolute; bottom:0; left:0; width:100%; border-bottom:1px solid #ddd;}
#yta-menu .yta-par {position:relative; margin:0 0 1px;}
#yta-menu a.btn {position:relative; display:block; text-align:left; overflow:hidden; text-overflow:ellipsis;}
#yta-menu a.btn:not(:only-child) {padding-right:3.25rem;}
#yta-menu ul ul {position:fixed; visibility:hidden; opacity:0;}

#yta-menu button {display:block;}
#yta-menu .yta-toggle {position:absolute; top:12px; left:100%; color:#fff!important;}
#yta-menu .yta-getsub {position:absolute; top:0; right:0;}
#yta-menu .yta-getpar {width:100%; text-align:left; overflow:hidden; text-overflow:ellipsis;}
</style>

{% spaceless %}

<div class="yta-mask yta-toggle"></div>
<nav id="yta-menu">
<div class="yta-head bgw"></div>
<div class="bgg yta-bodies">
<div class="yta-body bgg frame" data-depth="0">
<ul>
	<li>
	{% if app.user.id %}
		<a href="{{ app.url }}/account"><i class="fa fa-user"></i><span>My Account</span></a><button class="btn btn-lg btn-blank yta-getsub"><i class="fa fa-angle-right"><i class="sr-only">Account Subcategories</i></i></button>
		<ul>
			<li><a href="{{ app.url }}/account/notifications">Notifications</a></li>
			<li><a href="{{ app.url }}/account/addresses">Addresses</a></li>
			<li><a href="{{ app.url }}/account/orders">Orders</a></li>
			<li><a href="{{ app.url }}/account/wishlists">Wish Lists</a></li>
			<li><a href="{{ app.url }}/account/reviews">Reviews</a></li>
			<li><a href="{{ app.url }}/account/returns">Returns</a></li>
			<li><a href="{{ app.url }}/account/account-settings">Settings</a></li>
			<li><a href="{{ app.url }}/account/logout">Logout</a></li>
		</ul>
	{% else %}
		<a href="{{app.url}}/account/login"><i class="fa fa-user"></i><span>Log In / Sign Up</span></a>
	{% endif %}
	</li>

{% set id = 0 %}
{% for main_category,items in categories %}
	{% set id = id + 1 %}
	<li class="bgw yta-shop">
		<a{% if items.limb|length %} class="yta-hassub"{% endif %} href="{{app.url}}/category/{{ items.slug }}"><span>{{main_category}}</span></a>
		{% if items.limb|length %}
		<button class="btn btn-lg btn-blank yta-getsub"><i class="fa fa-angle-right"><i class="sr-only">{{main_category}} Subcategories</i></i></button>
		<ul>
			{% set i = 0 %}
			{% for category,subitems in items.limb %}
				{% set i = i + 1 %}
				{% if subitems.limb|length %}
					{% set subid = "submenu-" ~ id ~ "-" ~ i %}
					{{ base.subcategory_mobile(category, subitems, subid) }}
				{% else %}
					<li class="bgw"><a href="{{app.url}}/category/{{subitems.slug}}"><span>{{category}}</span></a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	</li>
{% endfor %}
    <li>
		<a href="{{app.url}}/contact"><i class="far fa-comment"></i><span>Contact</span></a>
	</li>
</ul>
</div>
</div>
<button class="btn btn-lg btn-blank yta-toggle"><i class="fa fa-close"><i class="sr-only">Close Mobile Menu</i></i></button>
</nav>
{% endspaceless %}