{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/base.html.twig" as base %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'orders' %}
{% set limit = app.request.get.limit|default(6) %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %}

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}

{{account.navigation('orders')}}

{% set search = app.request.get.q is defined ? app.request.get.q : '' %}
{% set query = {} %}
{% if app.request.get.daterange != '' %}
	{% set query = {date_created:{'$gte':strtotime(app.request.get.daterange)|date('Y-m-d')}} %}
{% endif %}
{% set orders = api.get('/order', {query:{customer_id:app.user.id} + query,search:app.request.get.q,sort:'id:-1',limit:limit,page:app.request.get.page}) %}

{{ lonelyform.begin()}}
<h1>Orders</h1>

{% if query is not empty or search is not empty or orders is not empty %}

{{ lonelyform.begincard('bg-light')}}
{{ forms.begin('ordersearch', app.url ~ '/account/orders', 'get') }}
<div class="row page-filters">
	<div class="col-lg-6 mb-3 mb-lg-0">
		<div class="input-group">
		    <label class="sr-only" for="searchlist">Search orders</label>
			<input type="search" id="searchlist" name="q" value="{{app.request.get.q|e}}" class="form-control" placeholder="Search order details">
			<span class="input-group-append"><button type="submit" class="btn btn-default"><i class="fa fa-search"><i class="sr-only">Search Orders</i></i></button></span>
		</div>
	</div>
	<div class="col-lg-6">
		{{ forms.select('daterange', app.request.get.daterange|e, {'-6 months':'6 months ago', '-3 months' : '3 months ago', '-1 month' : '1 month ago', '-1 week' : '1 week ago', '-1 day' : '1 day ago', '' : 'All orders'}, {class:'form-control form-control-autosubmit'}) }}
	</div>
</div>
{{ forms.end() }}
{{ lonelyform.endcard()}}

{% endif %}

{% if orders is empty %}

{% if query is empty and search is empty %}
<p>You have yet to place an order.</p>
{% else %}
<p>You do not have any matching orders. Try adjusting your search.</p>
{% endif %}


{% else %}

{% for order in orders %}

{{ lonelyform.begincard()}}
	<div class="row">
		<div class="col-lg-5 fsd1 mb-4 mb-lg-0">

			<h2>Order: #{{ order.order_number }}</h2>
			<div>Status: {{ order.status }}</div>
			<div class="mb-3">{{ order.date_created }}</div>

			{% if order.hide_shipping != true %}
			<div class="divide g mb-3 pb-3">
				<h3>Shipping Address</strong></h3>
				<address>
					{{ order.shipping_street_line1 }}<br>
					{% if order.shipping_street_line2 %}{{ order.shipping_street_line2 }}<br>{% endif %}
					{% if order.shipping_company %}{{ order.shipping_company }}<br>{% endif %}
					{{ order.shipping_city }}, {{ order.shipping_state }} {{ order.shipping_zip }}<br>
					{{ order.shipping_country }}
				</address>
			</div>
			{% endif %}
			<div class="totals-total mb-3">
				Total: {{ prod.currency(order.total|number_format(2)) }}
			</div>
			<a class="btn btn-default btn-xsm-block" href="{{ app.url }}/account/order/{{ order.order_number }}">Order Details <span class="sr-only">for order #{{ order.order_number }}</span></a>
		</div>
		<div class="col-lg-7 fsd1 g">
			{% if order.fraud_check is not empty %}
			<div class="alert alert-warning">
				Please call customer service for faster processing on this order.
			</div>
			{% endif %}
			{% set items = api.get('/orderitem', {query:{order_id:order.id}}) %}
			{% set product_ids = items|values_in('product_id') %}
			{% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}
			{% for item in items %}
				{% set product = products[item.product_id].0 %}
				<div class="divide pb-3 g mb-3">
					<div class="media">
						<div class="media-left">
							<img class="media-object" src="{{ product.thumbnail }}" width="250" height="250" alt="">
						</div>
						<div class="media-body">
							<a href="{{ app.url ~ product.url }}"><span class="product-name">{{ product.name }}</span></a>
							<div class="pricing">
    							<div class="price">{{ prod.currency(product.price|number_format(2, '.')) }}</div>
    						</div>
    
    						<div>Qty: {{ item.quantity }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{{ lonelyform.endcard()}}
{% endfor %}

<div class="text-center">
	{{ base.pagination(orders.num_total,limit) }}
</div>
{% endif %}
{{ lonelyform.end() }}

{{account.navigatend()}}
{% endblock %}
{% block js %}
{{ app.asset.js(app.url_asset ~ '/assets/js/account.js') }}
{% endblock %}
