{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/base.html.twig" as base %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'orders' %}
{% set limit = app.request.get.limit|default(6) %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %}

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}

{# Begin navigation #}

{{account.navigation('orders')}}

{# End navigation #}
{# Begin order history list #}

<h1>Orders</h1>

<div class="page-filters divide p">
	<div class="row">
		{# Begin order filter #}
		<div class="col-xs-6 col-sm-4 p">
			<div class="order-filter">
				{{ forms.begin('ordersearch', app.url ~ '/account/orders', 'get') }}
				{{ forms.select('daterange', app.request.get.daterange|e, {'-6 months':'6 months ago', '-3 months' : '3 months ago', '-1 month' : '1 month ago', '-1 week' : '1 week ago', '-1 day' : '1 day ago', '' : 'All orders'}, {class:'form-control'}) }}
			</div>
		</div>
		{# End order filter #}
		{# Begin order search #}
		<div class="col-xs-6 col-sm-4 p pull-right">
			<div class="search-within">
				<div class="input-group">
					<input type="search" id="searchlist" name="q" value="{{app.request.get.q|e}}" class="form-control" placeholder="Search">
					<span class="input-group-btn"><button type="submit" class="btn btn-default"><i class="fa fa-search"><i class="sr-only">Search</i></i></button></span>
				</div>
			</div>
		</div>
		{# End order search #}
		{{ forms.end() }}
	</div>
</div>
{# End header #}
{# Begin pagination #}
{% set query = {} %}
{% if app.request.get.daterange != '' %}
	{% set query = {date_created:{'$gte':strtotime(app.request.get.daterange)|date('Y-m-d')}} %}
{% endif %}
{% set orders = api.get('/order', {query:{customer_id:app.user.id} + query,search:app.request.get.q,sort:'id:-1',limit:limit,page:app.request.get.page}) %}
<div class="text-center">
	{{ base.pagination(orders.num_total,limit) }}
</div>
{# End pagination #}
{% if orders is empty %}
<p>There are no orders.</p>
{% endif %}
{% for order in orders %}
{# Begin order #}
<div class="order">
	<div class="well">
		<div class="row">
			{# Begin order details #}
			<div class="order-details col-xs-12 col-sm-4 fsd1 p-xs-2x">
				<div class="order-info p">
					<div><strong>Order Info</strong></div>
					<div>Order: #{{ order.order_number }}</div>
					<div>Status: {{ order.status }}</div>
					<div>Ordered: {{ order.date_created }}</div>
				</div>
				{% if order.hide_shipping != true %}
				<div class="shipping-address">
					<div><strong>Shipping Address</strong></div>
					<address>
						{{ order.shipping_street_line1 }}<br>
						{% if order.shipping_street_line2 %}{{ order.shipping_street_line2 }}<br>{% endif %}
						{% if order.shipping_company %}{{ order.shipping_company }}<br>{% endif %}
						{{ order.shipping_city }}, {{ order.shipping_state }} {{ order.shipping_zip }}<br>
						{{ order.shipping_country }}
					</address>
				</div>
				{% endif %}
				<div class="order-total p">
					Total: {{ prod.currency(order.total|number_format(2)) }}
				</div>
				{# Begin actions #}
				<div class="actions">
					<a class="btn btn-default" href="{{ app.url }}/account/order/{{ order.order_number }}">Order Details</a>
				</div>
				{# Begin actions #}
			</div>
			{# End order details #}
			{# Begin order items #}
			<div class="col-xs-12 col-sm-8 fsd1 g">
				{% if order.fraud_check is not empty %}
				<div class="alert alert-warning">
					Please call customer service for faster processing on this order.
				</div>
				{% endif %}
				{% set items = api.get('/orderitem', {query:{order_id:order.id}}) %}
				{% set product_ids = items|values_in('product_id') %}
				{% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}
				{% for item in items %}
					{% set product = products[item.product_id].0 %}
					<div class="divide pad-b g p">
						<div class="media">
							{# Begin item image #}
							<div class="media-left">
								<a href="{{ app.url ~ product.url }}">
									<img class="media-object" src="{{ product.thumbnail }}" width="250" height="250" alt="">
								</a>
							</div>
							{# End item image #}
							{# Begin item details #}
							<div class="media-body">
								<a href="{{ app.url ~ product.url }}">{{ product.name }}</a>
							</div>
							{# End item details #}
						</div>
					</div>
				{% endfor %}
			</div>
			{# End order items #}
		</div>
	</div>
</div>
{# End order #}
{% endfor %}
{# Begin pagination #}
<div class="text-center">
	{{ base.pagination(orders.num_total,limit) }}
</div>
{# End pagination #}
{# End order history list #}
{{account.navigatend()}}
{% endblock %}
{% block js %}
{{ app.asset.js(app.url_asset ~ '/assets/js/orders.js?v=06192014') }}
{% endblock %}
