{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements.html.twig" as form %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'registries' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here' 
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}
{% if app.request.post.registry.action is not empty %}
{% set action = app.request.post.registry.action|split('/')|first %}
{% set id = app.request.post.registry.action|split('/')|last %}

{% if action != id %}
{% set registry = api.get('/registry/' ~ id) %}
{% if registry.customer_id != app.user.id %}
{% do app.redirect('/account/registries') %}
{% endif %}
{% endif %}

{% endif %}

{# Begin navigation #}

{{account.navigation('registries')}}
				
{# Begin registries #}
{{ form.begin('registry') }}
{% set registries = api.get('/registry',{query:{"customer_id":app.user.id}}) %}
{% if registries is empty %}
{{ lonelyform.begin()}}
<h1>Registries</h1>
{{ lonelyform.begincard()}}
<p>You have yet to create a Registry.</p>
<a class="btn btn-primary btn-block btn-lg" href="{{app.url}}/account/registry/create">Create New Registry</a>
{{ lonelyform.endcard()}}
{{ lonelyform.end() }}
{% else %}

<h1>Registries</h1>
<div class="row">
{% for registry in registries %}
	<div class="col-md-6 col-xl-4">
		<div class="card{% if registry.default %} bg-light{% endif %}">
			<div class="card-header">
				{% if registry.default %}<i class="fa fa-star"></i>{% endif %} <strong>{{ registry.name }}</strong>
			</div>
			<div class="card-body">
				<div class="item-count"><b>{{ registry.item_count }}</b> Item(s)</div>
				<div>{{ registry.privacy }}</div>
				<div class="fsd1 mt-3 pb-3 divide mb-3 g">
				{% if registry.default %}
					<u>Default Wish List</u>
				{% else %}
					<br>
				{% endif %}
				</div>
				<a class="btn btn-default" href="{{app.url}}/registry/{{registry.id}}">View <span class="sr-only">{{ registry.name }}</span></a>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{# End registries #}
<a class="btn btn-default" href="{{app.url}}/account/registry/create">Create New Registry</a>
{% endif %}

{{ form.end() }}
{{account.navigatend()}}
{% endblock %}