{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements.html.twig" as form %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'Registries' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here' 
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}
{% if app.request.post.registry.action is not empty %}
{% set action = app.request.post.registry.action|split('/')|first %}
{% set id = app.request.post.registry.action|split('/')|last %}

{% if action != id %}
{% set registry = api.get('/registry/' ~ id) %}
{% if registry.customer_id != app.user.id %}
{% do app.redirect('/account/registries') %}
{% endif %}
{% endif %}

{% endif %}

{{account.navigation(config,'registries')}}
				
{{ form.begin('registry') }}
{% set registries = api.get('/registry',{query:{"customer_id":app.user.id}}) %}

{{ lonelyform.begin()}}
<h1>Registries</h1>
{{ lonelyform.begincard('bg-light')}}
<div class="row">
	<div class="col-lg-6">
		<a href="{{app.url}}/account/registry/create" class="btn btn-default btn-block">Create New Registry</a>
	</div>
</div>
{{ lonelyform.endcard()}}

{% if registries is empty %}

<p>You have yet to create a Registry.</p>

{% else %}

<div class="row card-height fsd1">
{% for registry in registries %}
	<div class="col-md-6 col-xl-4 g mb-3">
		<div class="card{% if registry.default %} bg-light{% endif %}">
			<div class="card-body">
			    <h2 class="h3">{% if registry.default %}<i class="fa fa-gift"></i>{% endif %}<span>{{ registry.name }}</span></h2>
				<div class="item-count"><strong>{{ registry.item_count }}</strong> Item(s)</div>
				<div>{{ registry.privacy }}</div>
				{% if registry.default %}
				<div class="fsd1 mt-3">
					<em>Default Registry</em>
				</div>
				{% endif %}
			</div>
			<div class="card-footer">
                <a class="btn btn-default btn-block" href="{{app.url}}/registry/{{registry.id}}">View <span class="sr-only">{{ registry.name }}</span> List</a>
            </div>
		</div>
	</div>
{% endfor %}
</div>
{% endif %}

{{ form.end() }}

{{ lonelyform.end() }}

{{account.navigatend()}}
{% endblock %}