{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/base.html.twig" as base %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'returns' %}
{% set limit = app.request.get.limit|default(6) %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %}

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
	{#
		Passed into the macro is a array of key:value pairs as (title):(relative url)
			- The last link should not have a url, as it will be used as a 'you are here'
	#}
	{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}

{# Begin navigation #}

{{account.navigation('returns')}}

{% set query = {} %}
{% if app.request.get.returnsearch.daterange != '' %}
	{% set query = {date_created:{'$gte':strtotime(app.request.get.daterange)|date('Y-m-d')}} %}
{% endif %}
{% set returns = api.get('/orderreturn', {query:{customer_id:app.user.id} + query,search:app.request.get.q,sort:'id:-1',limit:limit,page:app.request.get.page}) %}


{{ lonelyform.begin()}}
<h1>Returns</h1>

{% if returns is empty %}

{{ lonelyform.begincard()}}
<p class="text-center">You have yet to create a return.</p>
<a href="{{app.url}}/return" class="btn btn-primary btn-lg btn-block">Create Return</a>
{{ lonelyform.endcard()}}

{% else %}

{{ lonelyform.begincard('bg-light')}}
<div class="page-filters divide mb-3">
	<div class="row">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="input-group">
                <label class="sr-only" for="searchlist">Search returns</label>
				<input type="search" id="searchlist" name="q" value="{{app.request.get.q|e}}" class="form-control" placeholder="Search returns">
				<span class="input-group-append"><button type="submit" class="btn btn-default"><i class="fa fa-search"><i class="sr-only">Search Returns</i></i></button></span>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="return-filter">
				{{ forms.begin('returnsearch', app.url ~ '/account/returns', 'get') }}
				{{ forms.select('daterange', app.request.get.daterange|e, {'-6 months':'6 months ago', '-3 months' : '3 months ago', '-1 month' : '1 month ago', '-1 week' : '1 week ago', '-1 day' : '1 day ago', '' : 'All returns'}, {'class':'form-control form-control-autosubmit'}) }}
			</div>
		</div>
		{{ forms.end() }}
	</div>
</div>
{{ lonelyform.endcard()}}

{% for return in returns %}
{{ lonelyform.begincard()}}
	<div class="row fsd1">
		<div class="col-lg-5 g mb-3 mb-lg-0">
			<h2>RMA #: #{{ return.rma }}</h2>
			<div>Status: {{ return.status }}</div>
			<div>{{ return.date_created }}</div>

			{% if return.status == 'pending' %}
			{# FIXME: This should be a post request and a modal #}
			<button class="btn btn-default btn-xsm-block mt-3" data-toggle="modal" data-target="#cancel-modal">Cancel Return</button>
			<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-modal-label" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
                            <div class="h3 modal-title" id="cancel-modal-label">Cancel Return</div>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body"><p>Are you sure you want to cancel this return?</p></div>
						<div class="modal-footer"><div class="flex-fill">
							{{ forms.begin('return',app.url ~ '/return/actions','post') }}
							<a class="btn btn-default btn-block btn-lg" data-dismiss="modal">Back</a>
							{{ forms.submit('action','cancel','Cancel Return', {class:'btn btn-danger btn-block btn-lg'}) }}
							{{ forms.hidden('id',return.id) }}
							{{ forms.end() }}
						</div></div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="col-lg-7 g">
			{% set item = api.get('/orderitem/' ~ return.item_id) %}
			{% set product = api.get('/variant/' ~ item.variant_id) %}
			<div class="divide g mb-3 pb-3">
				<div class="media">
					<div class="media-left">
						<img class="media-object" src='{{ product.thumbnail }}' width="250" height="250" alt="">
					</div>
					<div class="media-body">
						<a href="{{ app.url ~ product.url }}"><span class="product-name">{{ item.name }}</span></a>
						<div class="pricing">
							<div class="price">{{ prod.currency(product.price|number_format(2, '.')) }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ lonelyform.endcard()}}

{% endfor %}

<div class="text-center">
	{{ base.pagination(returns.num_total,limit) }}
</div>
{% endif %}

{{ lonelyform.end() }}

{{account.navigatend()}}
{% endblock %}
{% block js %}
{{ app.asset.js(app.url_asset ~ '/assets/js/account.js') }}
{% endblock %}
