{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'reviews' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here' 
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{# Load in the main content positioned in /_layouts/main/base.html.twig #}
{% block content %}
{# 
Load in the tabs for the page, pass in the name of this page, and make sure it's
set in the array in /account/_macros/base.html.twig
#}
{% set reviews = api.get('/productreview',{'query': {'customer_id':app.user.id } }) %}

{# Begin navigation #}

{{account.navigation('reviews')}}

{# End navigation #}
{# Begin reviews #}
	
<h1>Reviews</h1>

{% if reviews is empty %}
{{ lonelyform.begin()}}
{{ lonelyform.begincard()}}
<p class="text-center">You have yet to write a review.</p>
{{ lonelyform.endcard()}}
{{ lonelyform.end() }}
{% else %}

<div class="table-responsive">
	<table class="table fsd1 table-hover table-striped tablesorter">
		<thead>
			<tr>
				<th>Product</th>
				<th>Title</th>
				<th class="text-right">Date</th>
			</tr>
		</thead>
		<tbody>
			{# Begin review #}
			{% for review in reviews %}
			{% set product = api.get('/product/'~review.product_id) %}
			<tr>
				<td><a href="{{ app.url }}/account/review/{{review.id}}/edit">{{ product.name }}</a></td>
				<td>{{ review.title }}</td>
				<td class="text-right">{{ review.date|strtotime|date("Y/m/d") }}</td>
			</tr>
			{% endfor %}
			{# End review #}
		</tbody>
	</table>
</div>
{% endif %}
{# End reviews #}
{{account.navigatend()}}
{% endblock %}