{% block toolbar %}
{%- import "/_macros/product.html.twig" as prod -%}
{% spaceless %}
<div id="toolbar">
	<div class="container">
	    <div class="pos-r">
	        <div class="omm nav-mobile hidden-md hidden-lg">
				<button class="btn btn-link btn-sq btn-lg btn-sq-lg yta-launch yta-toggle">
					<i class="fa fa-bars"><i class="sr-only">Open Mobile Menu</i></i>
				</button>
			</div>
            <div class="logo"><a class="image-space" href="{{app.url}}/">
				{% if app.params.logoimages is not empty %}
					{% set logo_info = app.params.logoimages | first %}
					{% set logo = logo_info.url %}
				{% endif %}
				{% if logo is not empty %}
				<img class="img-responsive isd" src="{{ logo }}" alt="Return to {{app.params.site.title}} Homepage">
				{% else %}
				<span class="isd">{{ app.params.site.title }}</span>
				{% endif %}
			</a></div>
			<div class="search">
				<form role="search" class="search-form" method="get" action="{{app.url}}/search">
				    <label class="sr-only" for="search">Search products</label>
					<div class="form-group twitter-typeahead">
						<input class="form-control input-lg typeahead search-autocomplete" id="search" data-provide="typeahead" autocomplete="off" type="text" name="s" placeholder="Search products">
						<button class="btn btn-blank btn-lg btn-sq-lg" type="submit">
							<i class="fa fa-search"><i class="sr-only">Search products</i></i>
						</button>
					</div>
				</form>
			</div>
			<div class="mya">
            	<div class="btn-group my-account">
            		<button id="dropdown-account" class="btn btn-lg btn-sq btn-sq-lg btn-link dropdown-toggle" data-toggle="dropdown">
            			<i class="fa fa-user"><i class="sr-only">My Account</i></i>
            		</button>
            	</div>
            </div>
			<div class="cart nav-mobile">
				<a class="pos-r btn btn-lg btn-link btn-sq btn-sq-lg" href="{{app.url}}/cart">
					<span><i class="fa fa-shopping-cart"></i></span><span class="sr-only">My Cart</span><span class="dib fsd1 item-count"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container no-arrow pos-r" id="qc-parent">
    <div class="quickcart" data-content="" data-placement='bottom' rel='popover'>
		<div class="ajaxcart" style="display:none">
			<div class="popover-close divide pad-b">
				<button id="ajaxcart-close" class="btn btn-default btn-sm pull-right"><i class="fa fa-times"><i class="sr-only">Close</i></i></button>
				<h3 class="al-btn-sm">Quick Cart</h3>
			</div>
			<div class="error g">
			</div>
			
			<div class="ajaxcart-products divide fsd1">
				<div class="ajaxcart-product pad-h divide g">
					<div class="media">
						<div class="media-left">
							<img class="media-object product-image" src="{{ app.url_asset }}/assets/images/product/image-250x250.gif" width="250" height="250" alt="">
						</div>
						<div class="media-body">
							<div class="product-name"></div>
							<div class="price"><b>Price: </b>{{ prod.currency("0.00") }}</div>
							<div class="quantity"><b>Qty: </b><span class="product-quantity"></span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart-totals pad-h fsd1">
				<div class="items">You have <b class="item-count"></b> Item(s) in your Cart.</div>
				<div class="subtotal"><b>Subtotal: </b>{{ prod.currency("0.00") }}</div>
			</div>
			<a href="{{ app.url }}/cart" class="btn btn-block btn-lg btn-primary btn-cart">My Cart</a>
		</div>
	</div>
</div>
{% endspaceless %}
{% endblock %}