{% block toolbar %}
{%- import "/_macros/product.html.twig" as prod -%}
{% spaceless %}
<div id="toolbar">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 g pull-right text-right hidden-xs hidden-sm tool-wing">
				<ul class="list-inline" id="tools">
					<li class="cart">
						<a class="btn btn-link tool-tab" href="{{app.url}}/cart">
							<i class="fa fa-shopping-bag"></i><span class="text">My Cart</span><span class="dib item-count"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-3 hidden-xs hidden-sm tool-wing">
				<div class="search">
					<form role="search" class="search-form" method="get" action="{{app.url}}/search">
					    <label class="sr-only" for="search">Search</label>
						<div class="form-group input-group twitter-typeahead">
							<span class="input-group-btn">
								<button class="btn btn-link" type="submit">
									<i class="fa fa-search"><i class="sr-only">Search</i></i>
								</button>
							</span>
							<input class="form-control input-white typeahead search-autocomplete" id="search" data-provide="typeahead" autocomplete="off" type="text" name="s" placeholder="Search" title="Search">
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-3 nav-mobile hidden-md hidden-lg">
				<button class="btn btn-link btn-sq pull-left yta-launch yta-toggle">
					<i class="fa fa-bars"><i class="sr-only">Mobile Menu</i></i>
				</button>
			</div>
			<div class="col-xs-6 col-md-offset-1 col-md-4 text-center">
				<div class="image-space logo">
					{% if app.params.logoimages is not empty %}
						{% set logo_info = app.params.logoimages | first %}
						{% set logo = logo_info.url %}
					{% endif %}
					{% if logo is not empty %}
					<a href="{{app.url}}/"><img class="img-responsive isd" src="{{ logo }}" alt="Return to {{app.params.site.title}} Homepage"></a>
					{% else %}
					<a href="{{app.url}}/"><span class="isd">{{ app.params.site.title }}</span></a>
					{% endif %}
				</div>
			</div>
			<div class="col-xs-3 nav-mobile hidden-md hidden-lg">
				<a class="btn btn-link btn-sq pull-right" href="{{app.url}}/cart#2">
					<i class="fa fa-shopping-bag"><i class="sr-only">My Cart</i></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container no-arrow pos-r" id="qc-parent">
    <div class="quickcart" data-content="" data-placement='bottom' rel='popover'>
		<div class="ajaxcart" style="display:none">
			<div class="popover-close divide pad-b">
				<button id="ajaxcart-close" class="btn btn-default btn-sm pull-right"><i class="fa fa-times"><i class="sr-only">Close</i></i></button>
				<h3 class="al-btn-sm">Quick Cart</h3>
			</div>
			<div class="error g">
			</div>
			
			<div class="ajaxcart-products divide fsd1">
				<div class="ajaxcart-product pad-h divide g">
					<div class="media">
						<div class="media-left">
							<img class="media-object product-image" src="{{ app.url_asset }}/assets/images/product/image-250x250.gif" width="250" height="250" alt="">
						</div>
						<div class="media-body">
							<div class="product-name"></div>
							<div class="price"><b>Price: </b>{{ prod.currency("0.00") }}</div>
							<div class="quantity"><b>Qty: </b><span class="product-quantity"></span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart-totals pad-h fsd1">
				<div class="items">You have <b class="item-count"></b> Item(s) in your Cart.</div>
				<div class="subtotal"><b>Subtotal: </b>{{ prod.currency("0.00") }}</div>
			</div>
			<a href="{{ app.url }}/cart" class="btn btn-block btn-lg btn-primary btn-cart">My Cart</a>
		</div>
	</div>
</div>
{% endspaceless %}
{% endblock %}