{% if app.request.isAjaxRequest() %}				
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-account">
{% if app.user.id is null %}
	<a class="dropdown-item" href="{{app.url}}/account/login">Log In</a>
	<a class="dropdown-item" href="{{app.url}}/account/create">Create Account</a>
	<a class="dropdown-item" href="{{app.url}}/account/reset-password">Forgot password?</a>
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="{{app.url}}/order">Order Status</a>
	<a class="dropdown-item" href="{{app.url}}/return">Returns</a>
{% else %}
{% set customer = api.get('/customer/' ~ app.user.id) %}
	<a class="dropdown-item" href="{{app.url}}/account">My Account</a>
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="{{app.url}}/account/orders">Orders</a>
	<a class="dropdown-item" href="{{app.url}}/account/returns">Returns</a>
	<a class="dropdown-item" href="{{app.url}}/account/account-settings">Settings</a>
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="{{app.url}}/account/logout">Not {{ customer.first_name}}? <u>Logout</u></a>
{% endif %}
</div>
{% endif %}	