{% block toolbar %}
{%- import "/_macros/product.html.twig" as prod -%}
{% spaceless %}
<section class="fsd1 text-right" id="toolbar">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 g pull-right hidden-xs hidden-sm tool-wing">
				<ul class="list-inline" id="tools">
                    {% if app.request.isAjaxRequest() %}				
						{% if app.user.id is null %}
					<li class="tool">
						<div class="btn-group my-account">
							<a target="_new" type="button" id="dropdown-account" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-user hidden"></i><span>My Account</span><i class="fa fa-caret-down hidden"></i>
							</a>
							<ul class="dropdown-menu pull-right">
								<li><a href="{{app.url}}/account/login">Sign In / Sign Up</a></li>
								<li role="separator" class="divider"></li>
								<li> <a href="{{app.url}}/order">Order Status</a></li>
							</ul>
						</div>
					</li>
						{% else %}
						{% set customer = api.get('/customer/' ~ app.user.id) %}
					<li class="tool">
						<div class="btn-group my-account">
							<a type="button" id="dropdown-account" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-user hidden"></i><span>Hi, <u>{{ customer.first_name }}</u></span><i class="fa fa-caret-down hidden"></i>
							</a>
							<ul class="dropdown-menu pull-right">
								<li><a href="{{app.url}}/account">My Account</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{app.url}}/account/orders">Orders</a></li>
								<li><a href="{{app.url}}/account/wishlists">Wish Lists</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{app.url}}/account/logout">Not {{ customer.first_name}}? <u>Logout</u></a></li>
							</ul>
						</div>
					</li>
						{% endif %}
					{% endif %}						
					</li>
					<li class="cart">
						<a class="btn btn-link tool-tab" href="{{app.url}}/cart">
							<i class="fa fa-shopping-bag"></i><span class="text">My Cart</span><span class="dib item-count"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-3 hidden-xs hidden-sm tool-wing">
				<div class="search">
					<form role="search" class="search-form" method="get" action="{{app.url}}/search">
						<div class="form-group input-group twitter-typeahead">
							<span class="input-group-btn">
								<button class="btn btn-link" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
							<input class="form-control input-white typeahead search-autocomplete" data-provide="typeahead" autocomplete="off" type="text" name="s" placeholder="Search" title="Search">
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-3 nav-mobile hidden-md hidden-lg">
				<a class="btn btn-link btn-sq pull-left yta-launch yta-toggle" href="#">
					<i class="fa fa-bars"></i>
				</a>
			</div>
			<div class="col-xs-6 col-md-offset-1 col-md-4 text-center">
				<div class="image-space logo">
					{% if app.params.logoimages is not empty %}
						{% set logo_info = app.params.logoimages | first %}
						{% set logo = logo_info.url %}
					{% endif %}
					{% if logo is not empty %}
					<a href="{{app.url}}/"><img class="img-responsive isd" src="{{ logo }}" alt=""></a>
					{% else %}
					<a href="{{app.url}}/"><span class="isd">{{ app.params.site.title }}</span></a>
					{% endif %}
				</div>
			</div>
			<div class="col-xs-3 nav-mobile hidden-md hidden-lg">
				<a class="btn btn-link btn-sq pull-right" href="{{app.url}}/cart">
					<i class="fa fa-shopping-bag"></i><span class="item-count hidden">{{ api.get('/sessioncart').item_count }}</span>
				</a>
			</div>
		</div>
	</div>
</section>
<div class="container no-arrow pos-r" id="qc-parent">
    <div class="quickcart" data-content="" data-placement='bottom' rel='popover'>
		<div class="ajaxcart" style="display:none">
			<div class="popover-close divide">
				<div class="row p">
					<div class="col-xs-12">
						<button id="ajaxcart-close" class="btn btn-default btn-sm pull-right"><i class="fa fa-times"></i></button>
						<h3 class="al-btn-sm">Quick Cart</h3>
					</div>
				</div>
			</div>
			<div class="error g">
			</div>
			
			<section class="ajaxcart-products divide fsd1">
				<div class="ajaxcart-product pad-h divide g">
					<div class="media">
						<div class="media-left">
							<img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.gif'" class="media-object product-image" src="" width="250" height="250" alt="">
						</div>
						<div class="media-body">
							<div class="product-name"></div>
							<div class="price"><b>Price: </b>{{ prod.currency("0.00") }}</div>
							<div class="quantity"><b>Qty: </b><span class="product-quantity"></span></div>
						</div>
					</div>
				</div>
			</section>
			<div class="cart-totals pad-h fsd1">
				<div class="items">You have <b class="item-count"></b> Item(s) in your Cart.</div>
				<div class="subtotal"><b>Subtotal: </b>{{ prod.currency("0.00") }}</div>
			</div>
			<a href="{{ app.url }}/cart" class="btn btn-block btn-lg btn-primary btn-cart">My Cart</a>
		</div>
	</div>
</div>
{% endspaceless %}
{% endblock %}