{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'wishlists' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}
{% if app.request.post.wishlist.action is not empty %}
{% set action = app.request.post.wishlist.action|split('/')|first %}
{% set id = app.request.post.wishlist.action|split('/')|last %}

{% if action != id %}
{% set wishlist = api.get('/wishlist/' ~ id) %}
	{% if wishlist.customer_id != app.user.id %}
{% do app.redirect('/account/wishlists') %}
{% endif %}
{% endif %}

{% if action == 'delete' %}
{% include "/account/wishlist/_partials/delete.html.twig" %}
{% elseif action == 'makeDefault' %}
{% include "/account/wishlist/_partials/makeDefault.html.twig" %}
{% endif %}
{% endif %}
<div id="customer-account">
	<div class="row">
		{# Begin navigation #}
		<div class="navigation hidden-xs hidden-sm">
			<div class="col-md-3 col-lg-2">
				{{account.navigation('wishlists')}}
			</div>
		</div>
		{# End navigation #}
		{# Begin wishlists #}
		<div id="customer-account-wishlists">
			<div class="col-sm-12 col-md-9 col-lg-10">
				<h1 class="page-header">Your Wish Lists</h1>
				{# Begin wishlist #}
				{{ forms.begin('wishlist','','post',{ class:'' }) }}
				{% set wishlists = api.get('/wishlist',{query:{"customer_id":app.user.id}}) %}
				{% if wishlists is empty %}
				<p>There are no wishlists.</p>
				{% else %}
				{# Begin wishlists #}
				<div class="row">
					{% for wishlist in wishlists %}
					<div class="col-md-4 col-sm-6 cool-clear">
						<div class="panel panel-default panel-info ">
							<div class="panel-heading">
								<strong>{% if wishlist.default %}<i class="fa fa-star"></i>{% endif %}<span>{{ wishlist.name }}</span></strong>
							</div>
							<div class="panel-body">
								<div class="item-count">{{ wishlist.item_count }} items</div>
								<div class="privacy">{{ wishlist.privacy }}</div>
								<div class="default">{% if wishlist.default %}default wishlist{% endif %}</div>
							</div>
							<div class="panel-footer">
								<a class="btn btn-default" href="{{app.url}}/wishlist/{{wishlist.id}}">View</a>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
				{# End wishlists #}
				{% endif %}
				{# Begin actions #}
				<div class="form-group actions">
					<a class="btn btn-primary" href="{{ app.request.base}}/account/wishlist/create"><i class="fa fa-plus"></i><span>Create a New Wish List</span></a>
				</div>
				{# End actions #}
				{{ forms.end() }}
			</div>
		</div>
		{# End wishlists #}
	</div>
</div>
{% endblock %}
