{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'Wish Lists' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}
{% if app.request.post.wishlist.action is not empty %}
{% set action = app.request.post.wishlist.action|split('/')|first %}
{% set id = app.request.post.wishlist.action|split('/')|last %}

{% if action != id %}
{% set wishlist = api.get('/wishlist/' ~ id) %}
	{% if wishlist.customer_id != app.user.id %}
{% do app.redirect('/account/wishlists') %}
{% endif %}
{% endif %}

{% if action == 'delete' %}
{% include "/account/wishlist/_partials/delete.html.twig" %}
{% elseif action == 'makeDefault' %}
{% include "/account/wishlist/_partials/makeDefault.html.twig" %}
{% endif %}
{% endif %}

{# Begin navigation #}

{{account.navigation('wishlists')}}

{# End navigation #}
{# Begin wishlists #}
<h1>Your Wish Lists</h1>
{# Begin wishlist #}
{{ forms.begin('wishlist','','post',{ class:'' }) }}
{% set wishlists = api.get('/wishlist',{query:{"customer_id":app.user.id}}) %}
{% if wishlists is empty %}
<p>There are no wishlists.</p>
{% else %}
{# Begin wishlists #}
<div class="row">
	{% for wishlist in wishlists %}
	<div class="col-md-6 col-xl-4">
		<div class="card{% if wishlist.default %} bg-light{% endif %}">
			<div class="card-header">
				<strong>{% if wishlist.default %}<i class="fa fa-star"></i>{% endif %}<span>{{ wishlist.name }}</span></strong>
			</div>
			<div class="card-body">
				<div class="item-count"><b>{{ wishlist.item_count }}</b> Item(s)</div>
				<div><i>{{ wishlist.privacy|capitalize }}</i></div>
				<div class="fsd1 mt-3 pb-3 divide mb-3 g">
				{% if wishlist.default %}
					<u>Default Wish List</u>
				{% else %}
					<br>
				{% endif %}
				</div>
				<a class="btn btn-default" href="{{app.url}}/wishlist/{{wishlist.id}}">View</a>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{# End wishlists #}
{% endif %}
{# Begin actions #}
<a class="btn btn-default" href="{{ app.request.base}}/account/wishlist/create">Create a New Wish List</a>
{# End actions #}
{{ forms.end() }}
{# End wishlists #}
{{account.navigatend()}}
{% endblock %}