{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %} 

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'Wish Lists' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %} 

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{% block content %}
{% if app.request.post.wishlist.action is not empty %}
{% set action = app.request.post.wishlist.action|split('/')|first %}
{% set id = app.request.post.wishlist.action|split('/')|last %}

{% if action != id %}
{% set wishlist = api.get('/wishlist/' ~ id) %}
	{% if wishlist.customer_id != app.user.id %}
{% do app.redirect('/account/wishlists') %}
{% endif %}
{% endif %}

{% if action == 'delete' %}
{% include "/account/wishlist/_partials/delete.html.twig" %}
{% elseif action == 'makeDefault' %}
{% include "/account/wishlist/_partials/makeDefault.html.twig" %}
{% endif %}
{% endif %}


{{account.navigation(config,''wishlists')}}

{{ forms.begin('wishlist','','post',{ class:'' }) }}
{% set wishlists = api.get('/wishlist',{query:{"customer_id":app.user.id}}) %}

{{ lonelyform.begin()}}
<h1>Wish Lists</h1>
{{ lonelyform.begincard('bg-light')}}
<div class="row">
	<div class="col-lg-6">
		<a href="{{app.url}}/account/wishlist/create" class="btn btn-default btn-block">Create New Wish List</a>
	</div>
</div>
{{ lonelyform.endcard()}}

{% if wishlists is empty %}

<p>You have yet to create a Wish List.</p>

{% else %}

<div class="row card-height fsd1">
	{% for wishlist in wishlists %}
	<div class="col-md-6 col-xl-4 g mb-3">
		<div class="card{% if wishlist.default %} bg-light{% endif %}">
			<div class="card-body">
			    <h2 class="h3">{% if wishlist.default %}<i class="fa fa-heart"></i>{% endif %}<span>{{ wishlist.name }}</span></h2>
				<div class="item-count"><strong>{{ wishlist.item_count }}</strong> Item(s)</div>
				<div><i>{{ wishlist.privacy|capitalize }}</i></div>
				{% if wishlist.default %}
				<div class="fsd1 mt-3">
					<u>Default Wish List</u>
				</div>
				{% endif %}
			</div>
			<div class="card-footer">
                <a class="btn btn-default btn-block" href="{{app.url}}/wishlist/{{wishlist.id}}">View <span class="sr-only">{{ wishlist.name }}</span> List</a>
            </div>
		</div>
	</div>
{% endfor %}
</div>
{% endif %}


{{ forms.end() }}

{{ lonelyform.end() }}

{{account.navigatend()}}
{% endblock %}