{%- import "/_macros/base.html.twig" as base -%}
{%- import "/_macros/product.html.twig" as prod -%}
{% spaceless %}

{# Getting Seo from config.mode.json #}
{% if app.params.seo is defined and app.params.seo is not empty %}
	{% set seo = app.params.seo %}
{% else %}
	{% set seo = { img: "", description: "", keywords: "", title: "Home" } %}
{% endif %}
{# End Config Seo #}
{# Scripts #}


{{ app.asset.js(app.url_asset ~ '/assets/js/jquery-2.1.4.min.js') }}
{% if app.request.url == "checkout" %}
{{ app.asset.js(app.url_asset ~ '/assets/js/underscore-min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/backbone-min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/normalizer.js') }}
{% endif %}
{{ app.asset.js(app.url_asset ~ '/assets/js/bootstrap/bootstrap.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/site.js') }}

{% if app.params.seo.google_analytics is not empty and app.params.seo.google_tag_manager is empty %}
{{ app.asset.js(app.url_asset ~ '/assets/js/acendaAnalytics.js') }}
{% endif %}
{# End Scripts #}
{% endspaceless %}

{% set url_based_class = app.request.url|split('/')|last %}
{% set url_based_array = app.request.url|split('/') %}
{% set url_based_class = '' %}
{% for part in url_based_array %}
	{% set url_based_class = url_based_class ~ ' url-' ~ loop.index ~ '-' ~ part | e %}
{% endfor %}
{% if url_based_array.0 | trim == ''%}
	{% set url_based_class = 'store-home-page' %}
{% endif %}

<!DOCTYPE html>
<html class="{% spaceless %}{{ url_based_class }}{% endspaceless %} {% spaceless %}{% block dynamicclasses %}{% endblock %}{% endspaceless %}" lang="en">
<head>
{% if app.params.seo.google_tag_manager is not empty and app.params.seo.google_analytics is empty %}
	<!-- Google Tag Manager DataLayer -->
	<script>
		var dataLayer = [];
		{% block dataLayer %}
			{% include '/_partials/analytics/tag-manager.html.twig' %} {# Google Tag Manager Snippet #}
		{% endblock %}
	</script>
	<!-- Google Tag Manager DataLayer End -->
{% endif %}
{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="{% block meta_keywords %}{{ seo['keywords'] }}{% endblock %}">
<meta name="description" content="{% block meta_description %}{{ seo['description'] }}{% endblock %}">
<link rel="shortcut icon" href="{{ app.url ~ '/favicon.ico' ~ '?time=' ~ app.params.site.title }}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{app.url_asset}}/assets/css/theme/acendastrap.css" />
<link rel="stylesheet" type="text/css" href="{{app.url_asset}}/assets/css/theme/theme.css" />
<link rel="stylesheet" type="text/css" href="{{app.url_asset}}/assets/css/custom.css" />


<link rel="sitemap" href="{{app.url}}/api/sitemap" />
<link rel="canonical" href="{{ app.request.base ~ '/' ~ app.request.url | replace({'\"':'',"\'":''})  }}"/>

{% block css %}
{% endblock %}

<title>{% block title %}{% if app.params.site.page_title %}{{ app.params.site.page_title }}{% else %}{{ app.params.site.title}}{% endif %}{% endblock %}</title>

{% if app.params.social_settings is defined and app.params.social_settings is not empty %}
	{{ social.get_metatags(app.params.social_settings, seo) }}
{% endif %}

<script>
var acendaBaseName = '{{app.params.site.title}}';
var acendaBaseUrl = '{{app.url}}';
var acendaBaseThemeUrl = '{{app.url_asset}}';
</script>
<script>
	{% block acenda %}
		{% include '/_partials/analytics/acenda.html.twig' %}
	{% endblock %}
</script>


	{% endblock %}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
{% if app.params.seo.google_tag_manager is not empty and app.params.seo.google_analytics is empty %}
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ app.params.seo.google_tag_manager }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
{% endif %}		
{% include "/_layouts/stage_header.html.twig" %}

{% block body %}
<header id="header">
	{{ base.protected_site() }}
	{# avoiding the display of the menu when we're in the store-protected template #}
	{% if app.request.url != "store-protected" %}
		{# Begin Toolbar #}
		{% block header %}
			{%include "/_layouts/toolbar.html.twig"%}
		{% endblock %}
		{# End Toolbar #}
	{% endif %}
	{# avoiding the display of the menu when we're in the store-protected template #}
	{% if app.request.url != "store-protected" %}
		{# Begin Navigation #}
			{% include "/_layouts/nav.html.twig" %}
		{# End Navigation #}
	{% endif %}
</header>
{# End Header #}
{# Begin Content #}
<section class="{% if url_based_class != 'store-home-page' %}pad-h {% endif %}pad-b-2x" id="content" tabindex="-1">
	<div class="container">
		{% block breadcrumb %}{% endblock %}
		{% block stage %}
			{% block content %}
			{% endblock %}
		{% endblock %}
	</div>
</section>

{% block footer %}
{%include "/_layouts/footer.html.twig"%}
{% endblock %}
{% endblock %}
{% block js %}{% endblock %}

</body>
</html>