{%- import "/_macros/base.html.twig" as base -%}
{%- import "/_macros/product.html.twig" as prod -%}
{% set category_all = api.get('/category/sapling') %}
{% set cfile = "https://cdn.acenda.com/swift/v1/" ~ app.site ~ "/images/bucket/files/" %}
{% set config = api.get('/config') %}
{% set imgThumbnailWidth = config.components.imageManager.types.thumbnail.width is not empty ? config.components.imageManager.types.thumbnail.width : config.components.imageManager.types.thumbnail.maxWidth is not empty ? config.components.imageManager.types.thumbnail.maxWidth : "250" %}
{% set imgThumbnailHeight = config.components.imageManager.types.thumbnail.height is not empty ? config.components.imageManager.types.thumbnail.height : config.components.imageManager.types.thumbnail.maxHeight is not empty ? config.components.imageManager.types.thumbnail.maxHeight : "250" %}
{% set imgStandardWidth = config.components.imageManager.types.standard.width is not empty ? config.components.imageManager.types.standard.width : config.components.imageManager.types.standard.maxWidth is not empty ? config.components.imageManager.types.standard.maxWidth : "450" %}
{% set imgStandardHeight = config.components.imageManager.types.standard.height is not empty ? config.components.imageManager.types.standard.height : config.components.imageManager.types.standard.maxHeight is not empty ? config.components.imageManager.types.standard.maxHeight : "450" %}
{% set imgRetinaWidth = config.components.imageManager.types.retina.width is not empty ? config.components.imageManager.types.retina.width : config.components.imageManager.types.retina.maxWidth is not empty ? config.components.imageManager.types.retina.maxWidth : "1500" %}
{% set imgRetinaHeight = config.components.imageManager.types.retina.height is not empty ? config.components.imageManager.types.retina.height : config.components.imageManager.types.retina.maxHeight is not empty ? config.components.imageManager.types.retina.maxHeight : "1500" %}
{% set content_all = api.get('/content',{
	'query':{
		'publish':'1'
			},
        '$or':[
            {'publish_date':{'$lte':'now'}, 'publish_date_end':'0000-00-00 00:00:00'},
            {'publish_date':{'$lte':'now'}, 'publish_date_end':{'$gte':'now'}}
        ]
	})
%}

{% spaceless %}

{# Getting Seo from config.mode.json #}
{% if app.params.seo is defined and app.params.seo is not empty %}
	{% set seo = app.params.seo %}
{% else %}
	{% set seo = { img: "", description: "", keywords: "", title: "Home" } %}
{% endif %}
{# End Config Seo #}

{{ app.asset.js(app.url_asset ~ '/assets/js/jquery-3.5.1.min.js') }}
{% if app.request.url == "checkout" %}
{{ app.asset.js(app.url_asset ~ '/assets/js/underscore-min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/backbone-min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/normalizer.js') }}
{% endif %}
{{ app.asset.js(app.url_asset ~ '/assets/js/popper-1.14.3.min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/bootstrap-4.3.1.min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/site.js') }}

{% if app.params.seo.google_analytics is not empty and app.params.seo.google_tag_manager is empty %}
{{ app.asset.js(app.url_asset ~ '/assets/js/acendaAnalytics.js') }}
{% endif %}
{% endspaceless %}

{% set url_based_class = app.request.url|split('/')|last %}
{% set url_based_array = app.request.url|split('/') %}
{% set url_based_class = '' %}
{% for part in url_based_array %}
	{% set part = part | replace({'%3C':'','%3E':'','<':'','(':'',')':'','>':'',';':''})  %}
	{% set url_based_class = url_based_class ~ ' url-' ~ loop.index ~ '-' ~ part | e %}
{% endfor %}

{% if url_based_array.0 | trim == ''%}
	{% set url_based_class = 'store-home-page' %}
{% endif %}

<!doctype html>
<html class="{% spaceless %}{{ url_based_class }}{% endspaceless %} {% spaceless %}{% block dynamicclasses %}{% endblock %}{% endspaceless %}{% if config.params['mobile_menu_format'] == "mff-fo" %} pad-fixed-top{% endif %}" lang="en">
<head>
{% if app.params.seo.google_tag_manager is not empty and app.params.seo.google_analytics is empty %}
<!-- Google Tag Manager DataLayer -->
<script>
var dataLayer = [];
{% block dataLayer %}
	{% include '/_partials/analytics/tag-manager.html.twig' %} {# Google Tag Manager Snippet #}
{% endblock %}
</script>
<!-- Google Tag Manager DataLayer End -->
{% endif %}
{% block head %}
<meta charset="utf-8">
{% if config.params['meta-theme-color'] is not empty %}<meta name="theme-color" content="{{config.params['meta-theme-color']}}">{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0{#, maximum-scale=1.0, user-scalable=no#}">
<meta name="keywords" content="{% block meta_keywords %}{{ seo['keywords'] }}{% endblock %}">
<meta name="description" content="{% block meta_description %}{{ seo['description'] }}{% endblock %}">
<meta property="og:image" content="{% block ogimage %}{{ seo['img'][0].url }}{% endblock %}">
{% block meta_more %}{% endblock %}
<link rel="shortcut icon" href="{{ app.url ~ '/favicon.ico' }}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{app.url_asset}}/assets/css/theme/bootcenda.css" />
<link rel="stylesheet" type="text/css" href="{{app.url_asset}}/assets/css/theme/theme.css" />
<link rel="stylesheet" type="text/css" href="{{app.url_asset}}/assets/css/custom.css" />

<link rel="sitemap" href="{{app.url}}/api/sitemap" />
<link rel="canonical" href="{{ app.request.base ~ '/' ~ app.request.url | replace({'\"':'',"\'":''})  }}"/>

{% block css %}{% endblock %}

<title>{% block title %}{% if app.params.site.page_title %}{{ app.params.site.page_title }}{% else %}{{ app.params.site.title}}{% endif %}{% endblock %}</title>

{% if app.params.social_settings is defined and app.params.social_settings is not empty %}
	{{ social.get_metatags(app.params.social_settings, seo) }}
{% endif %}

<script>
var acendaBaseName = '{{app.params.site.title|url_encode(true)}}';
var acendaBaseUrl = '{{app.url}}';
var acendaBaseThemeUrl = '{{app.url_asset}}';
var acendaIsLoggedIn = {% if app.user.email %}true{% else %}false{% endif %} ;
var acendaPaymentPlatform = '{{ api.get('/order/platform').platform }}';
var acendaImgManager = {tW:"{{imgThumbnailWidth}}",tH:"{{imgThumbnailHeight}}",sW:"{{imgStandardWidth}}",sH:"{{imgStandardHeight}}",rW:"{{imgRetinaWidth}}",rH:"{{imgRetinaHeight}}"};
</script>
<script>
{% block acenda %}
	{% include '/_partials/analytics/acenda.html.twig' %}
{% endblock %}
</script>

{% if api.get('/order/platform').platform == 'Stripe' %}
<script src="https://js.stripe.com/v3/"></script>
{% endif %}
{% endblock %}

</head>
<body>
<a href="#main" class="btn btn-primary btn-sm m-2 sr-only sr-only-focusable">Skip to main content</a>
{% if app.params.seo.google_tag_manager is not empty and app.params.seo.google_analytics is empty %}
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ app.params.seo.google_tag_manager }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
{% endif %}		
{% include "/_layouts/stage_header.html.twig" %}

{% block body %}
<header class="header{% if config.params['mobile_menu_format'] == "mff-fo" %} bg-white fixed-top mm-offcanvas{% else %} mm-default{% endif %}{% if config.params['header_layout'] == "hl-one" %} nav-in-toolbar{% else %} nav-default{% endif %}" id="header">
	{{ base.protected_site() }}

	{% if app.request.url != "store-protected" %}
	{% block header %}
		{%include "/_layouts/toolbar.html.twig"%}
	{% endblock %}

	{% if config.params['header_layout'] != "hl-one" %}
		{% include "/_layouts/nav.html.twig" %}
	{% endif %}
	
	{% endif %}
</header>

<main class="main{% if url_based_class != 'store-home-page' %}{% endif %} pt-4 pt-lg-3 pb-5" id="main" tabindex="-1">
	<div class="container g">
		{% block breadcrumb %}{% endblock %}
		{% block stage %}
			{% block content %}
			{% endblock %}
		{% endblock %}
	</div>
</main>

{% block footer %}
{% if config.params['footer_layout'] == "fl-sl" %}
    {% include "/_layouts/footer-sl.html.twig" %}
{% elseif config.params['footer_layout'] == "fl-rl" %}
    {% include "/_layouts/footer-rl.html.twig" %}
{% elseif config.params['footer_layout'] == "fl-rc" %}
    {% include "/_layouts/footer-rc.html.twig" %}
{% else %}
    {% include "/_layouts/footer.html.twig" %}
{% endif %}
{% endblock %}
{% endblock %}
{% block js %}{% endblock %}
</body>
</html>