{% spaceless %}
<footer class="bgg frame py-5" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2 g mb-4 mb-lg-0">
                <div class="h3">{{ app.params.site.title }}</div>
                <ul class="list-inline fsi1 social">
                    <li class="mr-1"><a class="btn btn-link tight" href="#" target="_blank"><i class="fab fa-facebook"><i class="sr-only">Follow {{ app.params.site.title }} on Facebook</i></i></a>
                    </li><li class="mr-1"><a class="btn btn-link tight" href="#" target="_blank"><i class="fab fa-twitter"><i class="sr-only">Follow {{ app.params.site.title }} on Twitter</i></i></a>
                    </li><li><a class="btn btn-link tight" href="#" target="_blank"><i class="fab fa-youtube"><i class="sr-only">Follow {{ app.params.site.title }} on Youtube</i></i></a>
                    </li>
                </ul>
                <address class="fsd1">1 First Ave<br>San Diego, CA 92101</address>
            </div>
            <div class="col-6 col-md-4 col-lg-2 g mb-4 mb-lg-0">
                <div class="h3">Shop</div>
                <ul class="list-unstyled fsd1 g">
                {% for main_category,items in category_all %}
                    <li class="mb-1"><a href="{{app.url}}/category/{{items.slug}}">{{main_category}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2 g mb-4 mb-lg-0">
                <div class="h3">Help</div>
                <ul class="list-unstyled fsd1">
                    <li class="mb-1"><a href="{{app.url}}/contact">Contact</a></li>
                    <li class="mb-1"><a href="{{app.url}}/content/faq">Help &amp; FAQs</a></li>
                    <li class="mb-1"><a href="{{app.url}}/content/privacy-policy">Privacy &amp; Security</a></li>
                    <li><a href="{{app.url}}/content/terms-and-conditions">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-8 col-lg-5 g offset-lg-1">
    			<form class="newsletter mb-3"><fieldset><legend class="h3">Email <span class="sr-only">List Signup</span></legend>
                    <label class="sr-only" for="SignupInput">Email Address</label>
    				<div class="input-group">
    					<input id="SignupInput" type="email" placeholder="Email Address" class="form-control form-control-lg" name="email" title="Email Address">
    					<div class="input-group-append">
    						<button id="SignupButton" class="btn btn-lg btn-primary" onclick="return false;" type="submit"><i class="fa fa-envelope"><span class="sr-only">Subscribe</span></i></button>
    					</div>
    				</div>
    				<div class="newsletter-response"></div>
    			</fieldset></form>
        		<ul class="list-inline fsd1">
    				<li>&copy; {{"now"|date("Y")}} {{ app.params.site.title }}</li>
    				<li>All Rights Reserved.</li>
    				<li>Powered by <a target=_blank href="http://acenda.com/">Acenda</a>.</li>
    			</ul>
            </div>
        </div>
    </div>
</footer>
{% endspaceless %}