{# avoiding the display of the menu when we're in the store-protected template #}
{% if app.request.url != "store-protected" %}
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row quicklinks">
        <div class="col-xs-12 col-sm-3">
            <div class="logo">
            {% if app.params.logoimages is not empty %}
                {% set logo_info = app.params.logoimages | first %}
                {% set logo = logo_info.url %}
            {% endif %}
            {% if logo is not empty %}
              <a  href="{{app.url}}/"><img class="img-responsive" src="{{ logo }}"></a>
            {% else %}
                <div id="logo-txt"><a href="{{app.url}}/">{{ app.params.site.title }}</a></div>
            {% endif %}
        </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h4>Quicklinks</h4>
            <div class="row">
                 {# get content available #}
                {% set contents = api.get('/content',{
                        'query':{
                            'publish':'1'
                                }    
                        })
                %}
                {# Build array with available content slugs #}
                {% set contents_available = [] %}
                {% for content in contents %}
                {% set contents_available = contents_available|merge([content.slug]) %}
                 {% endfor %}
                <div class="col-xs-12">
                    <ul class="list-unstyled">
                              <li><a href="{{app.url}}/contact">Contact Us</a></li>
                       {% if app.user.id != '' %}
                            <li> <a href="{{app.url}}/account/orders">Order Status</a> </li>
                            {% else %}
                            <li> <a href="{{app.url}}/order">Order Status</a> </li>
                            {% endif %}
                            <li><a href="{{app.url}}/cart">Shopping Cart</a></li>
                            {% if app.user.id is null %}
                            <li><a href="{{app.url}}/registry/search">Gift Registry</a></li>
                            {% else %}
                            <li><a href="{{app.url}}/account/registries">Registries</a></li>
                            {% endif %}
                        {% if "faq" in contents_available %} 
                            <li><a href="{{app.url}}/content/faq">Help &amp; FAQs</a></li>
                            {% endif %}
                            {% if "privacy-policy" in contents_available %} 
                                <li><a href="{{app.url}}/content/privacy-policy">Privacy &amp; Security</a></li>
                            {% endif %}
                            {% if "terms-and-conditions" in contents_available %} 
                            <li><a href="{{app.url}}/content/terms-and-conditions">Terms &amp; Conditions</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
        {# Social Network Icons if found in config file #}
        {# if social settings is not set in the config file, just do nothing #}
        {% if app.params.social_settings is defined and app.params.social_settings is not empty %}
          {{ social.social_parseConfig(app.params.social_settings) }}
        {% endif %}
        {# End Social Network Icons #}
        </div>
        
        <div class="col-xs-8 col-sm-3">
            <div class="newsletter">
                <h4>Email Newsletter</h4>
                {{ newsletterform.begin('newsletter',app.url ~ '/newsletter') }}
                <div class="input-group">
                    <input id="NewsLInput" type="search" placeholder="Email Address" class="form-control input-md" name="email">
                    <div class="input-group-btn">
                        <button id="NewsLSub" class="btn btn-primary btn-responsive" type="submit">Subscribe</button>
                    </div>
                    {{ newsletterform.end() }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="copyright list-unstyled list-inline">
            <li>Copyright &copy; {{"now"|date("Y")}} {{ app.params.site.title }}</li>
            <li>All Rights Reserved.</li>
            <li>Powered by Acenda.</li>
        </ul>
    </div>
    </div>
</div>
{% set request = app.request.url | split('/') %}
{% if request.0 != 'checkout' and app.params['live_chat']['active_chat'] is defined and app.params['live_chat']['active_chat'] == true
and app.params['live_chat']['chat_licence'] is defined and app.params['live_chat']['chat_licence'] is not empty %}
{% import "/_macros/chat.html.twig" as chat %}
  {{ chat.displayLiveChat( app.params['live_chat']['chat_licence']) }}
{% endif %}