{% spaceless %}
<footer class="text-center" id="footer">
    <section class="frame newsletter py-5">
        <div class="container">
            <div class="max-400 divide mb-3 pb-3">
    			<h2>Be the first to know about <span class="wsnw">new products and sales.</span></h2>
    			<p>Sign up to stay in the loop. Receive updates, access to <span class="wsnw">exclusive deals, and more.</span></p>
    			<form><fieldset><legend class="sr-only">{{ app.params.site.title }} Email List Signup</legend>
                    <label class="sr-only" for="SignupInput">Email Address</label>
    				<div class="input-group">
    					<input id="SignupInput" type="email" placeholder="Email Address" class="form-control form-control-lg input-gray" name="email" title="Email Address">
    					<div class="input-group-append">
    						<button id="SignupButton" class="btn btn-lg btn-primary" onclick="return false;" type="submit">Subscribe</button>
    					</div>
    				</div>
    				<div class="newsletter-response"></div>
    			</fieldset></form>
    		</div>
    		<ul class="list-inline fsi1 social">
                <li><a class="btn btn-link tight" href="#" target="_blank"><i class="fab fa-facebook"><i class="sr-only">Follow {{ app.params.site.title }} on Facebook</i></i></a>
                </li><li><a class="btn btn-link tight" href="#" target="_blank"><i class="fab fa-twitter"><i class="sr-only">Follow {{ app.params.site.title }} on Twitter</i></i></a>
                </li><li><a class="btn btn-link tight" href="#" target="_blank"><i class="fab fa-youtube"><i class="sr-only">Follow {{ app.params.site.title }} on Youtube</i></i></a>
                </li><li><a class="btn btn-link tight" href="#" target="_blank"><i class="fab fa-pinterest"><i class="sr-only">Follow {{ app.params.site.title }} on Pinterest</i></i></a>
                </li>
            </ul>
		</div>
	</section>
	<div class="bgg py-5"><div class="container">
	{% if app.request.url != "store-protected" %}	
	{% set contents_available = content_all|values_in('slug') %}
		<ul class="list-inline fsd1">
			<li><a href="{{app.url}}/contact">Contact</a></li>
			{% if "faq" in contents_available %}
			<li><a href="{{app.url}}/content/faq">Help &amp; FAQs</a></li>
			{% endif %}
			{% if "privacy-policy" in contents_available %}
			<li><a href="{{app.url}}/content/privacy-policy">Privacy &amp; Security</a></li>
			{% endif %}
			{% if "terms-and-conditions" in contents_available %}
			<li><a href="{{app.url}}/content/terms-and-conditions">Terms &amp; Conditions</a></li>
			{% endif %}
		</ul>
	
	{% endif %}
		<div class="copyright g mt-4">
			<ul class="list-inline fsd1">
				<li>&copy; {{"now"|date("Y")}} {{ app.params.site.title }}</li>
				<li>All Rights Reserved.</li>
				<li>Powered by <a target=_blank href="http://acenda.com/">Acenda</a>.</li>
			</ul>
		</div>
	</div></div>
</footer>
{% endspaceless %}

