{% set categories = api.get('/category/sapling') %}
{#{% set more_info = api.get(‘category’,{slug: item.slug}) %}#}
{% spaceless %}
<nav id="nav"><div class="container">
<div class="hidden-sm hidden-xs">
	<nav id="nav-desktop-main" class="navbar">
		<ul class="nav navbar-nav">
		{% for main_category,items in categories if main_category != "clearance" %}
			{% if items.limb|length %}
				<li class="dropdown">
					<a href="{{app.url}}/category/{{items.slug}}" class="dropdown-toggle" data-toggle="dropdown">
						<span>{{main_category}}</span><i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu">
						{% for category,subitems in items.limb %}
							{% if subitems.limb|length %}
								  {{ base.subcategory(category,subitems) }}
							{% else %}
								<li><a href="{{app.url}}/category/{{subitems.slug}}">{{category}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% else %}
				<li><a href="{{app.url}}/category/{{items.slug}}">{{main_category}}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</nav>
</div>
{# End desktop nav #}

{# Begin mobile navigation menu #}
<nav class="navajax" id="yta-menu">
</nav>

</div></nav>
{# End mobile navigation menu #}
{% endspaceless %}