{% spaceless %}
{% if config.params['mobile_menu_format'] == "mff-fo" %}
<nav class="bg-dark offcanvas-collapse d-lg-block" id="navbar-category">
	<div class="container">
		<div class="navbar navbar-expand-lg p-0">
			<div class="navbar-collapse">
{% else %}
<nav class="bg-dark">
	<div class="container">
		<div class="navbar navbar-expand-lg p-0">
			<div class="collapse navbar-collapse" id="navbar-category">
{% endif %}
				<ul class="navbar-nav add-access py-2 py-md-3 py-lg-0">
				{% for main_category,items in category_all %}
					{% if items.limb|length %}
						<li class="navcat-{{items.id}} dropdown js-dropdown">
							<div class="pos-r w-100">
								<a class="btn btn-block btn-lg js-nav-link nav-link nav-link-category text-left text-white" href="{{app.url}}/category/{{items.slug}}">
									<span>{{main_category}}</span>
								</a>
								<button class="btn btn-link d-lg-none nav-link dropdown-toggle dropdown-toggle-{{items.id}} dropdown-toggle-split px-2 text-white" id="dropdown-toggle-{{items.id}}" data-target=".access-navcat-{{items.id}}" data-toggle="collapse" aria-controls="access-navcat-{{items.id}}" aria-expanded="false"><i class="fa fa-angle-down"><span class="sr-only">Toggle {{main_category}} subcategories</span></i></button>
							</div>
							<ul class="collapse dropdown-menu{% if loop.last %} access-right{% endif %} access-navcat-{{items.id}}" aria-labelled-by="access-navcat-{{items.id}}" id="access-navcat-{{items.id}}">
								{% for category,subitems in items.limb %}
									{% if subitems.limb|length %}
										  {{ base.subcategory(category,subitems) }}
									{% else %}
										<li class="navcat-{{subitems.id}}"><a href="{{app.url}}/category/{{subitems.slug}}">{{category}}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="navcat-{{items.id}}"><a class="btn btn-lg js-nav-link nav-link text-left text-white" href="{{app.url}}/category/{{items.slug}}">{{main_category}}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</nav>
{% endspaceless %}