{% set categories = api.get('/category/sapling') %}
{#{% set more_info = api.get(‘category’,{slug: item.slug}) %}#}
{% spaceless %}

<nav id="nav" class="bg-dark d-xsm-none">
    <div class="container navbar-dark navbar-expand">
		<ul class="navbar-nav addAccess">
		{% for main_category,items in categories %}
			{% if items.limb|length %}
				<li class="navcat-{{items.id}} dropdown">
					<a class="dropdown-toggle nav-link" href="{{app.url}}/category/{{items.slug}}" data-toggle="dropdown">
						<span>{{main_category}}</span><i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu">
						{% for category,subitems in items.limb %}
							{% if subitems.limb|length %}
								  {{ base.subcategory(category,subitems) }}
							{% else %}
								<li class="navcat-{{subitems.id}}"><a href="{{app.url}}/category/{{subitems.slug}}">{{category}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% else %}
				<li class="navcat-{{items.id}}"><a class="nav-link" href="{{app.url}}/category/{{items.slug}}">{{main_category}}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
    </div>
</nav>
{% endspaceless %}