{% block toolbar %}
{%- import "/_macros/product.html.twig" as prod -%}
{% spaceless %}
<div class="toolbar">
    <div class="container">
        <div class="pos-r">
            <div class="omm d-lg-none">
				<button class="btn btn-link btn-lg px-2 px-lg-3 tight" type="button" data-toggle="collapse" data-target="#navbar-category" aria-controls="navbar-category">
					<i class="fa fa-bars"><span class="sr-only">Toggle Navigation</span></i>
				</button>
            </div>
            <div class="logo"><a class="image-space" href="{{app.url}}/">
                {% if app.params.logoimages is not empty %}
                    {% set logo_info = app.params.logoimages | first %}
                    {% set logo = logo_info.url %}
                {% endif %}
                {% if logo is not empty %}
                <img class="img-fluid isd" src="{{ logo }}"{% if config.params['logo-width'] is defined %} width="{{config.params['logo-width']}}"{% endif %}{% if config.params['logo-height'] is defined %} height="{{config.params['logo-height']}}"{% endif %} alt="Return to {{app.params.site.title}} Homepage">
                {% else %}
                <span class="isd">{{ app.params.site.title }}</span>
                {% endif %}
            </a></div>
			{% if config.params['header_layout'] == "hl-one" %}
				{% include "/_layouts/nav.html.twig" %}
			{% endif %}
            <div class="search">
                <form class="search-form" method="get" action="{{app.url}}/search">
                    <label class="sr-only" for="search" id="search-label">Search products</label>
                    <div class="form-group twitter-typeahead">
                        <input class="form-control form-control-lg typeahead search-autocomplete" id="search" aria-labelledby="search-label" data-provide="typeahead" autocomplete="off" type="text" name="s" placeholder="Search products">
                        <button class="btn btn-link btn-lg px-3" type="submit">
                            <i class="fa fa-search"><i class="sr-only">Search products</i></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="mya">
                <div class="ace-bs-access dropdown my-account">
                    <button id="dropdown-account" class="btn btn-lg btn-link dropdown-toggle px-2 px-lg-3" data-toggle="dropdown">
                        <i class="fa fa-user"><i class="sr-only">My Account</i></i>
                    </button>
                </div>
            </div>
            <div class="cart">
                <div class="dropdown dropdown-qc">
                    <a class="pos-r btn btn-lg btn-link px-2 px-lg-3 btn-qc" id="btn-qc" href="{{app.url}}/cart" data-toggle="dropdown">
                        <span><i class="fa fa-shopping-cart"></i></span><span class="sr-only">Cart</span><span class="dib fsd1 item-count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-qc p-3">
                        <div class="quickcart ajaxcart" id="qc">
                            <div class="divide pb-3">
                                <button id="ajaxcart-close" class="btn btn-blank btn-sm float-right"><i class="fa fa-times"><i class="sr-only">Close Quick Cart</i></i></button>
                                <div class="h3 al-btn-sm">Quick Cart</div>
                            </div>
                            <div class="error g">
                            </div>
                            
                            <div class="ajaxcart-products divide fsd1 pb-3">
                                <div class="ajaxcart-product py-3 divide g">
                                    <div class="media">
                                        <div class="media-left">
											<div class="image-space image-space-product">
												<img class="img-fluid img-product isd" src="{{ app.url_asset }}/assets/images/spacer.gif" width="{{imgThumbnailWidth}}" height="{{imgThumbnailHeight}}" alt="">
											</div>
                                        </div>
                                        <div class="media-body">
											<div class="product-name"></div>
											<div class="pricing"><div class="price">{{ prod.currency("0.00") }}<span class="lang"> each</span></div></div>
											<div class="quantity">Qty: <span class="product-quantity"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-totals py-3 fsd1">
                                <div class="items">You have <strong class="item-count"></strong> Item(s) in your Cart.</div>
                                <div class="subtotal"><strong>Subtotal: </strong>{{ prod.currency("0.00") }}</div>
                            </div>
                            <a href="{{ app.url }}/cart?qc" class="btn btn-block btn-lg btn-default">View Cart</a>
							<a href="{{ app.url }}/checkout" class="btn btn-block btn-lg btn-primary btn-cart mt-2">Checkout</a>
							{% set site_payments = api.get('/site/payments') %}
							{% if site_payments.has_express_checkout == true and site_payments.express_payment_method == "paypal express" %}
							<a class="btn btn-block btn-lg btn-default btn-paypal mt-2" href="{{ app.url }}/checkout/paypal"><img class="img-fluid" src="{{app.url_asset}}/assets/images/paypal.svg" width="90" height="24"><span class="dib fsd1">Checkout</span></a>
        					{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endspaceless %}
{% endblock %}