{# Begin desktop toolbar #}
<div class="row hidden-xs hidden-sm">
    <div class="col-md-12 col-v">
        <ul class="list-inline list-unstyled" id="tools">
            <li class="tool"><a class="tool-a" href="{{app.url}}/contact">Contact Us</a></li>
            {% if app.user.id != '' %}
            <li class="tool"><a class="tool-a" href="{{app.url}}/account/orders">Easy Returns</a></li>
            {% else %}
            <li class="tool"><a class="tool-a" href="{{app.url}}/return">Easy Returns</a></li>
            {% endif %}
            {% if app.user.id is null %}
            <li class="tool">
                 <div class="my-account">
                    <a type="button" href="#" id="dropdown-account" class="tool-a dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>My Account<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{app.url}}/account/login">Sign In / Sign Up</a></li>
                        <li><div class="divider"></div></li>
                        {% if app.user.id != '' %}
                        <li> <a href="{{app.url}}/account/orders">Order Status</a> </li>
                        {% else %}
                        <li> <a href="{{app.url}}/order">Order Status</a> </li>
                        {% endif %}
                         <li> <a href="{{app.url}}/registry/search">Gift Registry</a> </li>

                    </ul>
                </div>
            </li>
            {% else %}
            {% set customer = api.get('/customer/' ~ app.user.id) %}
            <li class="tool">
                <div class="my-account">
                    <a type="button" href="#" id="dropdown-account" class="tool-a dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>{{ customer.first_name }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{app.url}}/account">My Account</a></li>
                        <li><div class="divider"></div></li>
                        <li><a href="{{app.url}}/account/orders">Orders</a></li>
                        <li><a href="{{app.url}}/account/wishlists">Wishlists</a></li>
                        <li><a href="{{app.url}}/account/registries">Registries</a></li>
                        <li><div class="divider"></div></li>
                        <li><a href="{{app.url}}/account/logout">Not {{ customer.first_name}}? Logout</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
            <li class="cart">
                <a class="tool-a" href="{{app.url}}/cart">
                    <i class="fa fa-shopping-cart"></i><span class="text">My Cart</span><span class="item-count">{{ api.get('/sessioncart').item_count }}</span>
                </a>
            </li>
        </ul>
        
    </div>
</div>
<div class="row" id="branding">
    <div class="col-xs-3 col-v nav-mobile hidden-md hidden-lg">
        <a class="pull-left" href="#nav-mobile-main">
            <i class="fa fa-bars fa-2x"></i>
        </a>
    </div>
    <div class="col-md-offset-3 col-md-6 col-xs-6 text-center">
        <div class="brand">
            {% if app.params.logoimages is not empty %}
                {% set logo_info = app.params.logoimages | first %}
                {% set logo = logo_info.url %}
            {% endif %}
            {% if logo is not empty %}
              <a  href="{{app.url}}/"><img class="img-responsive" src="{{ logo }}"></a>
            {% else %}
                <div id="logo-txt"><a href="{{app.url}}/">{{ app.params.site.title }}</a></div>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-3 col-v nav-mobile hidden-md hidden-lg">
        <a class="pull-right" href="{{app.url}}/cart">
            <i class="fa fa-shopping-cart fa-2x"></i><span class="item-count">{{ api.get('/sessioncart').item_count }}</span>
        </a>
    </div>
    {# Begin search bar #}
    <div class="search col-lg-3 col-md-3 hidden-sm hidden-xs">
        <form role="search" class="search-form" method="get" action="{{app.url}}/search">
            <div class="form-group has-feedback input-group twitter-typeahead">
                <input class="form-control input-md typeahead search-autocomplete" data-provide="typeahead" autocomplete="off" type="text" name="s" placeholder="Search">
                <span class="input-group-btn form-control-feedback">
                    <button class="btn btn-md" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="quickcart" data-content="" data-placement='bottom' rel='popover'>
        <div class="ajaxcart" style="display:none">
            <div class="popover-close">
                <div class="row">
                    <div class="col-md-7">
                        Quickcart
                    </div>
                    <div class="col-md-5">
                        <a id="ajaxcart-close" class="btn btn-danger btn-sm pull-right fa fa-times"></a>
                    </div>
                </div>
            </div>
            <div class="row error">
            </div>
            {# Begin Popover products #}
            <section class="ajaxcart-products">
                {# Begin product #}
                <div class="ajaxcart-product product">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.jpg'" class="product-image" src="">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="name">
                                <span class="product-name"></span>
                            </div>
                            <div class="price"><strong>Price:</strong> $<span class="product-price"></span></div>
                            <div class="quantity"><strong>Qty:</strong> <span class="product-quantity"></span></div>
                        </div>
                    </div>
                </div>
                {# Begin product #}
            </section>
            {# End Popover products #}
            <div class="row">
                <div class="col-xs-8 col-xs-offset-4">
                    <div class="cart-totals">
                        <div class="items">Item count: <span class="item-count"></span></div>
                        <div class="total">Subtotal: $<span class="subtotal">0.00</span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ app.url }}/cart" class="btn btn-cart btn-block btn-a">My Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
{# End Branding end Search #}
