
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}

{% if final_order is not empty %}
	<h1>Checkout Complete!</h1>
{% else %}
	<h1><i class="fa fa-exclamation-circle"></i><span>We Were Unable to Process Your Order </span></h1>
{% endif %}
{# Calculate subtotal without discounts #}
{% set subtotal = 0 %}

{% do app.user.setState('order_sent', null) %}

<div class="row">
	{# begin print page #} 
	<div class="{{ app.user.isLoggedIn() ? "col-12" : "col-lg-8" }}">

		{% if final_order is not empty %}
		<div class="card">
			<div class="card-body">
				<h2>Thank You, your order has been placed!</h2>
				<p>We have sent you an e-mail confirmation.</p>
				{% if request.customer_id is defined %}
					<a class="btn btn-default" href="{{app.url}}/account/order/{{final_order.order_number}}">Review Order: #{{ final_order.order_number }}</a>
					
					<div>Order Placed: {{ final_order.date_created|date("F jS, Y") }}</div>
				{% else %}
					<form name="order" action="{{app.url}}/order", method="POST", class="" id="view-order">
						<input type="hidden" name="order[id]" value="{{ final_order.order_number }}" />
						<input type="hidden" name="order[email]" value="{{ final_order.email}}" />
						<a class="btn btn-default" href="javascript: $('form#view-order').submit();">Review Order: #{{ final_order.order_number }}</a>
					</form>
				{% endif %}
			</div>
		</div>
		{% set response = api.delete('/sessioncart') %}
		{% else %}
			<p>Unfortunately we were unable to complete your order. Please review your address and bank information to ensure it is correct. If it is correct, please <a href="{{app.url}}/contact" target="_blank">contact us</a> for assistance.</p>

			{% if error is not empty %}
				<p>Order placement failed with the following error(s):</p>
				{% if error is iterable %}
				<ul>
					{% for field, errors in error %}
					<li>
					{{field}}
						<ul>
							{% for error_message in errors %}
							<li>{{ error_message }}</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<ul><li>{{ error }}</li></ul>
				{% endif %}
			{% endif %}
		<div class="mt-3">
			{% if request.token is defined %}
			<a class="btn btn-primary" href="{{app.url}}/checkout/paypal">Please Try Again</a>
			{% else %}
			<a class="btn btn-primary" href="{{app.url}}/checkout/billing">Please Try Again</a>
			{% endif %}
		</div>
		{% endif %}
		
		{% if final_order is not empty %}
		<div class="card">
			<div class="card-body">
			    <h2 class="divide pb-3">Invoice: <span class="float-right">#{{ final_order.order_number }}</span></h2>
				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-12 mb-3">
								<h3>Ship To</h3>
								<address class="fsd1">
									<div>{{ final_order.shipping_first_name }} {{ final_order.shipping_last_name }}</div>
									<div>{{ final_order.shipping_street_line1 }}</div>
									<div>{{ final_order.shipping_city }}, {{ final_order.shipping_state }} {{ final_order.shipping_zip }}</div>
								</address>
							</div>
							<div class="col-12 g p-xs-2x">
								{% if final_order.billing_first_name %}
								<h3>Payment</h3>
								<address class="fsd1">
									<div>{{ final_order.billing_first_name }} {{ final_order.billing_last_name }}</div>
									<div>{{ final_order.billing_street_line1 }}</div>
									<div>{{ final_order.billing_city }}, {{ final_order.billing_state }} {{ final_order.billing_zip }}</div>
									<div>Card: {{ final_order.card_type }} | Last Digits {{ final_order.card_last4 }} </div>
								</address>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-md-5">
					    <h3>Order Total</h3>
						<div class="row">
							<div class="col-8">Subtotal:</div>
							<div class="col-4 text-right">{{ prod.currency( final_order.item_subtotal|number_format(2, '.')) }}</div>
						</div>
						<div class="row">
							<div class="col-8">Shipping:</div>
							<div class="col-4 text-right">{{ prod.currency( final_order.shipping_rate|number_format(2, '.')) }}</div>
						</div>
						{% if final_order.discount_price > 0 %}
						<div class="row">
							<div class="col-8">Discount:</div>
							<div class="col-4 price-discount text-right">
								-{{ prod.currency(final_order.discount_price|number_format(2, '.')) }}
							</div>
						</div>
						{% endif %}
						<div class="row">
							<div class="col-8">Total Before Tax:</div>
							<div class="col-4 text-right">{{ prod.currency((final_order.subtotal + final_order.shipping_rate)|number_format(2, '.')) }}</div>
						</div>
						<div class="divide mb-3 pb-3">
    						<div class="row">
    							<div class="col-8">Sales Tax:</div>
    							<div class="col-4 text-right">{{ prod.currency(final_order.tax|number_format(2, '.')) }}</div>
    						</div>
						</div>
						<div class="row totals-total">
							<div class="col-8">Total:</div>
							<div class="col-4 text-right">{{ prod.currency(final_order.total|number_format(2, '.')) }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
            <div class="card-body">
                <h2 class="divide pb-3">Items Ordered</h2>
            {% for item in items %}
                <div class="row">
                    <div class="col-8">
                        <div class="product-name">{{item.quantity}} x {{ item.name }}</div>
                    </div>
                    {% set price = item.price * item.quantity %}
                    {% set subtotal = subtotal + price %}
                    <div class="col-4 pricing text-right">
                        <div class="price">{{ prod.currency(item.price|number_format(2, '.')) }}</div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
		{% endif %}
	</div>

	{% if app.user.isLoggedIn() == false %}
	<div class="col-lg-4">
		<div class="card"><div class="card-body">
			<h2>Create a New Account</h2>
			<p>Create an account and you'll be able to place orders, create registries, create wish lists, check the status of your orders, write reviews, and more!</p>
			{{ forms.begin('create', app.url ~ '/account/create', 'post') }}
				<fieldset>
					{{ forms.hidden('create[first_name]',final_order.billing_first_name) }}
					{{ forms.hidden('create[last_name]',final_order.billing_last_name) }}
					{{ forms.hidden('create[phone_number]',final_order.billing_phone_number) }}
					{{ forms.hidden('create[email]',final_order.email) }}
					{{ forms.hidden('create[confirm_email]',final_order.email) }}
					<div class="form-group">
						<label for="create-pass">Password (4-14 Characters)</label>
						{{ forms.password('create[password]', "", {class:'form-control parsley-validated', id:'create-pass', placeholder:"Password", required:true}) }}
					</div>
					<div class="form-group">
						<label for="create-pass2">Confirm Password</label>
						{{ forms.password('create[confirm_password]', "", {class:'form-control parsley-validated', id:'create-pass2', placeholder:"Confirm Password", required:true}) }}
					</div>
					<div class="actions form-group">
						{{ forms.submit('create[action]', 'create', 'Create Account', {class:'btn btn-lg btn-block btn-primary'})}}
					</div>
				</fieldset>
			{{ forms.end() }}
		</div></div>
	</div>
	{% endif %}
</div>
{% if final_order is not empty %}
<div class="row">
	<div class="{{ app.user.isLoggedIn() ? "col-12" : "col-lg-8" }}">
		<a class="btn btn-xs-block btn-default p-xs" href="{{app.url}}">Continue Shopping</a>
		<a href="#" class="btn btn-xs-block btn-default float-right" onclick="window.print();return false;">Print Page</a>
	</div>
</div>
{% endif %}