{% if cart.items is empty %}
		{{ app.redirect('/cart') }}
{% endif %}

{% block content %}

	<style>
	  .checkoutapp .panel .panel-heading .panel-title .btn-edit {	
		position: relative; left: 10px; top: -5px; padding: 4px;
		background: #fff;
	    border: 1px solid black;
	    text-transform: none;
        line-height: 20px;	 
        height: 30px;           
	  }
	  .checkoutapp  h3 {
	  	 color: #777;
	  	 font-size: 16.8px;
	  	 font-weight: bold;
	  	 text-transform: uppercase;
	  }
	  .checkoutapp #checkout-steps .step-data {
	  	 font-size: 14px;
	  	 margin-left: 0px;
	  	 margin-top: 10px;
	  }

	  .checkoutapp #checkout-steps label {
	  	 font-size: 12px;
	  }  
	  .checkoutapp  .panel-title {
	  	 font-weight: bold;	  	
	  	 font-size: 19px;
	  	 color: #777;
	  }  
	  .checkoutapp #checkout-steps .form-group {
	  	 font-size: 14px;
	  	 margin-bottom: 5px;
	  }  
	  .checkoutapp #billing-address {
	  		margin-top: 20px;
	  }
	  .checkoutapp .btn-edit {
	  	  display:none;
	  }
	  #guest-form > div > span {
     	  margin-right: 0.5em;
	  }  
	  #processing-panel {
   	  	 margin: auto;
  		 padding: 20px;
  		 background-color: #eee;
  		 color: black;
  		 border: 1px solid #ddd;
  		 text-align: center;
  		 width: 75%;
	  }   
	  #review-panel #error-text {
	   	color: red;
	  } 
	  #signin-error {
	  	 color: red;
	  }
	</style>
	<div id="thankyou" style="display:none">

	</div>
	<div class="checkoutapp">
			<div id="processing" style="display:none">
				<div class="jumbotron" id="processing-panel">
				        <p>Please wait while your order is being processed...</p>
				        <div class="progress">
				          <div id="checkout_process_percent" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				            <span id="checkout_process_percent_text" class="sr-only">0% Complete</span>
				          </div>
				        </div>
				 </div>
			</div>		
			<div class="row">				
				<div id="checkout-left" class="col-md-8">
					<div id="checkout-steps" class="panel-group">
					    <div class="panel panel-default">
					        <div id="signin-panel" class="panel-heading">
					            <h4 class="panel-title">
					                1. Sign In
									<button id="btn-edit-signin" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps" >Edit</button>						                
					            </h4>
					            <div class="step-data"></div>
					        </div>
					        <div id="collapseSignIn" class="panel-collapse collapse">
					            <div class="panel-body">
	                                 {% include "/checkout/_partials/single-page-steps/signin.html.twig" %}
					            </div>
					        </div>
					    </div>
					    <div id="shipping-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                2. Shipping Address
					                <button id="btn-edit-shipping" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps" >Edit</button>					                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapseShipping" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/shipping.html.twig" %}
					            </div>
					        </div>
					    </div>
					    <div id="shipping-method-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                3. Shipping Method
									<button id="btn-edit-shipping-method" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps">Edit</button>					                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapseShippingMethod" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/shipping-method.html.twig" %}
					            </div>
					        </div>
					    </div>					    
					    <div id="payment-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                4. Payment
									<button id="btn-edit-payment" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps">Edit</button>						                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapsePayment" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/payment.html.twig" %}
					            </div>
					        </div>
					    </div>					    
					    <div id="review-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                5. Review Your Order
					            </h4>

					        </div>
					        <div id="collapseReview" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/review.html.twig" %}
					            </div>
					        </div>
					    </div>
					</div>
				</div>
				<div id="checkout-right" class="col-md-4">
					<div id="summary-panel" style="min-height: 200px">
						<div class="panel panel-default" >
							<div class="panel-heading"><h4 class="panel-title">Order Summary</h4></div>
							<div class="panel-body fsd1" >
								<h3>Items (<span id="num-items"></span>)</h3>
									<div id="item-list" >

									</div>
								<hr/>
								<div id="totals-section">

								</div>

							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-body fsd1">
								<form name="coupon">
									<div class="form-group">
										<label class="control-label" for="cart_coupon_code">Enter Coupon Code:</label>
										<div class="row">
											<div class="col-xs-6 col-sm-7">
												{{ forms.text('cart[coupon_code]', coupon_code, {class:'form-control parsley-validated', id:'cart_coupon_code', placeholder: "Coupon Code"}) }}
											</div>
											<div class="col-xs-6 col-sm-5">
												<button id="checkout_enter_coupon" class="btn btn-primary">Apply</button>

											</div>
										</div>
										<div id="enter_coupon_validation"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>					
			</div>
	</div> 

	<script id="summary-item-template" type="text/template">
		<div class="divide g p pad-b">
			<div class="media">
				<div class="media-left">
					<img class="media-object" onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.gif'" src="<%= variant.get('thumbnail') %>" width="250" height="250" alt="">
				</div>
				<div class="media-body">
					<div class="name"><%= variant.get('name') %></div>
						<div class="availability">
							<span><%= variant.get('has_stock')?"In Stock":"Out of Stock" %></span>
						</div>
					<div class="qty">Qty: <%= item.quantity %> </div>
					<div class="pricing"><div class="price">Price: <span class="dollar-sign">$</span><%= variant.get('price') %> <span class="each">each</span></div>
					</div>
					<% if(item.wishlist_id) { %>
						<div p class="wishlist p">
							<a href="{{ app.url }}"><i class="icon icon-list"></i> For </a>					
						</div>
					<% } %>
					<% if(item.registry_id) { %>
						<div p class="registry p">
							<a href="{{ app.url }}"><i class="icon icon-list"></i> For </a>					
						</div>
					<% } %>					
				</div>
			</div>
		</div>
	</script>
	<script id="summary-totals-template" type="text/template">

		<% for(var d in cart.discount_collection.discounts) {{ '{' }} var discount = cart.discount_collection.discounts[d];  %>
         	
			<% if(discount.type == 'coupon'){{ '{' }}  %>
			<div class="discount">
				<div class="alert alert-info">
					<button  class="pull-right btn btn-info btn-xs remove-coupon" id="remove-coupon-<%= discount.id %>">Remove</button>
					<p>
					<b>Coupon: <%= discount.code %></b>
					<% if(discount.description) {{ '{' }} %><br><% {{ '}' }} %>
					<%= discount.description %>
					</p>

				</div>
			</div>
			<% {{ '}' }}  %>
		<% {{ '}' }}  %>

		<div class="amount col-xs-7">Subtotal:</div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><%= parseFloat(cart.item_subtotal).toFixed(2) %></span></div>

		<% if(cart.shipping_method ) { %>
			<div class="amount col-xs-7">Shipping:</div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><%= parseFloat(cart.shipping_rate).toFixed(2) %></span></div>
		<% } %>

		<% if(parseFloat(cart.discount_price) > 0)  { %>
			<div class="amount col-xs-7">Discount:</div><div class="amount col-xs-5 text-right price-discount"><span class="dollar-sign">-$</span><span class="price "><%= parseFloat(cart.discount_price).toFixed(2) %></span></div>
		<% } %>

		<% if(cart.tax_rate) { %>
			<div class="amount col-xs-7">Tax:</div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><%= parseFloat(cart.tax_rate).toFixed(2) %></span></div>
		<% } %>

		<div class="amount col-xs-7"><strong>Total:</strong></div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><strong><%= parseFloat(cart.total).toFixed(2) %></strong></span></div>

	</script>

	<script id="shipping-methods-template" type="text/template">
		<table  class="table table-responsive">
		<thead>
	        <tr>
			    <th>Method</th>
				<th>Estimated Arrival</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(methods,function(method) { %>
			    <tr>
			        <td><input <%= (method.id == current_method)?'checked':''  %> type="radio" id="method_<%= method.id %>_input" name="shipping_method" value="<%= method.id %>"> &nbsp;<label for="method_<%= method.id %>_input"><%= method.name %></label></td>
			        <td><label for="method_<%= method.id %>_input"><%= method.bottom_days_range %> - <%= method.top_days_range %> days</label></td>
			        <td><label for="method_<%= method.id %>_input"><% if(typeof method.price==='undefined') {{ '{' }}  %><span class="price"><i class="fa fa-refresh fa-spin spinner" style="font-size:24px"></i><% {{ '}' }} %><%= method.price %></span></label></td>
			    </tr>
		    <% }) %>
		</tbody>
		</table>
	</script>

	<script id="thank-you-template" type="text/template">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3>Thank You, your order has been placed!</h3>
				<p>We have sent you an e-mail confirmation.</p>
				{% if request.customer_id is defined %}
					<div>
						<a href="<%= acendaBaseUrl %>/account/order/<%= order.order_number %>">Order: #<%= order.order_number %></a>
					</div>
					<div>Order Placed: <%= order.date_created %></div>
				{% else %}
					<form name="order", action="<%= acendaBaseUrl %>/order", method="POST", class="" id="view-order">
						<input type="hidden" name="order[id]" value="{{ order.order_number }}" />
						<input type="hidden" name="order[email]" value="{{ order.email}}" />
						<a href="javascript: $('form#view-order').submit();">Order: #<%= order.order_number %></a>
					</form>
				{% endif %}
			</div>
		</div>
		<div class="panel panel-default">
            <div class="panel-heading">Items Ordered</div>
            <div class="panel-body">

	            <% for(var i in items) {{ '{' }} var item = items[i]; %>
	                <div class="row">
	                    <div class="col-xs-8">
	                        <%= item.quantity %> x <%= item.name %>
	                    </div>
	                    <% var price = parseFloat(item.price) * parseInt(item.quantity) %>
	                    <% var subtotal = parseFloat(subtotal) + parseFloat(price) %>
	                    <div class="col-xs-4 text-right">
	                        $<%= parseFloat(item.price).toFixed(2) %>
	                    </div>
	                </div>
	            <% {{ '}' }} %>

            </div>
        </div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="fsd1 p">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-7 col-lg-8">
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="shipping-address p">
										<div><strong>Shipping Address:</strong></div>
										<div class="address">
											<div class="name"><%= order.shipping_first_name %> <%= order.shipping_last_name %></div>
											<div class="address1"><%= order.shipping_street_line1 %></div>
											<div class="city-state"><%= order.shipping_city %>, <%= order.shipping_state %> <%= order.shipping_zip %></div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<% if(order.billing_first_name) {{ '{' }} %>
										<div class="billing-address p">
											<div><strong>Billing Address:</strong></div>
											<div class="address">
												<div class="name"><%= order.billing_first_name %> <%= order.billing_last_name %></div>
												<div class="address1"><%= order.billing_street_line1 %></div>
												<div class="city-state"><%= order.billing_city %>, <%= order.billing_state %> <%= order.billing_zip %></div>
												<div class="billing-method">Card: <%= order.card_type %> | Last Digits <%= order.card_last4 %> </div>
											</div>
										</div>
									<% {{ '}' }} %>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-5 col-lg-4">
							<div class="order-totals">
								<div class="row">
									<div class="col-xs-8">Subtotal:</div>
									<div class="col-xs-4 text-right">$<%= order.item_subtotal%></div>
								</div>
								<div class="row">
									<div class="col-xs-8">Shipping:</div>
									<div class="col-xs-4 text-right">$<%= order.shipping_rate %></div>
								</div>
								<% if(order.discount_price > 0 ) {{ '{' }} %>
								<div class="row">
									<div class="col-xs-8">Discount:</div>
									<div class="col-xs-4 price-discount text-right">
										-$<%= parseFloat(order.discount_price).toFixed(2) %>
									</div>
								</div>
								<% {{ '}' }} %>
								<div class="row">
									<div class="col-xs-8">Total Before Tax:</div>
									<div class="col-xs-4 text-right">$<%= (parseFloat(order.subtotal) + parseFloat(order.shipping_rate)).toFixed(2) %></div>
								</div>
								<div class="row">
									<div class="col-xs-8">Sales Tax:</div>
									<div class="col-xs-4 text-right">$<%= parseFloat(order.tax).toFixed(2) %></div>
								</div>
								<div class="row">
									<div class="col-xs-8">Total:</div>
									<div class="col-xs-4 text-right">$<%= parseFloat(order.total).toFixed(2) %></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 p">
				<a class="btn btn-xs-block btn-default" href="{{app.url}}">Continue Shopping</a>
			</div>

			<div class="col-xs-12 col-sm-6 p">
				<a href="#" class="btn btn-xs-block btn-default pull-right" onclick="window.print();return false;">Print Page</a>
			</div>
		</div>

	</script>

{% endblock %}


{% block js %}
    {{ app.asset.js(app.url_asset ~ '/assets/js/sticky-kit.min.js') }}	
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/customer.js') }}	        
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/order.js') }}	
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/product.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/variant.js') }}           	
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/cart.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/customeraddresses.js') }} 
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/shippingmethods.js') }}       
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/shippingcountries.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/billingcountries.js') }}    
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/shippingstates.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/billingstates.js') }}       
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/views/summary-view.js') }}    
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/views/checkout-view.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/checkoutbb.js') }}
{% endblock %}