    {% if cart.items is empty or permissions.browse_catalog == false or permissions.show_prices == false or permissions.place_order == false %} {# Set cart products for acenda object #}
	{% do app.redirect('/cart') %}
{% endif %}

{% block content %}
	<script>
		var acendaBaseName = '{{app.params.site.title}}';
		var acendaBaseUrl = '{{app.url}}';
		var acendaBaseThemeUrl = '{{app.url_asset}}';
		var acendaIsLoggedIn = {% if app.user.email %}true{% else %}false{% endif %} ;
		var acendaPaymentPlatform = '{{ api.get('/order/platform').platform }}';
		var acendaCustomVerifyError = '{{ app.params.checkout_custom_verify_error }}';

	</script>
<script type="application/javascript">


  var checkout_product_prices_include_tax = '{{ app.params.order.product_prices_include_tax }}';
  var saved_checkout_step = '{{ cart.current_step }}';
</script>


	<h1>Secure Checkout</h1>

	<div class="checkoutapp">
		<div id="processing" style="display:none">
			<div class="jumbotron" id="processing-panel">
			        <p>Please wait while your order is being processed...</p>
			        <div class="progress">
			          <div id="checkout_process_percent" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			            <span id="checkout_process_percent_text" class="sr-only">0% Complete</span>
			          </div>
			        </div>
			 </div>
		</div>

		<div class="row">
			<div id="checkout-left" class="col-lg-8">
				<div id="checkout-steps">
				    <div class="card">
				        <div id="signin-panel" class="card-header">
				        	<button id="btn-edit-signin" class="btn btn-default btn-xs float-right btn-edit" data-parent="#checkout-steps" style="position: relative;">Edit</button>
							<i id="signin-loading" class="fa fa-spinner fa-spin float-right" style="display:none; font-size:24px"></i>
				            <h2 class="my-0">1. Sign In</h2>
				            <div class="step-data"></div>
				        </div>
				        <div id="collapseSignIn" class=" collapse">
				            <div class="card-body">
	                            <div class="form-group fgqm fsd1">
	                                <p><span class="text-danger">*</span> Denotes a required field</p>
	                            </div>
	                             {% include "/checkout/_partials/single-page-steps/signin.html.twig" %}
				            </div>
				        </div>
				    </div>
				    <div id="shipping-panel" class="card">
				        <div class="card-header">
				        	<button id="btn-edit-shipping" class="btn btn-default btn-xs float-right btn-edit" data-parent="#checkout-steps"  style="position: relative;">Edit</button>
				        	<i id="shipping-loading" class="fa fa-spinner fa-spin float-right" style="display:none; font-size:24px"></i>
				            <h2 class="my-0">2. Shipping Address</h2>
				            <div class="step-data"></div>
				        </div>
				        <div id="collapseShipping" class=" collapse">
				            <div class="card-body">
								{% include "/checkout/_partials/single-page-steps/shipping.html.twig" %}
				            </div>
				        </div>
				    </div>
				    <div id="shipping-method-panel" class="card">
				        <div class="card-header">
			            	<button id="btn-edit-shipping-method" class="btn btn-default btn-xs float-right btn-edit" data-parent="#checkout-steps"  style="position: relative;">Edit</button>
				        	<i id="shipping-method-loading" class="fa fa-spinner fa-spin float-right" style="display:none; font-size:24px"></i>
				            <h2 class="my-0">3. Shipping Method</h2>
				            <div class="step-data"></div>
				        </div>
				        <div id="collapseShippingMethod" class=" collapse">
				            <div class="card-body">
								{% include "/checkout/_partials/single-page-steps/shipping-method.html.twig" %}
				            </div>
				        </div>
				    </div>
				    <div id="payment-panel" class="card">
				        <div class="card-header">
				        	<button id="btn-edit-payment" class="btn btn-default btn-xs float-right btn-edit" data-parent="#checkout-steps"  style="position: relative;">Edit</button>
				        	<i id="payment-loading" class="fa fa-spinner fa-spin float-right" style="display:none; font-size:24px"></i>
				            <h2 class="my-0">4. Payment</h2>
				            <div class="step-data"></div>
				        </div>
				        <div id="collapsePayment" class=" collapse">
				            <div class="card-body">
								{% include "/checkout/_partials/single-page-steps/payment.html.twig" %}
				            </div>
				        </div>
				    </div>
				    <div id="review-panel" class="card">
				        <div class="card-header">
				        	<i id="review-loading" class="fa fa-spinner fa-spin float-right" style="display:none; font-size:24px"></i>
				            <h2 class="my-0">5. Review Your Order</h2>
				        </div>
				        <div id="collapseReview" class=" collapse">
				            <div class="card-body">
								{% include "/checkout/_partials/single-page-steps/review.html.twig" %}
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div id="checkout-right" class="col-lg-4">
				<div id="summary-panel">
					<div class="card" >
						<div class="card-header"><h2>Order Summary</h2></div>
						<div class="card-body" >
							<h3>Items (<span id="num-items"></span>)</h3>
								<div class="fsd1" id="item-list">
								</div>
								<div class="d-none" id="item-list-copy">
									<div class="divide g item mb-3 pb-3">
										{% spaceless %}
										<div class="media">
											<div class="media-left">
												<div class="image-space image-space-product">
													<img class="img-fluid img-product isd media-object" src="{{ app.url_asset }}/assets/images/spacer.gif{#<%= variant.get('thumbnail') %>#}" width="250" height="250" alt="">
												</div>
											</div>
											<div class="media-body">
												<div class="name product-name">
												</div>
												<div class="pricing"><div class="price">
													{{ prod.currency("0.00") }}<span class="lang"> each</span>
												</div></div>
												<div class="stock">
												</div>
												<div class="qty quantity">Qty: </div>
											</div>
										</div>
										{% endspaceless %}
									</div>
								</div>
								<div class="d-none" id="item-list-data">
								</div>
							<hr/>
							<div class="fsd1" id="totals-section">
							</div>
							<div class="d-none" id="totals-section-copy">
							    <div class="divide mb-3 pb-3">
									<div class="row totals-subtotal">
										<div class="amount col-7">Subtotal:</div>
										<div class="amount col-5 text-right">
											{{ prod.currency("0.00") }}
										</div>
									</div>
									<div class="row totals-shipping">
										<div class="amount col-7">Shipping:</div>
										<div class="amount col-5 text-right">
											{{ prod.currency("0.00") }}
										</div>
									</div>
									<div class="row totals-discount">
										<div class="amount col-7">Discount:</div>
										<div class="amount col-5 text-right price-discount">
											{{ prod.currency("0.00") }}
										</div>
									</div>
									<div class="row totals-tax">
										<div class="amount col-7">Tax:</div>
										<div class="amount col-5 text-right">
											{{ prod.currency("0.00") }}
										</div>
									</div>
								</div>
								<div class="row totals-total">
									<div class="amount col-7">Total:</div>
									<div class="amount col-5 text-right">
										{{ prod.currency("0.00") }}
									</div>
								</div>
							</div>
							<div class="d-none" id="totals-section-data"></div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
	                        <h3>Coupon Code</h3>
							<form name="coupon">
								<div class="form-group">
									<label class="sr-only" for="cart_coupon_code">Coupon Code</label>
									<div class="row">
										<div class="col-6">
											{{ forms.text('cart[coupon_code]', coupon_code, {class:'form-control parsley-validated', id:'cart_coupon_code', placeholder: "Coupon Code"}) }}
										</div>
										<div class="col-6">
											<button id="checkout_enter_coupon" class="btn btn-default btn-block">Apply</button>

										</div>
									</div>
									<div id="enter_coupon_validation"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script id="summary-item-compress" type="text/template">
	<div class="compressed-item">
		<p class="t"><%= variant.get('thumbnail') %></p>
		<p class="n"><%= variant.get('name') %>
            <% if(item.personalization) { %>
                <% for(var d in item.personalization) { var personalization = item.personalization[d]; %>
                    <br><%= personalization.name+': '+personalization.value %>
                <% } %>
            <% } %>
        </p>
		<p class="s"><%= variant.get('has_stock')?"In Stock":"Out of Stock" %></p>
		<p class="q">Qty: <%= item.quantity %></p>
		<p class="p"><%= variant.get('price') %></p>
		<p class="l">
		<% if(item.wishlist_id) { %>
			<div class="wishlist mb-3"><a href="{{ app.url }}"><i class="icon icon-list"></i> For </a></div>
		<% } %>
		<% if(item.registry_id) { %>
			<div mb-3 class="registry mb-3"><a href="{{ app.url }}"><i class="icon icon-list"></i> For </a></div>
		<% } %>
		</p>
	</div>
</script>

<script id="summary-totals-compress" type="text/template">
	<div class="discounts">
	<% for(var d in cart.discount_collection.discounts) {{ '{' }} var discount = cart.discount_collection.discounts[d];  %>

		<% if(discount.type == 'coupon'){{ '{' }}  %>
		<div class="discount">
			<div class="alert alert-info">
				<button class="float-right btn btn-info btn-xs remove-coupon" id="remove-coupon-<%= discount.id %>">Remove</button>
				<p>
				<b>Coupon: <%= discount.code %></b>
				<% if(discount.description) {{ '{' }} %><br><% {{ '}' }} %>
				<%= discount.description %>
				</p>

			</div>
		</div>
		<% {{ '}' }}  %>
	<% {{ '}' }}  %>
	</div>
	<p class="c-ist"><%= parseFloat(cart.item_subtotal).toFixed(2) %></p>
	<% if(cart.shipping_method ) { %>
	<p class="c-sr"><%= parseFloat(cart.shipping_rate).toFixed(2) %></p>
	<% } %>
	<% if(parseFloat(cart.discount_price) > 0) { %>
	<p class="c-dp"><%= parseFloat(cart.discount_price).toFixed(2) %></p>
	<% } %>
	<% if(cart.tax_rate) { %>
	<p class="c-tr"><%= parseFloat(cart.tax_rate).toFixed(2) %></p>
	<% } %>
	<p class="c-t"><%= parseFloat(cart.total).toFixed(2) %></p>
</script>

<script id="shipping-methods-template" type="text/template">
<fieldset><legend class="sr-only">Select a Shipping Method</legend>
    <div class="table-responsive fsd1">
	<table  class="table">
	<thead>
        <tr>
		    <th>Method</th>
			<th>Est<span class="d-none d-md-inline">imated</span> Arrival</th>
			<th class="shrink text-right">Price</th>
		</tr>
	</thead>
	<tbody>
		<% _.each(methods,function(method) { %>
			    <tr data-method="<%= method.id %>">
			        <td><div class="custom-control custom-radio"><input <%= (method.id == current_method)?'checked':''  %> type="radio" class="custom-control-input" id="method_<%= method.id %>_input" name="shipping_method" value="<%= method.id %>"><label class="custom-control-label" for="method_<%= method.id %>_input"><%= method.name %></label></div></td>
			        <td><span><% if(method.bottom_days_range && method.top_days_range) { %><%= method.bottom_days_range %> - <%= method.top_days_range %> days <% } %></span><i class="fa fa-circle-notch fa-spin spinner" style="display:none;"></i></td>
			        <td class="shrink text-right"><span>{{ prod.currency("0.00") }}<span class="d-none"><% if(typeof method.price==='undefined') {{ '{' }}  %><span class="price"><i class="fa fa-refresh fa-spin spinner" style="font-size:24px"></i><% {{ '}' }} %><%= method.price %></span></span></span></td>
			    </tr>
	    <% }) %>
	</tbody>
	</table>
	</div>
</fieldset>
</script>


{% endblock %}

{% block js %}

	{% if api.get('/order/platform').platform == 'Stripe' %}
	    {{ app.asset.js('https://js.stripe.com/v3/') }}
	{% endif %}
    {{ app.asset.js(assets_url ~ '/assets/js/underscore-min.js',0) }}
    {{ app.asset.js(assets_url ~ '/assets/js/backbone-min.js',0) }}
    {{ app.asset.js(assets_url ~ '/assets/js/popper-1.14.3.min.js') }}
	{{ app.asset.js(assets_url ~ '/assets/js/moment-with-locales.min.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/models/customer.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/models/order.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/models/product.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/models/variant.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/models/cart.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/collections/customeraddresses.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/collections/shippingmethods.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/collections/shippingcountries.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/collections/billingcountries.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/collections/shippingstates.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/collections/billingstates.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/views/summary-view.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/views/checkout-view.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/checkoutbb/checkoutbb.js') }}
    {{ app.asset.js(assets_url ~ '/assets/js/bootstrap-v3-shim.min.js') }}

{% endblock %}

{% block css %}
	{{ app.asset.css( assets_url ~ '/assets/css/theme/checkout.css' ) }}
{% endblock %}
