{% block content %}

	<style>
	  .checkoutapp .panel .panel-heading .panel-title .btn-edit {	
		position: relative; left: 10px; top: -5px; padding: 4px;
		background: #fff;
	    border: 1px solid black;
	    text-transform: none;
	  }
	  .checkoutapp #checkout-steps h3 {
	  	 color: #777;
	  	 font-size: 16.8px;
	  	 font-weight: bold;
	  	 text-transform: uppercase;
	  }
	  .checkoutapp #checkout-steps .step-data {
	  	 font-size: 14px;
	  	 margin-left: 20px;
	  	 margin-top: 10px;
	  }

	  .checkoutapp #checkout-steps label {
	  	 font-size: 12px;


	  }  
	  .checkoutapp  .panel-title {
	  	 font-weight: bold;	  	
	  	 font-size: 19px;
	  	 color: #777;
	  }  
	  .checkoutapp #checkout-steps .form-group {
	  	 font-size: 14px;
	  	 margin-bottom: 5px;
	  }  
	  .checkoutapp #billing-address {
	  		margin-top: 20px;
	  }
	</style>

	<div class="checkoutapp">
			<div class="row">
				<div id="checkout-left" class="col-md-8">
					<div id="checkout-steps" class="panel-group">
					    <div class="panel panel-default">
					        <div id="signin-panel" class="panel-heading">
					            <h4 class="panel-title">
					                1. Sign In
									<button  class="btn btn-default pull-right btn-edit" data-toggle="collapse" data-parent="#checkout-steps" href="#collapseSignIn">Edit</button>						                
					            </h4>
					            <div class="step-data">automatic.anderson@gmail.com</div>
					        </div>
					        <div id="collapseSignIn" class="panel-collapse collapse in">
					            <div class="panel-body">
	                                 {% include "/checkout/_partials/single-page-steps/signin.html.twig" %}
					            </div>
					        </div>
					    </div>
					    <div id="shipping-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                2. Shipping Address
					                <button  class="btn btn-default pull-right btn-edit" data-toggle="collapse" data-parent="#checkout-steps" href="#collapseShipping">Edit</button>					                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapseShipping" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/shipping.html.twig" %}
					            </div>
					        </div>
					    </div>
					    <div id="shipping-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                3. Shipping Method
									<button  class="btn btn-default pull-right btn-edit" data-toggle="collapse" data-parent="#checkout-steps" href="#collapseShippingMethod">Edit</button>					                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapseShippingMethod" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/shipping-method.html.twig" %}
					            </div>
					        </div>
					    </div>					    
					    <div id="billing-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                4. Payment
									<button class="btn btn-default pull-right btn-edit" data-toggle="collapse" data-parent="#checkout-steps" href="#collapsePayment">Edit</button>						                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapsePayment" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/payment.html.twig" %}
					            </div>
					        </div>
					    </div>					    
					    <div id="review-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                <a data-toggle="collapse" data-parent="#checkout-steps" href="#collapseReview">5. Review Your Order </a>
					            </h4>

					        </div>
					        <div id="collapseReview" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/review.html.twig" %}
					            </div>
					        </div>
					    </div>
					</div>
				</div>
				<div id="checkout-right" class="col-md-4">
					<div id="summary-panel" class="panel panel-default" style="min-height: 200px">
						<div class="panel-heading"><h4 class="panel-title">Order Summary</h4></div>
						<div class="panel-body">
							
						</div>
					</div>
				</div>					
			</div>

	</div> 
	<div style="display:none" id="summary-template">
		SUMMARY!
	</div>

{% endblock %}


{% block js %}
    {{ app.asset.js(app.url_asset ~ '/assets/js/sticky-kit.min.js') }}	
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/order.js') }}		
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/cart.js') }}	
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/views/checkout-view.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/checkoutbb.js') }}
{% endblock %}