{% block content %}

	<style>
	  .checkoutapp .panel .panel-heading .panel-title .btn-edit {	
		position: relative; left: 10px; top: -5px; padding: 4px;
		background: #fff;
	    border: 1px solid black;
	    text-transform: none;
	  }
	  .checkoutapp  h3 {
	  	 color: #777;
	  	 font-size: 16.8px;
	  	 font-weight: bold;
	  	 text-transform: uppercase;
	  }
	  .checkoutapp #checkout-steps .step-data {
	  	 font-size: 14px;
	  	 margin-left: 0px;
	  	 margin-top: 10px;
	  }

	  .checkoutapp #checkout-steps label {
	  	 font-size: 12px;
	  }  
	  .checkoutapp  .panel-title {
	  	 font-weight: bold;	  	
	  	 font-size: 19px;
	  	 color: #777;
	  }  
	  .checkoutapp #checkout-steps .form-group {
	  	 font-size: 14px;
	  	 margin-bottom: 5px;
	  }  
	  .checkoutapp #billing-address {
	  		margin-top: 20px;
	  }
	  .checkoutapp .btn-edit {
	  	  display:none;
	  }
	  #guest-form > div > span {
     	  margin-right: 0.5em;
	  }
      #checkout-cards .checkout-card {
      	margin: 0px;
      	padding: 0px;
      }
      #checkout-cards .col-thin {
      	max-width: 60px;
      	margin: 0px;
      	padding: 0px;
      }      
	</style>

	<div class="checkoutapp">
			<div class="row">
				<div id="checkout-left" class="col-md-8">
					<div id="checkout-steps" class="panel-group">
					    <div class="panel panel-default">
					        <div id="signin-panel" class="panel-heading">
					            <h4 class="panel-title">
					                1. Sign In
									<button id="btn-edit-signin" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps" >Edit</button>						                
					            </h4>
					            <div class="step-data"></div>
					        </div>
					        <div id="collapseSignIn" class="panel-collapse collapse">
					            <div class="panel-body">
	                                 {% include "/checkout/_partials/single-page-steps/signin.html.twig" %}
					            </div>
					        </div>
					    </div>
					    <div id="shipping-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                2. Shipping Address
					                <button id="btn-edit-shipping" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps" >Edit</button>					                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapseShipping" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/shipping.html.twig" %}
					            </div>
					        </div>
					    </div>
					    <div id="shipping-method-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                3. Shipping Method
									<button id="btn-edit-shipping-method" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps">Edit</button>					                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapseShippingMethod" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/shipping-method.html.twig" %}
					            </div>
					        </div>
					    </div>					    
					    <div id="payment-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                4. Payment
									<button id="btn-edit-payment" class="btn btn-default pull-right btn-edit" data-parent="#checkout-steps">Edit</button>						                
					            </h4>
					            <div class="step-data"></div>					            
					        </div>
					        <div id="collapsePayment" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/payment.html.twig" %}
					            </div>
					        </div>
					    </div>					    
					    <div id="review-panel" class="panel panel-default">
					        <div class="panel-heading">
					            <h4 class="panel-title">
					                <a data-toggle="collapse" data-parent="#checkout-steps" href="#collapseReview">5. Review Your Order </a>
					            </h4>

					        </div>
					        <div id="collapseReview" class="panel-collapse collapse">
					            <div class="panel-body">
									{% include "/checkout/_partials/single-page-steps/review.html.twig" %}
					            </div>
					        </div>
					    </div>
					</div>
				</div>
				<div id="checkout-right" class="col-md-4">
					<div id="summary-panel" class="panel panel-default" style="min-height: 200px">
						<div class="panel-heading"><h4 class="panel-title">Order Summary</h4></div>
						<div class="panel-body fsd1" >
							<h3>Items (<span id="num-items"></span>):</h3>
								<div id="item-list" >

								</div>
							<hr/>
							<div id="totals">

							</div>

						</div>
					</div>
				</div>					
			</div>
	</div> 

	<script id="summary-item-template" type="text/template">
		<div class="divide g p pad-b">
			<div class="media">
				<div class="media-left">
					<img class="media-object" onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.gif'" src="<%= variant.get('thumbnail') %>" width="250" height="250" alt="">
				</div>
				<div class="media-body">
					<div class="name"><%= variant.get('name') %></div>
						<div class="availability">
							<span><%= availability %> </span>
						</div>
					<div class="qty">Qty: <%= item.quantity %> </div>
					<div class="pricing"><div class="price">Price: <span class="dollar-sign">$</span><%= variant.get('price') %> <span class="each">each</span></div>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script id="summary-totals-template" type="text/template">
		<div class="amount col-xs-7">Subtotal:</div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><%= cart.get('subtotal') %></span></div>

		<% if(cart.get('tax')) { %>
			<div class="amount col-xs-7">Shipping:</div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><%= cart.get('tax') %></span></div>
		<% } %>

		<% if(cart.get('shipping_rate')) { %>
			<div class="amount col-xs-7">Shipping:</div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><%= cart.get('shipping_rate') %></span></div>
		<% } %>
		<div class="amount col-xs-7">Total:</div><div class="amount col-xs-5 text-right"><span class="dollar-sign">$</span><span class="price"><%= (parseInt(cart.get('subtotal')) + parseInt(cart.get('shipping_rate')) ).toPrecision(4) %></span></div>

	</script>
{% endblock %}


{% block js %}
    {{ app.asset.js(app.url_asset ~ '/assets/js/sticky-kit.min.js') }}	    
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/order.js') }}	
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/product.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/variant.js') }}           	
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/models/cart.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/shippingcountries.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/collections/shippingstates.js') }}    
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/views/summary-view.js') }}    
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/views/checkout-view.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/checkoutbb/checkoutbb.js') }}
{% endblock %}