<h3>Shipping Address</h3>

<div id="customer-addresses" style="display: none;">
	<div class="form-group">
         <label class="control-label" for="shipping-customer-addresses-select">Select an Address</label>
		<select class="form-control" id="shipping-customer-addresses-select">
		</select>
        <div class="validation"></div>			
	</div>
</div>
{% set address = app.user.getCheckoutStates('shipping') %}
{% set name ="shipping_" %}
<script type="application/javascript">
	var shipping_state_val = '{{ address['shipping_state'] }}';
</script>
<form id="shipping-address-form" novalidate parsley-validate>
<div class="hide-shipping">	
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group fgq">
				<label class="control-label" for="first-name">First Name</label>
				{{ forms.text('shipping_first_name', address[name ~ 'first_name'], {class:'form-control parsley-validated', id:'first-name', placeholder:"First Name", required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, name ~ 'first_name') }}</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group fgq">
				<label class="control-label" for="last-name">Last Name</label>
				{{ forms.text('shipping_last_name', address[name ~ 'last_name'], {class:'form-control parsley-validated', id:'last-name', placeholder:"Last Name", required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, name ~ 'last_name') }}</div>
			</div>
		</div>
	</div>
	<fieldset class="verify-change-shipping">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="form-group fgq normalizable">
				<label class="control-label" for="shipping-country">Country</label>
				{{ forms.select('shipping_country', address[name ~ 'country'], {}, {class:'form-control parsley-validated', id:'shipping-country', required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, name ~ 'country') }}</div>
			</div>
		</div>
	</div>
	<div class="form-group fgq normalizable">
		<label class="control-label" for="addr-1">Address Line 1</label>
		{{ forms.text('shipping_street_line1', address[name ~ 'street_line1'], {class:'form-control parsley-validated', id:'addr-1', placeholder:"Address Line 1", required:true}) }}
		<div class="validation">{{ forms.errorlist(form_errors, name ~ 'street_line1') }}</div>
	</div>
	<div class="form-group normalizable">
		<label class="control-label" for="addr-2">Address Line 2</label>
		{{ forms.text( 'shipping_street_line2', address[name ~ 'street_line2'], {class:'form-control parsley-validated', id:'addr-2', placeholder:"Address Line 2"}) }}
		<div class="validation">{{ forms.errorlist(form_errors, name ~ 'street_line2') }}</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group fgq normalizable">
				<label class="control-label" for="city">City</label>
				{{ forms.text('shipping_city', address[name ~ 'city'], {class:'form-control parsley-validated', id:'city', placeholder:"City", required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, name ~ 'city') }}</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group fgq normalizable">
				<label class="control-label" id="state-label" for="shipping-state">State/Province</label>
                {{ forms.select('shipping_state_select', address[name ~ 'state'], {}, {class:'form-control parsley-validated', placeholder:"State", id:'shipping-state-select'}) }}
                {{ forms.text('shipping_state_text', '', {class:'form-control', placeholder:"State/Province", id:'shipping-state-text'}) }}                
                <div class="validation">{{ forms.errorlist(form_errors, name ~ 'state') }}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group fgq normalizable">
				<label class="control-label" for="zip" id="zip-label">Zip Code</label>
				{{ forms.text('shipping_zip', address[name ~ 'zip'], {class:'form-control parsley-validated', id:'zip', placeholder:"Zip Code", required:true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, name ~ 'zip') }}</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group fgq">
				<label class="control-label" for="phone">Phone Number</label>
				{{ forms.text('shipping_phone_number', address[name ~ 'phone_number'], {class:'form-control parsley-validated', id:'phone', placeholder:"Phone Number", required: true}) }}
				<div class="validation">{{ forms.errorlist(form_errors, name ~ 'phone_number') }}</div>
			</div>
		</div>
	</div>
</fieldset>
</div>
    <div class="copy-shipping-flag">
		<div class="form-group">
			<div class="checkbox">
			  <label><input type="checkbox" name="copy_shipping_to_billing" value="">Shipping Address is the same as the Billing Address</label>
			</div>
		</div>
    </div>
    <div id="address-verify"></div>
	<button id="btn-continue-shipping" class="btn btn-lg btn-primary btn-cart btn-xs-block pull-right">Continue</button>
</form>