{% set cart = api.get('cart') %}
<div class="row">
	<div class="col-md-6 mb-4 mb-md-0">
		<h3>Guest Checkout</h3>
		<p> Welcome! An email address is required for order tracking. Please click below if you would like to also create an account.</p>
		<form id="guest-form">
		  <div class="form-group fgq">
		    <label for="guestEmail">Email Address{{forms.fgqtext}}</label>
		    <input type="email" class="form-control parsley-validated" id="guestEmail" name="email" value="{{ cart.email }}" placeholder="Email Address" required>
		  </div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				{% set checked = '' %}
				{% if app.user.getState('newsletter') == '1' %}{% set checked = 'checked' %}{% endif %}
				<input type="checkbox" class="custom-control-input" id="newsletter" name="newsletter" {{ checked }} value="1">	
				<label class="custom-control-label" for="newsletter">Signup for special offers!</label>
    			</div>				  
    			<div class="custom-control custom-checkbox">
    			 	{% set create_checked = '' %}
    			  	{% if app.user.getState('create_account') == '1' %}{% set create_checked = 'checked' %}{% endif %}
    			  	<input type="checkbox" class="custom-control-input" id="create_account" name="create_account" {{ create_checked }} value="1">
    				<label class="custom-control-label" for="create_account">Create an Account!</label>
    			</div>
    		</div>

			<div id="new-user-form" style="display:none">
			  <div class="form-group fgq">
			    <label for="newPass">Create Password{{forms.fgqtext}}</label>
			    <input type="password" class="form-control parsley-validated" id="newPass" name="new_user_password" placeholder="Password"  value="{{ app.user.getState('new_user_password') }}" >
			  </div>
			  <div class="form-group fgq">
			    <label for="newPassVerify">Verify Password{{forms.fgqtext}}</label>
			    <input type="password" class="form-control parsley-validated" id="newPassVerify" name="new_user_password_verify" placeholder="Verify Password" value="{{ app.user.getState('new_user_password_verify') }}" >
				<div class="fsd1 text-danger" id="create-user-error"></div>  			  
			  </div>
			</div>

		  <button id="btn-continue-signin" class="btn btn-lg btn-primary btn-cart btn-xs-block float-right">Continue</button>
		</form>
	</div>
	<div class="col-md-6">
		<h3>Returning Customer</h3>
		<p>Welcome back! <br>Simply sign in and let's get started.</p>
		<form id="login-form">
		  <div class="form-group fgq">
		    <label for="custEmail">Email Address{{forms.fgqtext}}</label>
		    <input type="email" class="form-control" id="custEmail" name="email" placeholder="Email Address">
		  </div>
		  <div class="form-group fgq">
		    <label for="custPass">Password{{forms.fgqtext}}</label>
		    <input type="password" class="form-control" id="custPass" name="password" placeholder="Password">
			<div class="fsd1 text-danger" id="signin-error"></div>
		  </div>
		  <button id="btn-login-signin" class="btn btn-lg btn-primary btn-cart btn-xs-block float-right">Sign In</button>
		</form>

	</div>

</div>