{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.titform() }}>
				Hello {{customer.first_name|title}},
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				A password reset was requested. To choose a new password please follow the link below:
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Reset Your Password
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
					<a href="{{app.url}}/account/reset-password?token={{reset_password_token}}" style="color:#000; text-decoration:underline;"><b>{{app.url}}/account/reset-password?token={{reset_password_token}}</b></a>
				</td>
		</table>
	</td>
</tr>
{% include 'email/core/top-seller.html.twig' %}
{% include 'email/core/footer.html.twig' %}