{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.titform() }}>
				Welcome to <b>{{ params['site']['title']|default("") }}</b>!
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				We are excited to have you as a customer and look forward to provide you with great products and services from <b>{{ params['site']['title']|default("") }}</b>.
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Login Details
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
					Log in using your personal details below:
					<br><b>Username:</b> {{ email }}
					<br><b>Password:</b> ******
					<br><br>Forgot Your Password? <a href="{{ params['url']['current'] }}/account/reset-password" style="color:#000; text-decoration:underline;"><b>Reset your password</b></a>.
				</td>
		</table>
	</td>
</tr>
{% include 'email/core/top-seller.html.twig' %}
{% include 'email/core/footer.html.twig' %}