{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.titform() }}>
				Thank you for subscribing to<br><b>{{ params['site']['title']|default("") }}</b>!
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				You have successfully subscribed to the <b>{{ params['site']['title']|default("") }}</b> newsletter. You will now be one of the first to know about our best promotions, latest arrivals, exclusive offers, and much more!*
				</td>
			</tr>
			<tr>
				<td {{ ema.comformD() }}>
					<a style="display:inline-block; padding:9px 29px; color:#000; font-size:16px; font-weight:bold; text-decoration:none; border:1px solid #000;" href="{{app.url}}/">Start Shopping!</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
{% include 'email/core/footer.html.twig' %}