
	<table border="0" cellpadding="0" cellspacing="0" width="100%" >
		<!-- Begin email header -->		
		<tr>
			<td>
				<table align="center" border="0" bgcolor="#222222" cellpadding="0" cellspacing="0" width="640" >
					<tr>
						<!-- Begin Top Part -->
						<td align="right" style="padding:5 0px;"><a href="{{app.live_url}}/account/login"><img src="{{ app.live_asset }}/images/btn-login.png" alt="Login Your Account"  width="79" height="34"/></a></td>
						<td align="right" style="padding-right:20px;" width="100"><a href="{{app.live_url}}/cart"><img src="{{ app.live_asset }}/images/btn-cart.png" alt="Go to Your Cart" width="93" height="34"/></a></td>
						<!-- End Top Part -->
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="640">
					<tr>
						<!-- Begin logo -->
						<td align="center" width="640" height="97">
							<h1 style="color: #333333; font-family: helvetica, arial, sans-serif; font-size: 36px; line-height: 1.42857;">{{ app.params['site']['title'] }}</h1>
							<hr/>
						</td>
						<!-- End logo -->
					</tr>
				</table>
			</td>
		</tr>
		<!-- End email header -->
		<!-- Begin email content -->
		<tr>
			<td>				
				<table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="640">
					<!-- Begin welcome section -->
					<tr>
						<td align="left" style="padding:10px 20px; vertical-align:top;">
							<h1 style="color: #333333; font-family: helvetica, arial, sans-serif; font-size: 36px; line-height: 1.42857;"><a href="{{app.live_url}}" style="text-decoration:none; color:#333333; ">Thank you for subscribing to our newsletter!</a></h1>
						</td>
					</tr>
					<tr>
						<td align="left" style="padding:0px 20px; vertical-align:top;">
							<p style="font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 22px; color:#555555;">
							You have successfullly subscribed to the {{ app.params['site']['title'] }} newsletter. You will now be one of the first to know about our best promotions, latest arrivals, exclusive offers, and much more!</p>						
						</td>
					</tr>
					<!-- End welcome section -->
					
					<tr>
						<td align="left" style="padding: 20px 30px 50px 20px;"><a href="#"><img src="images/btn-shopping.png" alt="Start Shopping Now!"  width="200" height="34"/></a></td>
					</tr>
					<tr>
						<td align="left" style="padding:0px 20px 20px 20px; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; color:#555555;">
							<p>Thank you from your friends at {{ app.params['site']['title'] }}!</p>
							<p>Please add us to your email address book to make sure you receive important emails from us.</p>
							<p style="font-size: 12px; line-height: 22px; color:#474747;">* May exclude certain brands and products. Subject to change without notice.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>					
		<!-- End Coupon Code Content -->		
		
<!-- Begin email footer -->
					<tr>
						<td>
							<table align="center" border="0" bgcolor="#222222" cellpadding="0" cellspacing="0" width="640">
						<tr align="left" style="vertical-align:top; ">
							<td width="50px;" style=" padding:20px 0px 10px 20px;">
								<p style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size:15px; font-weight:700; margin: 0; color:#ffffff;">Quicklinks</p>
							</td>
						</tr>
						<tr align="left" style="vertical-align:top;">
							<td width="110px;">
								<ul style="list-style-type: none; margin:0px; padding-left:20px;">
									<li style="padding-bottom: 6px;">
										<a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.live_url}}/account/orders">Order Status</a></li>
									</ul>
								</td>
								<td width="110px;">
									<ul style="list-style-type: none; margin:0px; padding-left:20px;">
										<li style="padding-bottom: 6px;">
											<a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.live_url}}/cart">Shopping Cart</a></li>
											<li style="padding-bottom: 6px;">
												<a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.live_url}}/registry/search">Gift Registry</a></li>
											</ul>
										</td>
										<td width="110px;">
											<ul style="list-style-type: none; margin:0px; padding-left:20px;">
												<li style="padding-bottom: 6px;">
													<a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.live_url}}/content/base/help">Help &amp; FAQs</a></li>
													<li style="padding-bottom: 6px;">
														<a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.live_url}}/contact">Contact Us</a></li>
													</ul>
												</td>
												<td width="110px;">
													<ul style="list-style-type: none; margin:0px; padding-left:20px;">
														<li style="padding-bottom: 6px;">
															<a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.live_url}}/content/base/privacy-security">Privacy &amp; Security</a></li>
															<li style="padding-bottom: 6px;">
																<a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.live_url}}/content/base/terms">Terms &amp; Conditions</a></li>
															</ul>
														</td>
													</tr>
												</table>
											</td>
										</tr>

										<tr>
											<td>
												<table align="center" border="0" bgcolor="#222222" cellpadding="0" cellspacing="0" width="640">
													<tr>
														<td><hr style="color:#555555;" /></td>
													</tr>
													<tr align="center" style="vertical-align:top; ">
														<td style=" padding:20px 0px 10px 20px;"><p style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 12px; color:#555555;">Copyright &copy;2015 {{ app.params['site']['title'] }} All Rights Reserved. Powered by Acenda.</p>
														</td>
													</tr>
												</table>
												<!-- End email footer -->
											</td>
										</tr>
									</table>
