{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
{% set config = api.get('/config') %}
{% set order = api.get('/order/' ~ order_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set return = api.get('/orderreturn/' ~ return_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set item = api.get('/orderitem/' ~ return.item_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number, {query:{order_id:order_id}}) %}
{% set product_ids = item|values_in('variant_id') %}
{% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}
{% set product = products[item.variant_id].0 %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.titform() }}>
				Order Return
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				Your <strong>{{ params['site']['title']|default("") }}</strong> order status return has been updated!
				<br><strong>Order:</strong> #{{ order.order_number }}
				</td>
			</tr>
	  </table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Returned Product
				</td>
			</tr>
			<tr>
				<td {{ ema.comformB() }}>
				    <table {{ ema.tform() }}>
				        <tr>
				            <td style="width:80px;" valign="top">
        				        <img style="display:block; margin:0;" src="{{product.thumbnail}}" width="80" height="80" alt="">
        				    </td>
        				    <td style="padding:0 0 0 20px;" valign="top">
            				    <a href="{{app.url}}{{product.url}}" style="color:#000; text-decoration:none;"><strong>{{item.name}}</strong></a>
            				    <br><strong>RMA:</strong> #{{return.rma}}
            				    {% if item.sku is not empty %}<br><strong>SKU:</strong> {{item.sku}}{% endif %}
            					<br><strong>Qty:</strong> {{return.quantity}}
            					{% if return.reason is not empty %}<br><strong>Reason:</strong> {{return.reason}}{% endif %}
            					<br><strong>Status:</strong> {{return.status }}
            				</td>
            			</tr>
            		</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
{% if config.params['email-show-ts'] == '1' %}
	{% include 'email/core/top-seller.html.twig' %}
{% endif %}
{% include 'email/core/footer.html.twig' %}
