{%- import "/_macros/product.html.twig" as mac -%}
{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
{% set config = api.get('/config') %}
{% set order = api.get('/order/' ~ order_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set items = order.items %}
{% set product_ids = items|values_in('variant_id') %}
{% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}
{% set shipping_method = api.get('/shippingmethod/' ~ order.shipping_method) %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
			    <td {{ ema.titform() }}>
				Thank You!
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				Your <strong>{{ params['site']['title']|default("") }}</strong> Order has been confirmed!
				<br><strong>Order:</strong> #{{ order.order_number }}
				</td>
			</tr>
	  </table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
		        <td {{ ema.halftitform() }}>
			    Order Details
			    </td>
			    <td {{ ema.halftitform() }}>
				Shipping Info
				</td>
			</tr>
			<tr>
				<td {{ ema.halfcomform() }}>
					<strong>Order:</strong> #{{ order.order_number }}
					<br><strong>Date:</strong> {{ order.date_created }}
					<br><br><strong>Subtotal:</strong> {{ mac.currency(order.item_subtotal|number_format(2)) }}
                    <br><strong>Shipping:</strong> {{ mac.currency(order.shipping_rate|number_format(2, '.')) }}
                    {% if order.discount_price > 0 %}
                        <br><strong>Discount:</strong> {{ mac.currency(order.discount_price|number_format(2)) }}
                    {% endif %}
                    <br><strong>Total Before Tax:</strong> {{ mac.currency((order.item_subtotal + order.shipping_rate)|number_format(2, '.')) }}
					<br><strong>Tax:</strong> {{ mac.currency(order.tax|number_format(2)) }}
					<br><strong>Total:</strong> {{ mac.currency(order.total|number_format(2)) }}
				</td>
				<td {{ ema.halfcomform() }}>
					{{ order.shipping_first_name }} {{ order.shipping_last_name }}
					{% if order.giftlist_present is empty %}
					<br>{{ order.shipping_street_line1}} {{ order.shipping_street_line2}}
					<br>{{ order.shipping_city }}, {{ order.shipping_state }} {{ order.shipping_zip }}
					<br>{{ order.shipping_phone_number }}
					{% endif %}
					<br><strong>Using:</strong> {{ shipping_method.name }}
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Products
				</td>
			</tr>
			{% for item in items %}
			{% set product = products[item.variant_id].0 %}
			<tr>
				<td {{ ema.comformB() }}>
				    <table {{ ema.tform() }}>
				        <tr>
				            <td style="width:80px;" valign="top">
        				        <img style="display:block; margin:0;" src="{{product.thumbnail}}" width="80" height="80" alt="">
        				    </td>
        				    <td style="padding:0 0 0 20px;" valign="top">
								<a href="{{ params['url']['current']}}{{product.url}}" style="color:#000; text-decoration:none;"><strong>{{ item.name }}</strong></a>
								{% if item.sku is not empty %}<br><strong>SKU:</strong> {{item.sku}}{% endif %}
								{% if item.personalization is not empty %}{% for personalization in item.personalization %}
								<br>{{personalization.name}}: {{personalization.value}}
								{% endfor %}{% endif %}
								<br><strong>Price:</strong> {{ mac.currency(item.price|number_format(2)) }}
								<br><strong>Qty:</strong> {{ item.quantity }}
            				</td>
            			</tr>
            		</table>
				</td>
			</tr>
			{% endfor %}
		</table>
	</td>
</tr>
{% if config.params['email-show-ts'] == '1' %}
	{% include 'email/core/top-seller.html.twig' %}
{% endif %}
{% include 'email/core/footer.html.twig' %}
