{% set order = api.get('/order/' ~ order_id) %}
{% set items = api.get('/orderitem', {query:{order_id:order_id}}) %}
{% set product_ids = items|values_in('product_id') %}
{% set products = api.get('/product',{query:{id:{'$in':product_ids}}})|group_by('id') %}
<table border="0" cellpadding="0" cellspacing="0" width="100%" >
	<!-- Begin email header -->
	<!-- Begin Top Part -->
	<tr>
		<td>
			<table align="center" border="0" bgcolor="#222222" cellpadding="0" cellspacing="0" width="640" >
					<tr>
						<!-- Begin Top Part -->
						<td align="right" style="padding: 5 0px;"><a href="{{app.url}}/account/login"><img src="{{ app.url_asset }}/images/btn-login.png" alt="Login Your Account"  width="79" height="34"/></a></td>
						<td align="right" style="padding-right:20px;" width="100"><a href="{{app.url}}/cart"><img src="{{ app.url_asset }}/images/btn-cart.png" alt="Go to Your Cart" width="93" height="34"/></a></td>
						<!-- End Top Part -->
					</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="640">
				<tr>
					<!-- Begin logo -->
					<td align="center" width="640" height="97">
						<h1 style="color: #333333; font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 36px; line-height: 1.42857;">{{ app.params['site']['title'] }}</h1>
						<hr/>
					</td>
					<!-- End logo -->
				</tr>
			</table>
		</td>
	</tr>
	<!-- End email header -->
	<!-- Begin email content -->
	<tr>
		<td>				
			<table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="640">
				<tr><td>{# Variables passed in: order_id #}</td></tr>
					<!-- Begin welcome section -->
					<tr>
						<td align="left" style="padding:10px 20px; vertical-align:top;">
							<h1 style="color: #333333; font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 36px; line-height: 1.42857;"><a href="#" style="text-decoration:none; color:#333333; ">You have cancelled your order with {{ app.params['site']['title'] }} !</a></h1>
						</td>
					</tr>
					<tr>
						<td align="left" style="padding:0px 20px; vertical-align:top;">
							<p style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 14px; line-height: 22px; color:#555555; font-weight:400;">This email is to confirm your order cancellation.</p><br/>
						</td>
					</tr>
					<!-- End welcome section -->
					<!-- Begin Order Info -->

					<tr>
						<td align="left" style="padding:0px 20px; color:#333333; font-size: 14px; line-height: 24px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; margin:0;">
							<p>Order ID: {{ order.order_number }} <br/>
								Date: {{ order.date_created }} </p>
							</td>
						</tr>				
					</table>
				</td>
			</tr>
			<!-- End Order Info -->	
			<!-- Begin Item Info -->
			<tr>
				<td>
					<table border="0" align="center"  cellpadding="0" cellspacing="0" width="640" style="padding-bottom:20px;">
						<tr>
							<td  align="left" style="padding:10px 20px; vertical-align:top;"><h2 style="color:#f45b4f; font-size: 18px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 700; margin: 0; padding-top: 20px;">ITEM INFO</h2></td>
						</tr>
						
						<tr>
							<td><hr style="color:#f45b4f;" /></td>
						</tr>
						
						<tr>
							<td align="left" style="padding:0px 20px; vertical-align:center;"><p style="color:#555555; font-size: 14px; line-height: 22px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0; padding-top: 10px;">
								{% for item in items %} <br />
								URL: {{app.url}}{{products[item.product_id].0.url}} <br />
								SKU: {{item.sku}} <br />
								Item name: {{ item.name }} <br />
								Price: ${{ item.price }} <br />
								Quantity: {{ item.quantity }} <br />
								{% endfor %} <br /></p>

							</td>
						</tr>
						<tr>
							<td><hr style="color:#f45b4f;"/></td>
						</tr>

						<tr>
							<td  align="left" style="padding:20px 20px; vertical-align:top;">
								<p style="color:#555555; font-size: 13px; line-height: 20px; font-family: open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0;">
									Thank you for shopping with us.</p>
								</td>
							</tr>

						</table>
					</td>
				</tr>    <!-- End Item Info -->

				<!-- Begin email footer -->
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0">
								<td width="110px;">
									<ul style="list-style-type: none; margin:0px; padding-left:20px;">
										<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/account/orders">Order Status</a></li>
									</ul>
								</td>
								<td width="110px;">
									<ul style="list-style-type: none; margin:0px; padding-left:20px;">
										<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/cart">Shopping Cart</a></li>
										<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/registry/search">Gift Registry</a></li>
									</ul>
								</td>
								<td width="110px;">
									<ul style="list-style-type: none; margin:0px; padding-left:20px;">
										<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/content/base/help">Help &amp; FAQs</a></li>
										<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/contact">Contact Us</a></li>
									</ul>
								</td>
								<td width="110px;">
									<ul style="list-style-type: none; margin:0px; padding-left:20px;">
										<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/content/base/privacy-security">Privacy &amp; Security</a></li>
										<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/content/base/terms">Terms &amp; Conditions</a></li>
									</ul>
								</td>
							</table>
										</td>
									</tr>
									<tr>
										<td>
											<table align="center" border="0" bgcolor="#222222" cellpadding="0" cellspacing="0" width="640">
												<tr>
													<td><hr style="color:#555555;"></td>
												</tr>
												<tr align="center" style="vertical-align:top; ">
													<td style=" padding:20px 0px 10px 20px;"><p style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 12px; color:#555555;">Copyright &copy;2015 {{ app.params['site']['title'] }} All Rights Reserved. Powered by Acenda.</p>
													</td>
												</tr>
											</table>	<!-- End email footer -->

										</td>
									</tr>
								</table>
