{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
{% set order = api.get('/order/' ~ order_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set return = api.get('/orderreturn/' ~ return_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set item = api.get('/orderitem/' ~ return.item_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number, {query:{order_id:order_id}}) %}
{% set product_ids = item|values_in('variant_id') %}
{% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}
{% set product = products[item.variant_id].0 %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.titform() }}>
					Order Return
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				Your <strong>{{ params['site']['title']|default("") }}</strong> order status return has been confirmed!
				<br><strong>Order:</strong> #{{ order.order_number }}
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
		    <tr>
				<td {{ ema.minititform() }}>
					Product
				</td>
			</tr>
			<tr>
				<td {{ ema.comformB() }}>
				    <table {{ ema.tform() }}>
				        <tr>
				            <td style="width:80px;" valign="top">
        				        <img style="display:block; margin:0;" src="{{product.thumbnail}}" width="80" height="80" alt="">
        				    </td>
        				    <td style="padding:0 0 0 20px;" valign="top">
            				    <a href="{{app.url}}{{product.url}}" style="color:#000; text-decoration:none;"><strong>{{item.name}}</strong></a>
            				    <br><strong>RMA #:</strong> {{return.rma}}
            				    <br><strong>SKU:</strong> {{item.sku}}
            					<br><strong>Qty:</strong> {{return.quantity}}
            					{% if return.reason is not empty %}
            					<br><strong>Reason:</strong> {{return.reason}}
            					{% endif %}
            				</td>
            			</tr>
            		</table>
				</td>
			</tr>
	  </table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Order Details
				</td>
			</tr>
			<tr>
				<td {{ ema.comformB() }}>
					You have successfully created a return. In order for us to process your return, your items must meet the following criteria:
					<ul style="list-style-type:disc; margin:0; padding:5px 20px 0;">
						<li>Items must be unused and returned with the original product tags.</li>
						<li>Items must be returned in their original, undamaged packaging.</li>
						<li>Please do not place shipping labels on product packaging, only place shipping labels on the cardboard shipping box.</li>
					</ul>
				</td>
			</tr>
		 </table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					What happens next?
				</td>
			</tr>
			<tr>
				<td {{ ema.comformB() }}>
					You have successfully created a return. In order for us to process your return, your items must meet the following criteria:
					<ol style="list-style-type:decimal; margin:0; padding:5px 20px 0;">
						<li>Print this page and cut on the dashed lines.</li>
						<li>Place the packing slip inside the box with the items you are returning.</li>
						<li>Affix the returns address label to the outside of your shipping box.</li>
						<li>Reprint as necessary for each package. If you do not currently have access to a printer, you can write your Return # and return shipping address on the shipping box.</li>
						<li>Please ship your items to the specified fulfillment center address below.</li>
					</ol>
				</td>
			</tr>
		 </table>
	</td>
</tr>
{% if app.params['return_address']['street_line1'] is not empty %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Ship your Returns to:
				</td>
			</tr>
			<tr>
				<td {{ ema.comformB() }}>
					{{ app.params['return_address']['street_line1'] }} {{ app.params['return_address']['street_line2'] }}
					<br>{{ app.params['return_address']['city'] }}, {{ app.params['return_address']['state'] }} {{ app.params['return_address']['zip'] }}
					{% if app.params['information']['phone_number'] is defined %}
					<br><br><strong>P:</strong> {{ app.params['information']['phone_number'] }}
					{% endif %}
				</td>
			</tr>
		 </table>
	</td>
</tr>
{% endif %}
{% include 'email/core/top-seller.html.twig' %}
{% include 'email/core/footer.html.twig' %}
