{% set return = api.get('/orderreturn/' ~ return_id) %}
{% set item = api.get('/orderitem/' ~ return.item_id) %}
	<table border="0" cellpadding="0" cellspacing="0" width="100%" >
		<!-- Begin email header -->
		<!-- Begin Top Part -->
		<tr>
			<td>
				<table align="center" border="0" bgcolor="#222222" cellpadding="0" cellspacing="0" width="640" >
				<tr>
					<!-- Begin Top Part -->
					<td align="right" style="padding:5 0px;"><a href="{{app.url}}/account/login"><img src="{{app.url_asset}}/images/btn-login.png" alt="Login Your Account"  width="79" height="34"/></a></td>
					<td align="right" style="padding-right:20px;" width="100"><a href="{{app.url}}/cart"><img src="{{app.url_asset}}/images/btn-cart.png" alt="Go to Your Cart" width="93" height="34"/></a></td>
					<!-- End Top Part -->
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
				<table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="640">
					<tr>
						<!-- Begin logo -->
						<td align="center" width="640" height="97">
							<h1 style="color: #333333; font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 36px; line-height: 1.42857;">{{ app.params['site']['title'] }}</h1>
							<hr/>
						</td>
						<!-- End logo -->
					</tr>
				</table>
			</td>
		</tr>
		<!-- End email header -->
		<!-- Begin email content -->
		<tr>
			<td>				
				<table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="640">
					<tr><td>{# Variables passed in: order_id, return_id #}</td></tr>
					<!-- Order Return Info -->
					<tr>
						<td align="left" style="padding:0px 20px; vertical-align:top;">
							<p style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 14px; line-height: 22px; color:#333333; font-weight:700;">You have successfully created a return and a copy of the return instructions below have been emailed to you. In order for us to process your return, your items must meet the following criteria:</p>
						</td>
					</tr>
					<tr>
						<td><table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="background-color: #ebebeb;">
							<tr align="left" style="vertical-align:top;">
								<td style="max-width:200px; padding: 20px;">
									<ul style="color:#555555; font-size: 14px; line-height: 24px; font-family: Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0;">
										<li>Items must be unused and returned with the original product tags.</li>
										<li>Items must be returned in their original, undamaged packaging.</li>
										<li>Please do not place shipping labels on product packaging, only place shipping labels on the cardboard shipping box.</li>
									</ul>
								</td>
							</tr></table></td></tr>
							<tr>
								<td align="left" style="padding:30px 20px; vertical-align:top;">
									<p style="color:#333333; font-size: 14px; line-height: 24px; font-family: Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0;"><b>What happens next:</b></p>
									<ul style="color:#333333; font-size: 14px; line-height: 24px; font-family: Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0;">
										<li>Print this page and cut on the dashed lines.</li> 
										<li>Place the packing slip inside the box with the items you are returning.</li>
										<li>Affix the returns address label to the outside of your shipping box.</li>
										<li>Reprint as necessary for each package. If you do not currently have access to a printer, you can write your Return # and return shipping address on the shipping box.</li>
										<li>Please ship your items to the specified fulfillment center address below.</li>
									</ul> 
								</td>
							</tr>
							
							<!-- End Order Return Info -->

							<!-- Begin Item Info -->
							<tr>
								<td><table border="0"  cellpadding="0" cellspacing="0" width="640" style="padding-bottom:20px;">
									<tr>
										<td  align="left" style="padding:10px 20px; vertical-align:top;"><h2 style="color:#F45B4F; font-size: 28px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 600; margin: 0; padding-top: 20px;">Your RMA number and other information for this return is:</h2></td>
									</tr>
									<tr>
										<td><hr style="color:#F45B4F;"></td>
									</tr>
									<tr>
										<td align="left" style="padding:0px 20px; vertical-align:center;"><p style="color:#555555; font-size: 14px; line-height: 22px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0; padding-top: 10px;">
											URL: {{app.url}}{{products[item.product_id].0.url}} <br />
											SKU: {{item.sku}} <br />
											Item name: {{ item.name }} <br />
											Price: ${{ item.price|number_format(2) }} <br />
											Quantity: {{ item.quantity }}<br />
											</p>

										</td>
									</tr>
									<tr>
										<td><hr style="color:#F45B4F;"></td>
									</tr>
									<tr>
										<td  align="left" style="padding:20px 20px; vertical-align:top;">
											<p style="color:#555555; font-size: 13px; line-height: 20px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0;">We will try to get your order shipped to you as soon as possible.<br /> <br/>
												Thank you for shopping with us.</p>
											</td>
										</tr>
									</table></td></tr>
									<!-- End Item Info -->
									<!-- Begin Return Address Info -->
									<tr>
										<td><table border="0"  cellpadding="0" cellspacing="0" width="640" style="padding-bottom:20px;">
											<tr>
												<td  align="left" style="padding:10px 20px; vertical-align:top;"><h2 style="color:#e16c25; font-size: 14px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 600; margin: 0; padding-top: 20px;">Please ship your returns to:</h2></td>
											</tr>
											<tr>
												<td><hr style="color:e16c25;"></td>
											</tr>
											<tr>
												<td align="left" style="padding:0px 20px; vertical-align:center;"><p style="color:#555555; font-size: 14px; line-height: 22px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0; padding-top: 10px;">
													Address: {{ app.params['return_address']['street_line1'] }} {{ app.params['return_address']['street_line2'] }} <br/>
													City: {{ app.params['return_address']['city'] }}
													State: {{ app.params['return_address']['state'] }}
													Zip: {{ app.params['return_address']['zip'] }} <br/>
													{% if app.params['information']['phone_number'] is defined %}
													P: {{ app.params['information']['phone_number'] }}
													{% endif %}</p>

												</td>
											</tr>
											<tr>
												<td><hr style="color:e16c25;"></td>
											</tr>
											<tr>
												<td  align="left" style="padding:20px 20px; vertical-align:top;">
													<p style="color:#555555; font-size: 13px; line-height: 20px; font-family: Open Sans, Helvetica Neue, Arial, sans-serif; font-weight: 400; margin: 0;">We will try to get your order shipped to you as soon as possible.<br /> <br/>
														Thank you for shopping with us.</p>
													</td>
												</tr>
											</table></td></tr>
											<!-- End Begin Return Address Info -->
										</table>
									</td>
								</tr>

								<!-- Begin email footer -->
								<tr>
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<td width="110px;">
												<ul style="list-style-type: none; margin:0px; padding-left:20px;">
													<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/account/orders">Order Status</a></li>
												</ul>
											</td>
											<td width="110px;">
												<ul style="list-style-type: none; margin:0px; padding-left:20px;">
													<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/cart">Shopping Cart</a></li>
													<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/registry/search">Gift Registry</a></li>
												</ul>
											</td>
											<td width="110px;">
												<ul style="list-style-type: none; margin:0px; padding-left:20px;">
													<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/content/base/help">Help &amp; FAQs</a></li>
													<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/contact">Contact Us</a></li>
												</ul>
											</td>
											<td width="110px;">
												<ul style="list-style-type: none; margin:0px; padding-left:20px;">
													<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/content/base/privacy-security">Privacy &amp; Security</a></li>
													<li style="padding-bottom: 6px;"><a style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; color: #ffffff; font-size: 12px; text-decoration:none;" href="{{app.url}}/content/base/terms">Terms &amp; Conditions</a></li>
												</ul>
											</td>
										</table>
											</td>
										</tr>
										<tr>
											<td>
												<table align="center" border="0" bgcolor="#222222" cellpadding="0" cellspacing="0" width="640">
													<tr>
														<td><hr style="color:#555555;" /></td>
													</tr>
													<tr align="center" style="vertical-align:top; ">
														<td style=" padding:20px 0px 10px 20px;"><p style="font-family: Open Sans, Helvetica Neue, helvetica, arial, sans-serif; font-size: 12px; color:#555555;">Copyright &copy;2015 {{ app.params['site']['title'] }} All Rights Reserved. Powered by Acenda.</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<!-- End email footer -->
									</table>
