{% include 'email/core/header.html.twig' %}
{% set order = api.get('/order/' ~ order_id) %}
{% set return = api.get('/orderreturn/' ~ return_id) %}
{% set item = api.get('/orderitem/' ~ return.item_id) %}
<tr>
	<td style="border-bottom:1px solid #e5e5e5;">
		<table border="0" cellspacing="0" cellpadding="0" style="width:100%!important;">
			<tr>
				<td align="center" style="padding:20px; color:#000; font-size:20px; font-weight:bold;">
				Order Return
				</td>
			</tr>
			<tr>
				<td align="center" style="padding:0 20px 20px; color:#333; font-size:14px; line-height:1.6;">
				Your <b>{{ params['site']['title']|default("") }}</b> order status return has been updated!
				<br><b>Order ID:</b> {{ order.order_number }}
				</td>
			</tr>
	  </table>
	</td>
</tr>
<tr>
	<td style="border-bottom:1px solid #e5e5e5;">
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%!important;">
			<tr>
				<td align="center" style="padding:20px; color:#000; font-size:16px;">
					Order Details
				</td>
			</tr>
			<tr>
				<td style="padding:0 20px 20px; color:#333; font-size:14px; line-height:1.6;">
					<b>Status:</b> {{return.status }}
					<br><b>RMA#:</b> {{return.rma}}
					<br><b>Item name:</b> {{item.name}}
					<br><b>Quantity:</b> {{return.quantity}}
					<br><b>Reason:</b> {{return.reason}}
				</td>
		</table>
	</td>
</tr>
{% include 'email/core/top-seller.html.twig' %}
{% include 'email/core/footer.html.twig' %}