{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
{% set order = api.get('/order/' ~ order_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set return = api.get('/orderreturn/' ~ return_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set item = api.get('/orderitem/' ~ return.item_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number, {query:{order_id:order_id}}) %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.titform() }}>
				Order Return
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				Your <b>{{ params['site']['title']|default("") }}</b> order status return has been updated!
				<br><b>Order ID:</b> {{ order.order_number }}
				</td>
			</tr>
	  </table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Returned Product
				</td>
			</tr>
			<tr>
				<td {{ ema.comformB() }}>
				    <b>{{item.name}}</b>
				    <br><b>RMA #:</b> {{return.rma}}
				    <br><b>SKU:</b> {{item.sku}}
					<br><b>Qty:</b> {{return.quantity}}
					<br><b>Reason:</b> {{return.reason}}
					<br><b>Status:</b> {{return.status }}
				</td>
		</table>
	</td>
</tr>
{% include 'email/core/top-seller.html.twig' %}
{% include 'email/core/footer.html.twig' %}
