{%- import "/_macros/product.html.twig" as mac -%}
{%- import "email/core/macro.html.twig" as ema -%}
{% include 'email/core/header.html.twig' %}
{% set order = api.get('/order/' ~ order_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set items = api.get('/orderitem?email=' ~ email ~ '&order_number=' ~ order_number, {query:{order_id:order_id}}) %}
{% set fulfillment = api.get('/orderfulfillment/' ~ fulfillment_id ~ '?email=' ~ email ~ '&order_number=' ~ order_number) %}
{% set shipping_method = api.get('/shippingmethod/' ~ order.shipping_method) %}
{# Variables passed in: order_id #}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.titform() }}>
				Thank you again!
				</td>
			</tr>
			<tr>
				<td {{ ema.comformA() }}>
				Your <b>{{ params['site']['title']|default("") }}</b> Order has Shipped!
				<br><b>Order ID:</b> {{ order.order_number }}
				</td>
			</tr>
	  </table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.halftitform() }}>
				Order Details
				</td>
				<td {{ ema.halftitform() }}>
				Shipping Info
				</td>
			</tr>
			<tr>
				<td {{ ema.halfcomform() }}>
					<b>Order ID:</b> {{ order.order_number }}
					<br><b>Date:</b> {{ order.date_created }}
					<br><br><b>Subtotal:</b> {{ mac.currency(order.item_subtotal|number_format(2)) }}
					<br><b>Shipping:</b> {{ mac.currency(order.shipping_rate|number_format(2, '.')) }}
                    {% if order.discount_price > 0 %}
                        <br><b>Discount:</b> {{ mac.currency(order.discount_price|number_format(2, '.')) }}
                    {% endif %}
                    <br><b>Total Before Tax:</b> {{ mac.currency(order.adjusted_subtotal|number_format(2, '.')) }}
					<br><b>Tax:</b> {{ mac.currency(order.tax|number_format(2)) }}
					<br><b>Total:</b> {{ mac.currency(order.total|number_format(2)) }}
				</td>
				<td {{ ema.halfcomform() }}>
					{{ order.shipping_first_name }} {{ order.shipping_last_name }}
					{% if order.giftlist_present is empty %}
					<br>{{ order.shipping_street_line1}} {{ order.shipping_street_line2}}
					<br>{{ order.shipping_city }}, {{ order.shipping_state }} {{ order.shipping_zip }}
					<br>{{ order.shipping_phone_number }}
					{% endif %}
					<br><br><b>Using:</b> {{ shipping_method.name }}
					<br><b>Shipping Method:</b> {{ fulfillment.shipping_method }}
                    <br><b>Tracking Number(s):</b>
                    {% if fulfillment.tracking_urls is not empty %}
                        {% for tracking_url in fulfillment.tracking_urls %}
                            <a href="{{ tracking_url }}" target="_blank">{{ tracking_url }}<a><br/>
                        {% endfor %}
                    {% elseif fulfillment.tracking_numbers is not empty %}
                        {% for tracking_num in fulfillment.tracking_numbers %}
                            {{ tracking_num }}<br/>
                        {% endfor %}
                     {% else %}
                        There are no tracking numbers available for this shipment.
                     {% endif %}
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.minititform() }}>
					Products
				</td>
			</tr>
			{% for item in items %}
			<tr>
				<td {{ ema.comformB() }}>
					<a href="{{ params['url']['current']}}{{products[item.product_id].0.url}}" style="color:#000; text-decoration:none;"><b>{{ item.name }}</b></a>
					<br><b>SKU:</b> {{item.sku}}
					<br><b>Price:</b> {{ mac.currency(item.price|number_format(2)) }}
					<br><b>Qty:</b> {{ item.quantity }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</td>
</tr>
{% include 'email/core/top-seller.html.twig' %}
{% include 'email/core/footer.html.twig' %}
