{% set brands = api.get("/catalog",{attributes:"brand",format:"attributes"}).brand %}
{% extends "/content/_partials/templates/basic.html.twig" %}

{% block dynamicclasses %}
    view-all-brands-{{app.request.path}}
{% endblock %}

{% block title %}
    View All Brands
{% endblock %}

{% block meta_description %}
    
{% endblock %}

{% block meta_keywords %}
    
{% endblock %}

{% block page_title %}
    View All Brands
{% endblock %}

{% block breadcrumb %}
{{ base.breadcrumbs({'View All Brands':''}) }}
{% endblock %}

{% block page_content %}
<div class="row text-center" id="brands">
	{% set last_letter = "" %}
	{% for brand in brands|keys %}
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 pad"><div class="bgg brand"><a href="{{app.url}}/brand/{{ brand|replace({' ':'+'}) }}"><span class="image-space"><span class="isd pad-w">{{brand|title}}</span></span></a></div></div>
	{% endfor %}
</div>
{% endblock %}

{% block page_content_alt %}
<div id="brands">
	{% set last_letter = "" %}
	{% if brands is empty %}
		<p>There are no brands.</p>
	{% endif %}
	{% for brand in brands|keys %}
		{% set letter = brand[0:1] %}
		{% if last_letter != letter %}
			<h2>{{letter|upper}}</h2>
			<ul>
		{% endif %}
		<li><a href="{{app.url}}/brand/{{ brand|replace({' ':'+'}) }}">{{brand|title}}</a></li>
		{% if last_letter != letter %}
			</ul>
			{% set last_letter = letter %}
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endblock %}