{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}

{% if app.error.code != 404 and app.preview %}
	{% set title = "Error" %}
{% else %}
	{% set title = "Page Not Found" %}
{% endif %}

{% block title %}{{title}}{% endblock %}

{% block breadcrumb %}
{{ base.breadcrumbs({(title):''}) }}
{% endblock %}

{% block content %}
	{{ lonelyform.begin()}}
	<h1>{{title}}</h1>
	{{ lonelyform.begincard() }}
	{% if app.error.code != 404 and app.preview %}

		<p>{{app.error.message}}</p>
		<p>While rendering <strong>{{app.error.view}}</strong></p>

	{% else %}

	{% set response = api.get('redirect/resolve',{path: app.request.url, searchterm: false}) %}
	{% if response and response[0].destination %}
		{% do app.redirect(response[0].destination ,response[0].code) %}
	{% endif %}

		<p>The page you are attempting to reach has moved or may no longer exist.</p>
		<p>We recently redesigned our website and apologize for the inconvenience.</p>
		<p>Please visit our new <a href="{{ app.url }}">homepage.</a></p>

	{% endif %}
	{{ lonelyform.endcard() }}
	{{ lonelyform.end() }}
{% endblock %}
