{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}


{% block title %}
{% spaceless %}
    {% if app.error.code != 404 and app.preview %}
        Error
    {% else %}
        Page Not Found
    {% endif %}
{% endspaceless %}
{% endblock %}
{% block content %}
{% if app.error.code != 404 and app.preview %}

    <h1>Twig Parsing Error</h1>
    <p>{{app.error.message}}</p>
    <p>While rendering <b>{{app.error.view}}</b></p>
{% else %}

    {% set response = api.get('redirect/resolve',{path: app.request.url, searchterm: false}) %}
    {% if response and response[0].destination %}
       {% do app.redirect(response[0].destination ,response[0].code) %}
    {% endif %}

    {{ lonelyform.begin()}}
    <h1>Page Not Found</h1>
    {{ lonelyform.begincard() }}
            <p>The page you are attempting to reach has moved or may no longer exist.</p>
            <p>We recently redesigned our website and apologize for the inconvenience.</p>
            <p>Please visit our new <a href="{{ app.url }}">homepage.</a></p>
    {{ lonelyform.endcard() }}
    {{ lonelyform.end() }}

{% endif %}
{% endblock %}
