<div class="divide mb-4 pb-4 prodpage{% if product.videos is not empty %} has-video{% endif %}{% if config.params['prodpage_deet_loc'] is defined %} {{config.params['prodpage_swatch_loc']}}{% endif %}" id="collection">
<div class="divide mb-4 pb-4">
<div class="row">

	<div class="col-md-7 mb-4" id="product-images">
		<div class="pos-r pi-contain">
		{% set main_image_id = product.images.0.id is not empty ? product.images.0.id : product.product|values_in('images')[0]['id'] %}
		{% set main_image_id = main_image_id is empty ? 'default' : main_image_id %}
		{% set main_image_alt = product.images.0.alt is not empty ? product.images.0.alt :product.product|values_in('images')[0]['alt'] %}
		{% set main_image_alt = main_image_alt is empty ? '' : main_image_alt %}

			<div class="variations" data-id="{{product.id}}">
				<div class="active variation" data-vid="{{product.id}}">
				    {% if product.images is not empty %}
					<div class="slick slick-heroic slick-heroic-go" id="slick-heroic-{{product.id}}">
					{% for image in product.images %}
					{% set name = image.name is not empty ? image.name : product.name %}
						<div class="{% if loop.index > 1 %}d-none {% endif %}">
							<div class="acaro">{% if not app.request.isAjaxRequest() %}<div class="easyzoom easyzoom--overlay">{% endif %}<div class="image-space">
								{% if not app.request.isAjaxRequest() %}<a target=_blank href="{{image.retina}}" tabindex="-1">{% endif %}
									<img class="img-fluid isd" src="{{image.standard}}" width="600" height="600" alt="{{product.name}} alternate img #{{loop.index}}">
								{% if not app.request.isAjaxRequest() %}</a>{% endif %}
							</div>{% if not app.request.isAjaxRequest() %}</div>{% endif %}</div>
						</div>
					{% endfor %}
					{% if product.images is empty %}
						{% set items = product.product %}
						{% for item in items %}
							{% for image in item.images if image.id is not empty %}
								{% set name = image.name is not empty ? image.name : item.name %}
						<div class="{% if loop.index > 1 %}d-none {% endif %}">
							<div class="acaro"><div class="easyzoom easyzoom--overlay"><div class="image-space">
								<a target=_blank href="{{image.retina}}" tabindex="-1">
									<img class="img-fluid isd" src="{{image.standard}}" width="600" height="600" alt="{{product.name}} alternate img #{{loop.index}}">
								</a>
							</div></div></div>
						</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
					</div>
					{% if product.images|length > 1 %}
					<div class="ss-contain">
						<div class="slick slick-heroic-nav slick-heroic-nav-go" id="slick-heroic-nav-{{product.id}}">
					{% for image in product.images %}
					{% set name = image.name is not empty ? image.name : product.name %}
							<div class="d-none">
								<div class="acaro"><div class="image-space">
									<img class="img-fluid isd" src="{{image.standard}}" width="600" height="600" alt="">
								</div></div>
							</div>
					{% endfor %}
					{% if product.images is empty %}
						{% set items = product.product %}
						{% for item in items %}
							{% for image in item.images if image.id is not empty %}
								{% set name = image.name is not empty ? image.name : item.name %}
							<div class="d-none">
								<div class="acaro"><div class="image-space">
									<img class="img-fluid isd" src="{{image.standard}}" width="600" height="600" alt="">
								</div></div>
							</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
						</div>
					</div>
					{% endif %}
					<div class="silent-gal" id="silent-gal-{{product.id}}" data-pswp-uid="{{product.id}}"><div class="image-space">
					{% for image in product.images %}
						<div class="ztrig" id="ztrig-{{product.id}}-{{loop.index}}" data-size="1500x1500" data-href="{{image.retina}}" data-med-size="600x600">
							<img class="img-fluid isd" src="{{image.standard}}" width="600" height="600" alt="">
						</div>
					{% endfor %}
					</div></div>
					{% else %}
					<div class="slick-heroic" id="slick-heroic-{{variation.id}}">
    					<div class="image-space">
                            <img class="img-fluid isd" src="{{ app.url_asset }}/assets/images/product/image-450x450.gif" width="450" height="450" alt="">
    				    </div>
    				</div>
					{% endif %}
				</div>
			</div>
			
			{% if product.videos is not empty %}
			<div class="vari-video-scase"><div class="acaro">
				<button class="btn blank image-space video" data-video-src="{{ product.videos[0] }}">
					<img class="img-fluid isd" src="{{ app.url_asset }}/assets/images/spacer.gif" width="250" height="250" alt="Play a video about this product"><span class="isd text-center"><i class="video-icon fa fa-play-circle"></i></span>
				</button>
			</div></div>
			{% endif %}
			
			<div id="image-main">
				<div class="image-space no-of" id="variant-selected-image-{{product.id}}">
					<div class="isd btn-block"><div class="btn-block" id="main-product-video"></div></div>
					<span class="isd">
						<img id="main-product-image" class="img-fluid d-none" src="{{app.image.getImageUrl("product","standard",main_image_id)|default(app.url_asset ~ '/assets/images/product/image-450x450.gif') }}" alt="">
					</span>
				</div>
			</div>

		</div>
	</div>
	
	<div class="col-md-5 mb-4">
		<div class="mb-3" id="product-intro">
            {% if product.tags is not empty %}
	        <div class="badges mb-2">{% for tag in product.tags %}{% spaceless %}
				{% set tagd = tag|title|replace({'-':' '}) %}
				{% if tag == 'new' %}
					<span class="badge badge-success badge-{{tag}}">{{ tagd }}</span>
				{% elseif tag == 'sale' %}
					<span class="badge badge-danger badge-{{tag}}">{{ tagd }}</span>
				{% else %}
					<span class="badge badge-primary badge-{{tag}}">{{ tagd }}</span>
				{% endif %}
			{% endspaceless %}{% endfor %}</div>
			{% endif %}
			{% if product.brand is not empty %}
			<div class="brand mb-1">
				<a href="{{app.url}}/brand/{{product.brand|lower|url_encode|replace({'%20':'+'})}}">{{product.brand}}</a>
			</div>
			{% endif %}
			<h1 class="product-name">{{product.name}}</h1>
			{# Begin review stars #}
			{% spaceless %}
			{% set review_score = product.product|values_in('review_score')|merge( product.review_score ? [product.review_score] : [])|average() %}
			{% if review_score > 0 %}
			<div class="fsd1 py-1 rating">
				{{ base.rating( review_score ) }}
				<span class="dib">
					<span>{{ (review_score * 5)|number_format(1) }}</span>{% if reviews.num_total %}(<span>{{ reviews.num_total }}</span>){% endif %}
				</span>
			</div>
			{% endif %}
			{% endspaceless %}
		</div>

		<div class="product-details">
		    {% set pricearray = [] %}
            {% set minValue, maxValue, bestComp, bestSave, bestSaveP, loopPrice, loopComp, loopSave, loopSaveP = 0,0,0,0,0,0,0,0,0 %}
            {% for pro, pr in product.product %}
            {% for p in pr.variant %}
                {#<p class="fsd1 mb-1">l. p: {{p.price}} | pr: {{p.regular_price}} | pc: {{p.compare_price}}</p>#}
                {% if p.regular_price is empty %}
                    {% set loopPrice = p.price %}
                {% else %}
                    {% set loopPrice = p.regular_price %}
                {% endif %}
                {% if loop.parent.loop.first and loop.first %}
                    {% set minValue, maxValue = loopPrice, loopPrice %}
                {% else %}
                    {% set minValue = min(loopPrice, minValue) %}
                    {% set maxValue = max(loopPrice, maxValue) %}
                {% endif %}
                {% if minValue == 0 %}
                    {% set minValue = loopPrice %}
                {% endif %}
                {% if p.compare_price > 0 and loopPrice > 0 %}
                    {% set loopSave = p.compare_price - loopPrice %}
                    {% set loopSaveP = (1 - (loopPrice / p.compare_price)|number_format(2)) * 100 %}
                    {% if loopSaveP > bestSaveP or (loopSaveP == bestSaveP and loopSave > bestSave) %}
                        {% set bestComp = p.compare_price %}
                        {% set bestSave = (p.compare_price - loopPrice)|number_format(1) %}
                        {% set bestSaveP = loopSaveP %}
                    {% endif %}
                {% endif %}
                {#<p class="fsd1">d: mn:{{minValue}}, mx:{{maxValue}}, bc:{{bestComp}}, bs:{{bestSave}}, bsp:{{bestSaveP}}</p>#}
            {% endfor %}
        	{% endfor %}
        	{% set pricearray = pricearray|merge([minValue,maxValue]) %}
        	{#<p>after: min: {{minValue}}, max: {{maxValue}}</p>#}
			{% set prices = product.product|values_in('variant')|values_in(['price','compare_price','save_price','save_percent','regular_price']) %}
			
			{% set priceclass = "" %}
			{% if prices.regular_price is not empty %}
		        {% set priceclass = " price-special" %}
		    {% endif %}
			{% if prices.price|first > 0 %}
			<div class="pricing g mb-4">
				<div class="mb-2 price{{priceclass}} price-range">{{ prod.price(pricearray) }}{% if priceclass is not empty %}{#<span class="special">Lower Price in Cart</span>#}{% endif %}</div>
    			{% if bestComp > 0 %}
    			{% spaceless %}
    			<ul class="list-inline">
    				<li class="price-compare">{{ prod.cprice(bestComp) }}</li>
    				<li class="percent">{{ prod.saveprice(bestSave) }}{{ prod.savepercent(bestSaveP) }}</li>
    			</ul>
    			{% endspaceless %}
    			{% endif %}
			</div>
			{% endif %}
			
			{% if prices.price is not empty %}
			<div class="divide mb-3 pb-3">
				<a class="btn btn-lg btn-block btn-primary btn-cart ttc" href="#pieces">
					<span>Add to Cart Below</span>
				</a>
			</div>
			{% endif %}

		</div>
	</div>


{% if product.description is not empty %}
<div class="col-12" id="details">	
	<h2>Description</h2>
	<div class="g">{{product.description}}</div>
</div>	
{% endif %}

</div></div>


<div class="divide g mb-4 pb-4" id="pieces">
<form method="post" class="productForm" action="{{ app.url }}/product/route">
{% set bundles = api.get('/bundle', {query:{collection_id:item.id}}) %}
{% if bundles| length >= 1 %}
<div class="divide mb-4 pb-4" id="bundles">
	<h2>Bundles</h2>
		{% for bundle in bundles %}
		<div class="divide mb-4 pb-4 piece piece-{{bundle.id}}">
			<div class="row">
				<div class="col-md-7">
					<div class="media media-cart">
						<div class="media-left">
							<div class="variant-selected-image">
								<div class="image-space">
									<img data-src-old="{{ app.url_asset }}/assets/images/spacer.gif" src="{{app.image.getImageUrl('product','thumbnail',bundle.items[0].images[0].id)|default(app.url_asset ~ '/assets/images/product/image-250x250.gif') }}" class="img-fluid isd" alt="">
								</div>
							</div>
						</div>

						<div class="media-body g">

							<h3 class="product-name">{{bundle.name}}</h3>
							{% if bundle.has_stock == false %}
							<div class="stock"><div class="dib input-group-text text-danger bg-white border-danger">Out of Stock</div></div>
							{% endif %}
							<div class="pricing g mb-3">
								<div class="mb-2 price">{{ prod.currency(bundle.price|number_format(2),1) }}</div>
								
								{% spaceless %}
								<ul class="list-inline">
									<li class="price-compare">{{ prod.currency(bundle.raw_price|number_format(2)) }}</li>
									{% if bundle.discount_type == 'dollar'%}
									<li class="percent">{{ prod.saveprice(bundle.discount_value) }}</li>
									{% elseif bundle.discount_type == 'percentage' %}
									<li class="percent">{{ prod.saveprice(bundle.discount_value) }}</li>
									{% elseif bundle.discount_type == 'fixed' %}
									<li class="percent">{{ prod.saveprice(bundle.price - bundle.raw_price) }}</li>
									{% endif %}
								</ul>
								{% endspaceless %}
							</div>
						</div>
					</div>
					<div class="fsd1 g mb-3 mb-md-0 pr-md-5">{{ bundle.description }}</div>
				</div>
				<div class="col-md-5 fsd1">
					<h4><span class="sr-only">{{bundle.name}} </span>Includes:</h4>
					<ul>
					{% for item in bundle.items %}
						<li>{{ bundle.variant_id[loop.index - 1].quantity }} X {{ item.name }}</li>
					{% endfor %}
					</ul>
					<div class="quantity">
						<label for="variant-input-{{bundle.id}}"><span class="sr-only">{{bundle.name}}</span> Qty</label>
						<div class="input-group igq-mod">
							<div class="mr-1">
								<input id="variant-input-{{bundle.id}}" data-limit="" class="form-control form-control-lg quantity-selector text-center" type="number" value="0" min="0" placeholder="0" name="bundles[{{ bundle.id }}]">
							</div>
							<div class="btn-group-vertical mr-3">
								<button class="btn btn-default btn-xs btn-sq-xs btn-add" type="button"><i class="fa fa-chevron-up"><span class="sr-only fsd1">Increase {{bundle.name}} Qty</span></i></button>
								<button class="btn btn-default btn-xs btn-sq-xs btn-remove" type="button" disabled><i class="fa fa-chevron-down"><span class="sr-only fsd1">Decrease {{bundle.name}} Qty</span></i></button>
							</div>
							<button type="submit" class="btn btn-lg btn-primary btn-cart flex-fill virg wait" name="action" value="cart">
							   <span>Add <span class="sr-only">{{ bundle.name }}</span> to Cart</span>
							</button>
						</div>
					</div>
				</div>
					
			</div>
		</div>
		{% endfor %}
</div>	
{% endif %}


<div class="divide" id="children">
	<h2>Products</h2>
	{# Begin pane actions / registry / wishlist / add to cart #}
	{% if app.user.id is not empty %}
		{% set children_ids = [] %}
		{% for child in children %}
			{% set children_ids = children_ids|merge([child.id]) %}
		{% endfor %}
		{% set registries = api.get('/registry', {query:{customer_id:app.user.id}}) %}
		{% if registries is not empty %}
			{% set registry_ids = [] %}
			{% for registry in registries %}
				{% set registry_ids = registry_ids|merge([registry.id]) %}
			{% endfor %}
			{% set items_in_registry = api.get('/registryitem', {query:{registry_id:{'$in':registry_ids},product_id:{'$in':children_ids}}}) %}
		{% endif %}
		{% set wishlists = api.get('/wishlist', {query:{customer_id:app.user.id}}) %}
		{% if wishlists is not empty %}
			{% set wishlist_ids = [] %}
			{% for wishlist in wishlists %}
				{% set wishlist_ids = wishlist_ids|merge([wishlist.id]) %}
			{% endfor %}
			{% set items_in_wishlist = api.get('/wishlistitem', {query:{wishlist_id:{'$in':wishlist_ids},product_id:{'$in':children_ids}}}) %}
		{% endif %}
	{% endif %}
	

	{% set items = product.product %}
	{% set layouts = product.layout is not empty ? product.layout : [{'name':'','items':items|values_in('id')}]%}
	{% for layout in layouts %}
		{# Build ordered children array #}
		{% set children = [] %}
		{% for item in layout.items %}
			{% set children = children|merge( items|find({'id':item}) ) %}
		{% endfor %}

		{# set children = items|find({'id':layout.items}) #}

		{% if children is not empty %}
			{# Begin collection group header #}
			{% if layout.name != '' %}
	<div class="group-header">
		<h4>{{layout.name}}</h4>
	</div>
	{% endif %}
	
	{# Begin collection product $(this).parentsUntil('.product').hide(); #}
	{% for product in children %}
	{% set variations = product.variant|find({'has_stock':true}) %}
	{% if variations is empty %}
		{% set variation = product.variant[0] %}
	{% else %}	
		{% set variation = variations[0] %}
	{% endif %}
	<div class="divide mb-4 pb-4 piece piece-{{product.id}}">
	<div class="row">
		<div class="col-md-7">
		<div class="media media-cart">
			<div class="media-left">
				<div class="variant-selected-image" id="variant-selected-image-{{product.id}}">
					<div class="image-space">
						<img data-src-old="{{ app.url_asset }}/assets/images/spacer.gif" src="{{ app.image.getImageUrl('product','thumbnail', product.images[0].id)|default(app.url_asset ~ '/assets/images/product/image-250x250.gif') }}" class="img-fluid isd" width="250" height="250" alt="">
					</div>
				</div>
			</div>

			<div class="media-body g">
				{% if product.brand is not empty %}
				<div class="brand mb-1">
					<a href="{{app.url}}/brand/{{product.brand|url_encode|lower}}">{{product.brand}}</a>
				</div>
				{% endif %}
				<h3 class="product-name">
					<a href="{{app.url}}/product/{{product.slug}}">{{ product.name }}</a>
				</h3>
				<div class="variations" data-id="{{product.id}}">
				{% for vind in product.variant %}
					<div class="variation{% if vind.id == variation.id %} active{% endif %}{% if vind.has_stock == false %} variation-oos{% endif %}" data-vid="{{vind.id}}">
						{% set needsku = product.variant|values_in('sku') %}
						{% if needsku[0] is not empty %}
						<div class="sku">Item: {{vind.sku}}</div>
						{% endif %}
						<div class="stock input-group-sm pos-r">
							{% if vind.has_stock == false %}
    							{% if vind.enable_instockemail %}
    								<button class="btn btn-sm btn-danger" id="emailStock-{{vind.id}}" aria-expanded="false" data-toggle="dropdown">Email me when available</button>
    								<div class="dropdown-menu" aria-labelledby="emailStock-{{vind.id}}">
									<div class="px-3 py-1">
										<p class="fsd1">Get notified via email when this product is back in stock.</p>
										<label class="sr-only" for="fcemailStock-{{vind.id}}">Email Address</label>
										<div class="input-group">
											<input type="email" placeholder="Email Address" class="form-control form-control-sm form-control-eis" id="fcemailStock-{{vind.id}}">
											<div class="input-group-append">
												<button class="btn btn-sm btn-danger btn-eis" type="button"><i class="fas fa-envelope"><span class="sr-only">Email me about {{vind.name}}</span></i></button>
											</div>
										</div>
									</div>
								</div>
    							{% else %}
                                    <div class="input-group-prepend"><div class="dib input-group-text text-danger bg-white border-danger">Out of Stock</div></div>
    							{% endif %}
        					{% else %}
        					    <div class="input-group-prepend"><div class="dib input-group-text text-success bg-white border-white px-0">In Stock</div></div>
        					{% endif %}
						</div>

                        {% set needprices = product.variant|max('save_percent') %}
    				
						{% set priceclass = "" %}
						{% if vind.regular_price is not empty %}
							{% set shownprice = vind.regular_price %}
							{% if needprices > 0 %}
								{% if (vind.compare_price - vind.price) > 1 %}
									{% set shownsaveprice = (vind.compare_price - shownprice)|number_format(0) %}
									{% set shownsavepercent = (1 - (shownprice / vind.compare_price)|number_format(2)) * 100 %}
								{% endif %}
							{% endif %}
							{% set priceclass = " price-special" %}
							{% set usespecial = 1 %}
						{% elseif vind.price is not empty %}
							{% set usespecial = 0 %}
							{% set shownprice = vind.price %}
							{% set shownsaveprice = vind.save_price %}
							{% set shownsavepercent = vind.save_percent %}
						{% endif %}
						{% spaceless %}
							<div class="pricing g">
								<div class="price{{priceclass}} mb-2">{{ prod.currency(shownprice|number_format(2),1) }}{% if usespecial %}<span class="special">Lower Price in Cart</span>{% endif %}</div>
						
						{% if needprices > 0 %}
							{% if (vind.compare_price - vind.price) > 1 %}
								<ul class="list-inline"><li class="price-compare">{{ prod.currency(vind.compare_price|number_format(2)) }}</li><li class="percent">{{ prod.saveprice(shownsaveprice|number_format(2)) }}{{ prod.savepercent(shownsavepercent) }}</li></ul>
							{% else %}
								<ul class="list-inline"><li class="price-compare"><br></li><li class="percent"><br></li></ul>
							{% endif %}
						{% endif %}
							</div>
						{% endspaceless %}	
					</div>
				{% endfor %}
				</div>
			</div>
			</div>
			<div class="fsd1 g mb-3 mb-md-0 pr-md-5">{{ product.description }}</div>
			</div>
			<div class="col-md-5">
			{% spaceless %}
			    {% set voformat = config.params['prodpage_variant_opt'] %}
			    {% set vosize = config.params['prodpage_variant_opt_size'] is defined ? config.params['prodpage_variant_opt_size'] : "lg" %}
				<div class="variation-selector-{{product.id}}">
				{% for vo in product.variant_options %}
					<div class="mb-3 selector-details{% if vo.name == 'color' %} color-details{% endif %} variation-selector-{{product.id}}-{{vo.position}}" data-name="{{vo.name}}">
						{% if (vo.name == 'color' or voformat == "ppvo-ab" or voformat == "ppvo-ob") and voformat != "ppvo-as" %}
						<div class="selected-option fsd1 mb-1"><span class="selected-name"><span class="sr-only">{{ product.name }}</span> {{vo.name|title}}: </span><span class="selected-value" id="selected-{{loop.index0}}-{{product.id}}"></span></div>
						<ul class="list-inline vopt vopt-btns vopt-{{vo.name}}{% if vo.name == "color" and voformat != "ppvo-ab" %} vopt-swatch{% endif %}">
						{% for v in vo.values %}
							<li class="variation-selector-{{product.id}}-{{loop.parent.loop.index0}}-{{loop.index0}}" data-index="{{loop.index0}}" data-value="{{v|e('html')}}">
							{% if vo.name == "color" and voformat != "ppvo-ab" %}
								{% set vsimgsrc = "" %}
								{% for prodimg in product.images %}
									{% if prodimg.type == "swatch" and prodimg.name == v %}
										{% set vsimgsrc = prodimg.thumbnail %}
									{% endif %}
								{% endfor %}
								{% if vsimgsrc is empty %}
									{% set validvar = product.variant|find({'color':v}) %}
									{% set vsimgsrc = validvar[0].images[0].thumbnail %}
									{% for variation in product.variant %}
										{% if variation.color == v %}
										
										{% endif %}
									{% endfor %}
								{% endif %}
								{% if vsimgsrc is empty %}
									{% set vsimgsrc = app.url_asset ~ '/assets/images/product/image-250x250.gif' %}
								{% endif %}
								<button class="btn blank image-space" type="button"><img class="img-fluid isd" src="{{vsimgsrc|default(app.url_asset ~ '/assets/images/product/image-250x250.gif')}}" width="250" height="250" alt="{{ product.name }} {{v|e('html')}}"></button>
							{% else %}
								<button class="btn btn-default btn-{{vosize}}" type="button">{{v}}</button>
							{% endif %}
							</li>
						{% endfor %}
						</ul>
						{% else %}
						<label class="selected-option" for="{{vo.name}}-{{product.id}}"><span class="selected-name"><span class="sr-only">{{ product.name }}</span> {{vo.name|title}}: </span><span class="selected-value" id="selected-{{loop.index0}}-{{product.id}}"></span></label>
						<select class="form-control form-control-{{vosize}} vopt vopt-{{vo.name}}" id="{{vo.name}}-{{product.id}}" title="{{vo.name}}">
						{% for v in vo.values %}
							<option class="variation-selector-{{product.id}}-{{loop.parent.loop.index0}}-{{loop.index0}}" value="{{v|e('html')}}" data-index="{{loop.index0}}">{{v}}</option>
						{% endfor %}
						</select>
						{% endif %}
					</div>
				{% endfor %}
				</div>
			{% endspaceless %}

				<div class="form-group divide pb-3 mb-2 quantiy">
					<label for="variant-input-{{product.id}}"><span class="sr-only">{{ product.name }}</span> Qty</label>
					<div class="input-group igq-mod">
						<div class="mr-1">
							<input id="variant-input-{{product.id}}" data-limit="" class="form-control form-control-lg quantity-selector text-center" type="number" value="0" max="99" min="0" placeholder="0" name="items[{{variation.id}}]">
						</div>
						<div class="btn-group-vertical mr-3">
							<button class="btn btn-default btn-xs btn-sq-xs btn-add" type="button"><i class="fa fa-chevron-up"><span class="sr-only fsd1">Increase {{ product.name }} Qty</span></i></button>
							<button class="btn btn-default btn-xs btn-sq-xs btn-remove" type="button" disabled><i class="fa fa-chevron-down"><span class="sr-only fsd1">Decrease {{ product.name }} Qty</span></i></button>
						</div>
						<button id="variant-atc-{{product.id}}" type="submit" class="btn btn-lg btn-primary btn-cart flex-fill virg wait" name="action" value="cart">
							<span>Add <span class="sr-only">{{ product.name }}</span> to Cart</span>
						</button>
					</div>
				</div>
				{% include "/product/_partials/list/actions-collection.html.twig" %}

			</div>
		</div>
	</div>
					
		{% endfor %}
	
	{% endif %}
{% endfor %}
</div>
</form>


</div>
</div>

{% include "/_partials/product_grid/_partials/top_sellers.html.twig" %}