<div class="divide p-2x pad-b-2x">
<div class="{% if product.videos is not empty %}has-video{% endif %} row" itemscope itemtype="http://schema.org/Product">
	<div id="product-intro" class="col-xs-12 col-sm-5 pull-right p text-center">
		<div class="max-450">
			<div class="brand p-mini">
				<a href="{{app.url}}/brand/{{product.brand|url_encode}}" itemprop="brand">{{product.brand}}</a>
			</div>
			<h1 class="product-name" itemprop="name">{{product.name}}</h1>
			{# Begin review stars #}
			{% spaceless %}
			{% set review_score = product.product|values_in('review_score')|merge( product.review_score ? [product.review_score] : [])|average() %}
			{% if review_score > 0 %}
			<div class="fsd1 rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
				<a class="ttc" href="#reviews">{{ base.rating( review_score ) }}</a>
				<span class="dib">
					<span itemprop="ratingValue">{{ (review_score * 5)|number_format(1) }}</span>{% if reviews.num_total %}(<span itemprop="reviewCount">{{ reviews.num_total }}</span>){% endif %}
				</span>
			</div>
			{% endif %}
			{% endspaceless %}
		</div>
	</div>

	<div class="col-xs-12 col-sm-7 p-2x" id="product-images">
		<div class="pos-r pi-contain">
		{% set main_image_id = product.images.0.id is not empty ? product.images.0.id : product.product|values_in('images')[0]['id'] %}
		{% set main_image_id = main_image_id is empty ? 'default' : main_image_id %}
		{% set main_image_alt = product.images.0.alt is not empty ? product.images.0.alt :product.product|values_in('images')[0]['alt'] %}
		{% set main_image_alt = main_image_alt is empty ? '' : main_image_alt %}

			<div class="variations" data-id="{{product.id}}">
				<div class="active variation" data-vid="{{product.id}}">
					<div class="slick slick-heroic slick-heroic-go" id="slick-heroic-{{product.id}}">
					{% for image in product.images %}
					{% set name = image.name is not empty ? image.name : product.name %}
						<div class="{% if loop.index > 1 %}hidden {% endif %}">
							<div class="acaro"><div class="easyzoom easyzoom--overlay"><div class="image-space">
								<a target=_blank href="{{image.retina}}" tabindex="-1">
									<img class="img-responsive isd" src="{{image.standard}}" width="600" height="600" alt="">
								</a>
							</div></div></div>
						</div>
					{% endfor %}
					{% if product.images is empty %}
						{% set items = product.product %}
						{% for item in items %}
							{% for image in item.images if image.id is not empty %}
								{% set name = image.name is not empty ? image.name : item.name %}
						<div class="{% if loop.index > 1 %}hidden {% endif %}">
							<div class="acaro"><div class="easyzoom easyzoom--overlay"><div class="image-space">
								<a target=_blank href="{{image.retina}}" tabindex="-1">
									<img class="img-responsive isd" src="{{image.standard}}" width="600" height="600" alt="">
								</a>
							</div></div></div>
						</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
					</div>
					<div class="ss-contain">
						<div class="slick slick-heroic-nav slick-heroic-nav-go" id="slick-heroic-nav-{{product.id}}">
					{% for image in product.images %}
					{% set name = image.name is not empty ? image.name : product.name %}
							<div class="hidden">
								<div class="acaro"><div class="image-space">
									<img class="img-responsive isd" src="{{image.standard}}" width="600" height="600" alt="">
								</div></div>
							</div>
					{% endfor %}
					{% if product.images is empty %}
						{% set items = product.product %}
						{% for item in items %}
							{% for image in item.images if image.id is not empty %}
								{% set name = image.name is not empty ? image.name : item.name %}
							<div class="hidden">
								<div class="acaro"><div class="image-space">
									<img class="img-responsive isd" src="{{image.standard}}" width="600" height="600" alt="">
								</div></div>
							</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
						</div>
					</div>
					
					<div class="silent-gal" id="silent-gal-{{product.id}}" data-pswp-uid="{{product.id}}"><div class="image-space">
					{% for image in product.images %}
						<div class="ztrig" id="ztrig-{{product.id}}-{{loop.index}}" data-size="1500x1500" data-href="{{image.retina}}" data-med-size="600x600">
							<img class="img-responsive isd" src="{{image.standard}}" width="600" height="600" alt="">
						</div>
					{% endfor %}
					</div></div>
					
				</div>
			</div>
			
			{% if product.videos is not empty %}
			<div class="vari-video-scase"><div class="acaro">
				<button class="blank image-space video" data-video-src="{{ product.videos[0] }}">
					<img class="img-responsive isd" src="{{ app.url_asset }}/assets/images/spacer.gif" width="250" height="250" alt=""><span class="isd text-center"><i class="video-icon fa fa-play-circle"></i></span>
				</button>
			</div></div>
			{% endif %}
			
			<div id="image-main">
				<div class="image-space no-of" id="variant-selected-image-{{product.id}}">
					<div class="isd btn-block"><div class="btn-block" id="main-product-video"></div></div>
					<span class="isd">
						<img id="main-product-image" class="img-responsive" src="{{app.image.getImageUrl("product","standard",main_image_id) }}" itemprop="image" alt="">
					</span>
				</div>
			</div>

		</div>
		
	</div>
	{# End product images #}
	{# Begin Product Details #}
	<div id="product-details" class="col-xs-12 col-sm-5 p-2x text-center">
		<div class="max-360">
			
			{% set prices = product.product|values_in('variant')|values_in(['price','compare_price','save_price','save_percent']) %}
			{% if prices.price|first > 0 %}
			<div class="pricing g p-2x" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<div class="p-mini price price-range">{{ prod.price(prices.price) }}</div>
				{% if (prices.compare_price is not empty and prices.compare_price != prices.price) or (prices.save_price is not empty and prices.save_percent is not empty) %}
				{# if (prices[0].compare_price - prices[0].price) > 1 #}
				{# if (prices.compare_price is not empty and (prices.compare_price - prices.price) > 1) #}
					{% spaceless %}
					<ul class="list-inline">
						{% if prices.compare_price is not empty and prices.compare_price != prices.price %}
						<li class="price-regular">{{ prod.cprice(prices.compare_price) }}</li>
						{% endif %}
						{% if prices.save_price is not empty and prices.save_percent is not empty %}
						<li class="percent">{{ prod.saveprice(prices.save_price) }} {{ prod.savepercent(prices.save_percent) }}</li>
					{% endif %}
					</ul>
					{% endspaceless %}
				{% endif %}
			</div>
			{% endif %}
			
			{% if prices.price is not empty %}
			<div class="divide p pad-b">
				<a class="btn btn-lg btn-block btn-primary btn-cart ttc" href="#collection">
					<span>Add to Cart Below</span>
				</a>
			</div>
			{% endif %}

		</div>
	</div>


{% if product.description is not empty %}
<div class="col-xs-12" id="details">	
	<h2>Description</h2>
	<div class="g" itemprop="description">{{product.description}}</div>
</div>	
{% endif %}

</div></div>


<div class="divide g p-2x pad-b-2x" id="collection">
<form method="post" class="productForm" id="productForm2b" action="{{ app.url }}/product/route">
{% set bundles = api.get('/bundle', {query:{collection_id:item.id}}) %}
{% if bundles| length >= 1 %}
<div class="divide p-2x" id="bundles">
	<h2>Bundles</h2>
		{% for bundle in bundles %}
		<div class="divide p-2x pad-b-2x piece piece-{{bundle.id}}" itemscope itemtype="http://schema.org/Product">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="media media-cart">
						<div class="media-left">
							<div class="variant-selected-image">
								<div class="image-space">
									<img data-src-old="{{ app.url_asset }}/assets/images/spacer.gif" src="{{app.image.getImageUrl('product','thumbnail',bundle.items[0].images[0].id) }}" class="img-responsive isd" alt="">
								</div>
							</div>
						</div>

						<div class="media-body">

							<h3 class="product-name" itemprop="name">{{bundle.name}}</h3>
						     <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    							<div class="pricing">
    								<div class="p-mini price">{{ prod.currency(bundle.price|number_format(2),1) }}</div>
    								
    								{% spaceless %}
    								<ul class="list-inline">
    									<li class="price-regular">{{ prod.currency(bundle.raw_price|number_format(2)) }}</li>
    									{% if bundle.discount_type == 'dollar'%}
    									<li class="percent">{{ prod.saveprice(bundle.discount_value) }}</li>
    									{% elseif bundle.discount_type == 'percentage' %}
    									<li class="percent">{{ prod.saveprice(bundle.discount_value) }}</li>
    									{% elseif bundle.discount_type == 'fixed' %}
    									<li class="percent">{{ prod.saveprice(bundle.price - bundle.raw_price) }}</li>
    									{% endif %}
    								</ul>
    								{% endspaceless %}
    							</div>
    
    							{% if bundle.has_stock == false %}
    							<div class="fsd1 stock stock-oos"><div class="stock-msg">Out of Stock</div></div>
    							{% endif %}
    						</div>
						</div>
					</div>
					<div class="g p" itemprop="description">{{ bundle.description }}</div>
				</div>
				<div class="col-xs-12 col-sm-5 pull-right">
					<div class="max-sm-360">
						<h4>Includes:</h4>
						<ul>
						{% for item in bundle.items %}
							<li>{{ bundle.variant_id[loop.index - 1].quantity }} X {{ item.name }}</li>
						{% endfor %}
						</ul>
						<div class="actions">
							<div class="quantity" id="div-quantity-{{bundle.id}}">
								<label for="variant-input-{{bundle.id}}" class="control-label">Qty</label>
								<div class="input-group input-group-qty igq-mod">
									<div class="btn-group btn-group-qty">
										<input id="variant-input-{{bundle.id}}" data-limit="" class="form-control input-lg quantity-selector text-center" type="text" value="0" maxlength="2" placeholder="1" name="bundles[{{ bundle.id }}]">
										<button class="btn btn-default btn-xs btn-sq-xs btn-add" type="button"><i class="fa fa-chevron-up"><span class="sr-only">Increase Qty</span></i></button>
										<button class="btn btn-default btn-xs btn-sq-xs btn-remove" type="button"><i class="fa fa-chevron-down"><span class="sr-only">Decrease Qty</span></i></button>
									</div>
									<div class="input-group-btn">
										<button type="submit" class="btn btn-block btn-lg btn-primary btn-cart" name="action" value="cart">
										   <span>Add to Cart</span>
									   </button>
								   </div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
			</div>
		</div>
		{% endfor %}
</div>	
{% endif %}


<div class="divide" id="children">
	<h2>Products</h2>
	{# Begin pane actions / registry / wishlist / add to cart #}
	{% if app.user.id is not empty %}
		{% set children_ids = [] %}
		{% for child in children %}
			{% set children_ids = children_ids|merge([child.id]) %}
		{% endfor %}
		{% set registries = api.get('/registry', {query:{customer_id:app.user.id}}) %}
		{% if registries is not empty %}
			{% set registry_ids = [] %}
			{% for registry in registries %}
				{% set registry_ids = registry_ids|merge([registry.id]) %}
			{% endfor %}
			{% set items_in_registry = api.get('/registryitem', {query:{registry_id:{'$in':registry_ids},product_id:{'$in':children_ids}}}) %}
		{% endif %}
		{% set wishlists = api.get('/wishlist', {query:{customer_id:app.user.id}}) %}
		{% if wishlists is not empty %}
			{% set wishlist_ids = [] %}
			{% for wishlist in wishlists %}
				{% set wishlist_ids = wishlist_ids|merge([wishlist.id]) %}
			{% endfor %}
			{% set items_in_wishlist = api.get('/wishlistitem', {query:{wishlist_id:{'$in':wishlist_ids},product_id:{'$in':children_ids}}}) %}
		{% endif %}
	{% endif %}
	

	{% set items = product.product %}
	{% set layouts = product.layout is not empty ? product.layout : [{'name':'','items':items|values_in('id')}]%}
	{% for layout in layouts %}
		{# Build ordered children array #}
		{% set children = [] %}
		{% for item in layout.items %}
			{% set children = children|merge( items|find({'id':item}) ) %}
		{% endfor %}

		{# set children = items|find({'id':layout.items}) #}

		{% if children is not empty %}
			{# Begin collection group header #}
			{% if layout.name != '' %}
	<div class="group-header">
		<h4>{{layout.name}}</h4>
	</div>
	{% endif %}
	
	{# Begin collection product $(this).parentsUntil('.product').hide(); #}
	{% for product in children %}
	{% set variations = product.variant|find({'has_stock':true}) %}
	{% if variations is empty %}
		{% set variation = product.variant[0] %}
	{% else %}	
		{% set variation = variations[0] %}
	{% endif %}
	<div class="divide p-2x pad-b-2x piece piece-{{product.id}}" itemscope itemtype="http://schema.org/Product">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
		<div class="media media-cart">
			<div class="media-left">
				<a href="{{app.url}}/product/{{product.slug}}" class="variant-selected-image" id="variant-selected-image-{{product.id}}">
					<div class="image-space">
						<img data-src-old="{{ app.url_asset }}/assets/images/spacer.gif" src="{{ app.image.getImageUrl('product','thumbnail', product.images[0].id) }}" class="img-responsive isd" alt="">
					</div>
				</a>
			</div>

			<div class="media-body">
				{% if product.brand is not empty %}
				<div class="brand p-mini">
					<a href="{{app.url}}/brand/{{product.brand|url_encode}}"><span itemprop="brand">{{product.brand}}</span></a>
				</div>
				{% endif %}
				<div><h3 class="product-name">
					<a href="{{app.url}}/product/{{product.slug}}"><span itemprop="name">{{ product.name }}</span></a>
				</h3></div>
				<div class="variations" data-id="{{product.id}}">
					<div class="active variation" data-vid="{{variation.id}}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						{% set needsku = product.variant|values_in('sku') %}
						{% if needsku[0] is not empty %}
						<div class="sku">Item: <span itemprop="sku">{{variation.sku}}</span></div>
						{% endif %}

						<div class="pricing">
							<div class="p-mini price">{{ prod.currency(variation.price|number_format(2),1) }}</div>

						{% set needprices = product.variant|max('save_percent') %}
						{% if needprices|length > 0 %}
							{% if (variation.compare_price - variation.price) > 1 %}
								<ul class="list-inline"><li class="price-regular">{{ prod.currency(variation.compare_price|number_format(2)) }}</li><li class="percent">{{ prod.currency(variation.save_price|number_format(2)) }}{{ prod.savepercent(variation.save_percent) }}</li></ul>
							{% else %}
								<ul class="list-inline"><li class="price-regular" data-c='{{ prod.currency("0.00") }}'><br></li><li class="percent" data-c='{{ prod.saveprice("0.00") }}{{ prod.savepercent("0") }}'><br></li></ul>
							{% endif %}
						{% endif %}
						</div>
						{% set needstockmsg = product.variant|find({'has_stock':false}) %}
						{% if needstockmsg|length > 0 %}
							{% if variation.has_stock == false %}
							<div class="fsd1 stock stock-oos"><div class="stock-msg">Out of Stock</div></div>
							{% else %}
							<div class="fsd1 stock"><div class="stock-msg"><br></div></div>
							{% endif %}
						{% endif %}

					</div>
				</div>
			</div>
			</div>
			<div class="g p" itemprop="description">{{ product.description }}</div>
			</div>
			<div class="col-xs-12 col-sm-5 pull-right">
				<div class="max-sm-360">
				{% spaceless %}
					<div class="variation-selector-{{product.id}}">
					{% for vo in product.variant_options %}
						<div class="p selector-details{% if vo.name == 'color' %} color-details{% endif %} variation-selector-{{product.id}}-{{vo.position}}" data-name="{{vo.name}}">
							<div class="selected-option"><span class="selected-name">{{vo.name|title}}: </span><span class="selected-value" id="selected-{{loop.index0}}-{{product.id}}"></span></div>
							{% if vo.name == 'color' %}
							<ul class="list-inline vopt vopt-{{vo.name}}">
							{% for v in vo.values %}
								<li class="variation-selector-{{product.id}}-{{loop.parent.loop.index0}}-{{loop.index0}}" data-index="{{loop.index0}}" data-value="{{v|e('html')}}">
								{% if vo.name == "color" %}
									{% set vsimgsrc = "" %}
									{% for prodimg in product.images %}
										{% if prodimg.type == "swatch" and prodimg.name == v %}
											{% set vsimgsrc = prodimg.thumbnail %}
										{% endif %}
									{% endfor %}
									{% if vsimgsrc is empty %}
										{% set validvar = product.variant|find({'color':v}) %}
										{% set vsimgsrc = validvar[0].images[0].thumbnail %}
										{% for variation in product.variant %}
											{% if variation.color == v %}
											
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if vsimgsrc is empty %}
										{% set vsimgsrc = app.url_asset ~ '/assets/images/product/image-250x250.gif' %}
									{% endif %}
									<button class="blank image-space" type="button"><img class="img-responsive isd" src="{{vsimgsrc}}" width="250" height="250" alt="{{v|e('html')}}"></button>
								{% else %}
									<button class="btn btn-default btn-lg">{{v}}</button>
								{% endif %}
								</li>
							{% endfor %}
							</ul>
							{% endif %}
							{% if vo.name != 'color' %}
							<select class="form-control input-lg vopt vopt-{{vo.name}}" title="{{vo.name}}">
							{% for v in vo.values %}
								<option class="variation-selector-{{product.id}}-{{loop.parent.loop.index0}}-{{loop.index0}}" value="{{v|e('html')}}" data-index="{{loop.index0}}">{{v}}</option>
							{% endfor %}
							</select>
							{% endif %}
						</div>
					{% endfor %}
					</div>
				{% endspaceless %}
					
								
					<div class="actions">
						<div class="form-group divide pad-b p-mini">
							<div class="quantity" id="div-quantity-{{product.id}}">
								<label for="variant-input-{{product.id}}" class="control-label">Qty</label>
								<div class="input-group input-group-qty igq-mod">
									<div class="btn-group btn-group-qty">
										<input id="variant-input-{{product.id}}" data-limit="" class="form-control input-lg quantity-selector text-center" type="text" value="0" maxlength="2" placeholder="1" name="items[{{variation.id}}]">
										<button class="btn btn-default btn-xs btn-sq-xs btn-add" type="button"><i class="fa fa-chevron-up"><span class="sr-only">Increase Qty</span></i></button>
										<button class="btn btn-default btn-xs btn-sq-xs btn-remove" type="button"><i class="fa fa-chevron-down"><span class="sr-only">Decrease Qty</span></i></button>
									</div>
									<div class="input-group-btn">
										<button id="variant-atc-{{product.id}}" type="submit" class="btn btn-block btn-lg btn-primary btn-cart" name="action" value="cart">
											<span>Add to Cart</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						{% include "/product/_partials/list/actions-collection.html.twig" %}
					</div>
				</div>

			</div>
		</div>
	</div>
					
		{% endfor %}
	
	{% endif %}
{% endfor %}
</div>
</form>
</div>


<div class="divide" id="topsellers">
    {% include "/_partials/product_grid/_partials/top_sellers.html.twig" %}
</div>