<nav class="nav nav-tabs" role="tablist">
{% set yetActive = 1 %}
{% if product.description is not empty %}
	<a class="nav-item nav-link active" id="description" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
{% set yetActive = 0 %}
{% endif %}
{% if product.dynamic_attributes is not empty %}
	<a class="nav-item nav-link{% if yetActive == 1 %} active{% endif %}" id="features" data-toggle="tab" href="#nav-features" role="tab" aria-controls="nav-features" aria-selected="{{ yetActive ? 'true' : 'false' }}">Features</a>
{% set yetActive = 0 %}
{% endif %}
    <a class="nav-item nav-link{% if yetActive == 1 %} active{% endif %}" id="reviews" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="{{ yetActive ? 'true' : 'false' }}">Reviews</a>
</nav>

<div class="tab-content">
{% set yetActive = 1 %}
{% if product.description is not empty %}
	<div class="card-body tab-pane fade active show" id="nav-description" role="tabpanel" aria-labelledby="description">
		{{product.description}}
	</div>
{% set yetActive = 0 %}
{% endif %}

{% if product.dynamic_attributes is not empty %}
	<div class="card-body tab-pane fade{% if yetActive == 1 %} active show{% endif %}" id="nav-features" role="tabpanel" aria-labelledby="features">
		<ul>
		{% for feature in product.dynamic_attributes %}
            <li>{{feature}}: {{product[feature]}}</li>
		{% endfor %}
		</ul>
	</div>
{% set yetActive = 0 %}
{% endif %}
    <div class="card-body tab-pane fade{% if yetActive == 1 %} active show{% endif %}" id="nav-reviews" role="tabpanel" aria-labelledby="reviews">
        {% include "/product/_partials/reviews.html.twig" %}
    </div>
</div>