{% set product =  product|merge({'attributes':product.variant|values_in(['price','compare_price','save_price','save_percent','regular_price','color'])}) %}
<div class="divide pb-4 mb-4 {% if product.videos is not empty %}has-video{% endif %} prodpage" id="singleProduct">
<div class="row">

{% set startColor = app.request.get.color %}
{% set startVar = app.request.get.variant %}
{% if startColor is not empty %}
	{% set variations = product.variant|find({'color':startColor}) %}
{% elseif startVar is not empty %}
    {% set variations = product.variant|find({'id':startVar}) %}
{% endif %}
{% if variations is empty %}
    {% set variations = product.variant|find({'has_stock':true}) %}
{% endif %}
{% if variations is empty %}
	{% set variation = product.variant[0] %}
{% else %}
	{% set variation = variations[0] %}
{% endif %}

{% if variation.images is empty %}
    {% set varimgs = product.images %}
{% else %}
	{% set varimgs = variation.images %}
{% endif %}



	<div class="col-md-7 mb-4" id="product-images">
		<div class="pos-r pi-contain">
			<div class="variations" data-id="{{product.id}}">
				<div class="active variation" data-vid="{{variation.id}}">
				    {% if varimgs is not empty %}
					<div class="slick slick-heroic slick-heroic-go" id="slick-heroic-{{variation.id}}">
					{% for varimg in varimgs %}
						<div class="{% if loop.index > 1 %}d-none {% endif %}">
							<div class="acaro"><div class="easyzoom easyzoom--overlay"><div class="image-space">
								<a target=_blank href="{{varimg.retina}}" tabindex="-1">
									<img class="img-fluid isd" src="{{varimg.standard}}" width="600" height="600" alt="{{product.name}} alternate img #{{loop.index}}">
								</a>
							</div></div></div>
						</div>
					{% endfor %}
					</div>
					<div class="ss-contain">
						<div class="slick slick-heroic-nav slick-heroic-nav-go" id="slick-heroic-nav-{{variation.id}}">
						{% for varimg in varimgs %}
							<div class="{% if loop.index > 5 %}d-none {% endif %}">
								<div class="acaro"><div class="image-space">
									<img class="img-fluid isd" src="{{varimg.standard}}" width="600" height="600" alt="">
								</div></div>
							</div>
						{% endfor %}
						</div>
					</div>

					<div class="silent-gal" id="silent-gal-{{variation.id}}" data-pswp-uid="{{variation.id}}"><div class="image-space">
					{% for varimg in varimgs %}
						<div class="ztrig" id="ztrig-{{variation.id}}-{{loop.index}}" data-size="1500x1500" data-href="{{varimg.retina}}" data-med-size="600x600">
							<img class="img-fluid isd" src="{{varimg.standard}}" width="600" height="600" alt="">
						</div>
					{% endfor %}
					</div></div>
					{% else %}
					<div class="slick-heroic" id="slick-heroic-{{variation.id}}">
    					<div class="image-space">
                            <img class="img-fluid isd" src="{{ app.url_asset }}/assets/images/product/image-450x450.gif" width="450" height="450" alt="">
    				    </div>
    				</div>
					{% endif %}
				</div>
			</div>

			{% if product.videos is not empty %}
			<div class="vari-video-scase"><div class="acaro">
				<button class="btn blank image-space video" data-video-src="{{ product.videos[0] }}">
					<img class="img-fluid isd" src="{{ app.url_asset }}/assets/images/spacer.gif" width="250" height="250" alt="Play a video about this product"><span class="isd text-center"><i class="video-icon fa fa-play-circle"></i></span>
				</button>
			</div></div>
			{% endif %}

			<div id="image-main">
				<div class="image-space no-of" id="variant-selected-image-{{product.id}}">
					<div class="isd btn-block"><div class="btn-block" id="main-product-video"></div></div>
					<span class="isd">
						{% set prodimg = varimgs[0] %}
						<img id="main-product-image" class="img-fluid d-none" src="{{prodimg.standard|default(app.url_asset ~ '/assets/images/product/image-450x450.gif')}}" data-image-zoom="" width="450" height="450" alt="">
					</span>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-5 mb-4">
	    <div class="mb-3" id="product-intro">
	        {% if product.tags is not empty %}
	        <div class="badges mb-2">{% for tag in product.tags %}{% spaceless %}
				{% set tagd = tag|title|replace({'-':' '}) %}
				{% if tag == 'new' %}
					<span class="badge badge-success badge-{{tag}}">{{ tagd }}</span>
				{% elseif tag == 'sale' %}
					<span class="badge badge-danger badge-{{tag}}">{{ tagd }}</span>
				{% else %}
					<span class="badge badge-primary badge-{{tag}}">{{ tagd }}</span>
				{% endif %}
			{% endspaceless %}{% endfor %}</div>
			{% endif %}
    		{% if product.brand is not empty %}
    		<div class="brand mb-1">
    			<a href="{{app.url}}/brand/{{product.brand|lower|url_encode}}">{{product.brand}}</a>
    		</div>
    		{% endif %}
    		<h1 class="product-name mb-2">{{product.name}}</h1>
    		{% spaceless %}
    		{% set review_score = reviews|average('score') %}
    		{% if review_score > 0 %}
    		<div class="fsd1 rating">
    			<a class="btn btn-link btn-sm p-0 ttc" href="#reviews">{{ base.rating( review_score ) }}
    			<span class="dib">
    				<span>{{ (review_score * 5)|number_format(1) }}</span>{% if reviews.num_total %} (<span>{{ reviews.num_total }}</span>){% endif %}
    			</span>
    			</a>
    		</div>
    		{% else %}
    		{#<a class="btn btn-link btn-sm p-0" href="{{ app.url }}/review/id/{{product.id}}"><u>Write a Review</u></a>#}
    		{% endif %}
    		{% endspaceless %}
	    </div>

		<div id="product-details">
			<div class="mb-3 variations" data-id="{{product.id}}">
			{% for vind in product.variant %}
				<div class="variation{% if vind.id == variation.id %} active{% endif %}{% if vind.has_stock == false %} variation-oos{% endif %}" data-vid="{{vind.id}}">
    				{% set needsku = product.variant|values_in('sku') %}
    				{% if needsku[0] is not empty %}
    					<div class="sku">Item: <span>{{vind.sku}}</span></div>
    				{% endif %}
					<div class="stock input-group-sm">
    					{% if vind.has_stock == false %}
							{% if vind.enable_instockemail %}
								<button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#emailStock">Email me when available</button>
							{% else %}
                                <div class="input-group-prepend"><div class="dib input-group-text text-danger bg-white border-danger">Out of Stock</div></div>
							{% endif %}
    					{% else %}
    					    <div class="input-group-prepend"><div class="dib input-group-text text-success bg-white border-white px-0">In Stock</div></div>
    					{% endif %}
    				</div>

    				{% set needprices = product.variant|max('save_percent') %}

                    {% set priceclass = "" %}
                    {% if vind.regular_price is not empty %}
        		        {% set shownprice = vind.regular_price %}
        		        {% if needprices|length > 0 %}
        		            {% if (vind.compare_price - vind.price) > 1 %}
        		                {% set shownsaveprice = (vind.compare_price - shownprice)|number_format(0) %}
        		                {% set shownsavepercent = (1 - (shownprice / vind.compare_price)|number_format(2)) * 100 %}
                            {% endif %}
                        {% endif %}
        		        {% set priceclass = " price-special" %}
        		        {% set usespecial = 1 %}
        		    {% elseif vind.price is not empty %}
        		        {% set usespecial = 0 %}
            		    {% set shownprice = vind.price %}
            		    {% set shownsaveprice = vind.save_price %}
                        {% set shownsavepercent = vind.save_percent %}
        		    {% endif %}
        		    {% spaceless %}
    					<div class="pricing g">
    						<div class="price{{priceclass}} mb-2">{{ prod.currency(shownprice|number_format(2),1) }}{% if usespecial %}<span class="special">Lower Price in Cart</span>{% endif %}</div>

    				{% if needprices|length > 0 %}
    					{% if (vind.compare_price - vind.price) > 1 %}
    						<ul class="list-inline"><li class="price-compare">{{ prod.currency(vind.compare_price|number_format(2)) }}</li><li class="percent">{{ prod.saveprice(shownsaveprice|number_format(2)) }}{{ prod.savepercent(shownsavepercent) }}</li></ul>
    					{% else %}
    						<ul class="list-inline"><li class="price-compare" data-c='{{ prod.currency("0.00") }}'><br></li><li class="percent" data-c='{{ prod.saveprice("0.00") }}{{ prod.savepercent("0") }}'><br></li></ul>
    					{% endif %}
    				{% endif %}
    					</div>
					{% endspaceless %}
				</div>
			{% endfor %}
			</div>
			{% spaceless %}
			<div class="variation-selector-{{product.id}}">
			{% for vo in product.variant_options %}
				<div class="mb-3 selector-details{% if vo.name == 'color' %} color-details{% endif %} variation-selector-{{product.id}}-{{vo.position}}" data-name="{{vo.name}}">
					{% if vo.name == 'color' %}
					<div class="selected-option fsd1 mb-1"><span class="selected-name">{{vo.name|title}}: </span><span class="selected-value" id="selected-{{loop.index0}}-{{product.id}}"></span></div>
					<ul class="list-inline vopt vopt-{{vo.name}}">
					{% for v in vo.values %}
						<li class="variation-selector-{{product.id}}-{{loop.parent.loop.index0}}-{{loop.index0}}" data-index="{{loop.index0}}" data-value="{{v|e('html')}}">
						{% if vo.name == "color" %}
							{% set vsimgsrc = "" %}
							{% for prodimg in product.images %}
								{% if prodimg.type == "swatch" and prodimg.name == v %}
									{% set vsimgsrc = prodimg.thumbnail %}
								{% endif %}
							{% endfor %}
							{% if vsimgsrc is empty %}
								{% set validvar = product.variant|find({'color':v}) %}
								{% set vsimgsrc = validvar[0].images[0].thumbnail %}
								{% for variation in product.variant %}
									{% if variation.color == v %}

									{% endif %}
								{% endfor %}
							{% endif %}
							{% if vsimgsrc is empty %}
								{% set vsimgsrc = varimgs[0].standard %}
							{% endif %}
							<button class="btn blank image-space"><img class="img-fluid isd" src="{{vsimgsrc|default(app.url_asset ~ '/assets/images/product/image-250x250.gif')}}" width="250" height="250" alt="{{v|e('html')}}"></button>
						{% else %}
							<button class="btn btn-default btn-lg">{{v}}</button>
						{% endif %}
						</li>
					{% endfor %}
					</ul>
					{% endif %}
					{% if vo.name != 'color' %}
					<label class="selected-option" for="{{vo.name}}"><span class="selected-name">{{vo.name|title}}: </span><span class="selected-value" id="selected-{{loop.index0}}-{{product.id}}"></span></label>
					<select class="form-control form-control-lg vopt vopt-{{vo.name}}" id="{{vo.name}}" title="{{vo.name}}">
					{% for v in vo.values %}
						<option class="variation-selector-{{product.id}}-{{loop.parent.loop.index0}}-{{loop.index0}}" value="{{v|e('html')}}" data-index="{{loop.index0}}">{{v}}</option>
					{% endfor %}
					</select>
					{% endif %}
				</div>
			{% endfor %}
			</div>
			{% endspaceless %}
			{# Begin actions desktop #}
			{% if app.user.id is not empty %}
				{% set registries = api.get('/registry', {query:{customer_id:app.user.id}}) %}
				{% if registries is not empty %}
					{% set registry_ids = [] %}
					{% for registry in registries %}
						{% set registry_ids = registry_ids|merge([registry.id]) %}
					{% endfor %}
					{% set items_in_registry = api.get('/registryitem', {query:{registry_id:{'$in':registry_ids},variant_id:product.id}}) %}
				{% endif %}
				{% set wishlists = api.get('/wishlist', {query:{customer_id:app.user.id}}) %}
				{% if wishlists is not empty %}
					{% set wishlist_ids = [] %}
					{% for wishlist in wishlists %}
						{% set wishlist_ids = wishlist_ids|merge([wishlist.id]) %}
					{% endfor %}
					{% set items_in_wishlist = api.get('/wishlistitem', {query:{wishlist_id:{'$in':wishlist_ids},variant_id:product.id}}) %}
				{% endif %}
			{% endif %}

			<form method="post" class="text-left productForm" id="productForm2" action="{{ app.url }}/product/route">
                {% if product.personalization_options is not empty %}
                    {% for option in product.personalization_options %}
                        <div class="form-group pb-3 mb-2">
                        <label class="selected-option" for="option_name">
                            <span class="selected-name">{{option.name|replace({'_':' '})|title}}:</span>
                        </label>
                        {% if option.type == 'options' %}
                            <select class="form-control form-control-lg" id="personalization_options{{loop.index}}" name="personalization[{{option.name}}]">
                                    <option>Select Option...</option>
                                {% for o in option.options %}
                                    <option value="{{o}}">{{o}}</option>
                                {% endfor %}
                            </select>
                        {% elseif option.type == 'number' %}
                            <input id="personalization_options{{loop.index}}" class="form-control form-control-lg" type="number" value="" max="{{option.max}}" min="{{option.min}}" maxlength="3" placeholder="0" name="personalization[{{option.name}}]">
                        {% else %}
                            {% if option.max > 30 %}
                                <textarea id="personalization_options{{loop.index}}" class="form-control form-control-lg" name="personalization[{{option.name}}]"></textarea>
                            {% else %}
                                <input id="personalization_options{{loop.index}}" class="form-control form-control-lg" type="text" value="" maxlength="{{option.max}}" placeholder="" name="personalization[{{option.name}}]">
                            {% endif %}
                        {% endif %}
                        </div>
    			    {% endfor %}
                {% endif %}
				<div class="form-group divide pb-3 mb-2" id="div-quantity-{{product.id}}">
					<label for="variant-input-{{product.id}}">Qty</label>
					<div class="input-group igq-mod">
						<div class="mr-1">
							<input id="variant-input-{{product.id}}" class="form-control form-control-lg quantity-selector px-1 text-center" type="number" value="1" max="{{variation.inventory_quantity - variation.inventory_minimum_quantity}}" placeholder="1" name="items[{{variation.id}}]">
						</div>
						<div class="btn-group-vertical mr-3">
							<button class="btn btn-default btn-xs btn-sq-xs btn-add" type="button"><i class="fa fa-chevron-up"><span class="sr-only">Increase Qty</span></i></button>
							<button class="btn btn-default btn-xs btn-sq-xs btn-remove" type="button"><i class="fa fa-chevron-down"><span class="sr-only">Decrease Qty</span></i></button>
						</div>
						<button type="submit" class="btn btn-lg btn-primary btn-cart flex-fill virg wait" name="action" value="cart" disabled>
						   <span>Add to Cart</span>
					   </button>
					</div>
				</div>
			   {% include "/product/_partials/list/actions-single.html.twig" %}
			</form>
		</div>
	</div>

	{% include "/product/_partials/single-item-product-no-tabs.html.twig" %}

    {% include "/product/_partials/email-in-stock.html.twig" %}

</div>
</div>


{% include "/_partials/product_grid/_partials/top_sellers.html.twig" %}


{% set schemaJsonLD = [] %}
{% set schemaDescription = product.description|striptags %}
{% set schemaOffers = [] %}
    {% for variant in item.product[0].variant %}
    {% set schemaOfferAvailability = "http://schema.org/InStock" %}
      {% if variant.has_stock == false %}
        {% set schemaOfferAvailability = "http://schema.org/OutOfStock" %}
    {% endif %}
    {% set schemaOfferPrice = variant.price %}
        {% if variant.regular_price is not empty %}
            {% set schemaOfferPrice = variant.regular_price %}
    {% endif %}
    {% set schemaOffers = schemaOffers|merge([
    {
            '@type': "Offer",
            'price': schemaOfferPrice,
            'priceCurrency': "USD",
            'sku': variant.sku,
            'gtin12': variant.barcode,
            'url': app.params.url.current ~ "/product/" ~ product.slug,
            'itemCondition': "https://schema.org/NewCondition",
            'availability': schemaOfferAvailability
    }]) %}
    {% endfor %}
{% set schemaReviews = [] %}
    {% for review in reviews %}
    {% set schemaReviews = schemaReviews|merge([
    {
        '@type': "Review",
        'author': review.first_name,
        'datePublished': review.date_created,
        'description': review.comment,
        'name': review.title,
        'reviewRating': {
                '@type': "Rating",
                'bestRating': "5",
                'ratingValue': review.score * 5,
                'worstRating': "1"}
    }]) %}
    {% endfor %}
{% set schemaAggregateRating = [] %}
    {% if review_score == 0 %}
    {% set schemaAggregateRating = null %}

      {% else %}
      {% set schemaAggregateRating = schemaAggregateRating|merge(
               {
                '@type': "AggregateRating",
                'ratingValue': review_score * 5,
                'reviewCount': reviews.num_total
                }) %}
    {% endif %}

{% set schemaJsonLD = schemaJsonLD|merge({
            '@context': "https://schema.org/",
            '@type': "Product",
            'name': product.name,
            'description': schemaDescription,
            'image': product.images[0].large,
            'brand': {
                '@type': "Thing",
                'name': product.brand
                },
            'offers': schemaOffers,
            'aggregateRating': schemaAggregateRating,
            'review': schemaReviews
    }) %}

<script type="application/ld+json">
{{schemaJsonLD|json_encode}}
</script>
