{% set yetActive = 1 %}
<div class="accordion accordion-product list-group">
{% if product.description is not empty %}
	<button class="list-group-item text-left" id="lgi-description" data-toggle="collapse" data-target="#description" aria-expanded="true"><span>Description</span><i class="fa fa-angle-down float-right"></i></button>
	<div id="description" class="card collapse show" aria-labelledby="lgi-description" style="">
		<div class="card-body">
			{{product.description}}
		</div>
	</div>
{% set yetActive = 0 %}
{% endif %}
{% if product.dynamic_attributes is not empty %}
	<button class="list-group-item text-left" id="lgi-features" data-toggle="collapse" data-target="#features" aria-expanded="{{ yetActive ? 'true' : 'false' }}"><span>Features</span><i class="fa fa-angle-down float-right"></i></button>
	<div id="features" class="card collapse{% if yetActive == 1 %} show{% endif %}" aria-labelledby="lgi-features">
		<div class="card-body">
			<ul>
			{% for feature in product.dynamic_attributes %}
				<li>{{feature}}: {{product[feature]}}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% set yetActive = 0 %}
{% endif %}
	<button class="list-group-item text-left" id="lgi-reviews" data-toggle="collapse" data-target="#reviews" aria-expanded="{{ yetActive ? 'true' : 'false' }}"><span>Reviews</span><i class="fa fa-angle-down float-right"></i></button>
	<div id="reviews" class="card collapse{% if yetActive == 1 %} show{% endif %}" aria-labelledby="lgi-reviews">
		<div class="card-body">
			{% include "/product/_partials/reviews.html.twig" %}
		</div>
	</div>
</div>