{% macro subcategory(main_category, items) %}
<li class="navcat-{{items.id}}">
    <a href="{{app.url}}/category/{{items.slug}}"><span>{{main_category}}</span></a>
    <ul class="dropdown-submenu list-unstyled">
        {% for category,subitems in items.limb %}
            {% if subitems.limb|length %}
                {{ _self.subcategory(category, subitems) }}
            {% else %}
            <li class="navcat-{{subitems.id}}"><a href="{{app.url}}/category/{{subitems.slug}}">{{category}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
{% endmacro %}

{% macro breadcrumbs(crumbs=[]) %}
{% spaceless %}
<div class="d-xsm-none fsd1">
    <ol class="breadcrumb">
        <li><a href="{{app.url}}">Home</a></li>
        {% for name,link in crumbs %}
            {% if link is empty %}
                <li class="active">{{name}}</li>
            {% else %}
                <li><a href="{{app.url}}{{link}}">{{ name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</div>
{% endspaceless %}
{% endmacro %}

{% macro pagination(number_items, items_per_page = 12, number_pages_displayed = 8, current_page = '', page_key = 'page' ) %}
{% spaceless %}
    {% if not current_page %}
        {% set current_page = app.request.get[(page_key)] %}
    {% endif %}
    {% set number_pages = (number_items / items_per_page)|round(0,'ceil') %}
    {% if number_pages > 1 %}
        {% set current_page = current_page > 1? current_page : 1 %}
        {% set start_page = current_page >= number_pages_displayed? current_page : 2 %}
        {% set end_page = current_page >= number_pages_displayed? current_page + number_pages_displayed - 3 : number_pages_displayed %}
        {% if end_page > number_pages %}
            {% set end_page = number_pages %}
            {% set start_page = number_pages - number_pages_displayed + 2 > 2? number_pages - number_pages_displayed + 2: 2 %}
        {% endif %}
            <div class="btn-group">
                <a class="btn btn-default btn-previous {% if app.request.get.page <= 1 %}disabled{% endif %}" {% if current_page > 1 %} href="{{app.request.getUrl({(page_key):current_page - 1})}}"{% endif %}><i class="fa fa-angle-double-left mr-0"></i><span class="sr-only">Previous Page</span></a>

                <a class="btn {% if current_page == 1 %}btn-primary active disabled{% else %}btn-default{% endif %}"{% if current_page != 1 %} href="{{app.request.getUrl({(page_key):1})}}"{% endif %}><i class="sr-only">Page</i> 1</a>
                {% if start_page - 1 > 1 %}
                <span class="input-group-text bg-transparent border-transparent px-2">...</span>
                {% endif %}
                {% for page in start_page..end_page %}
                    <a class="btn {% if current_page == page %}btn-primary active disabled{% else %}btn-default{% endif %}"{% if current_page != page %} href="{{app.request.getUrl({(page_key):page})}}"{% endif %}><i class="sr-only">Page</i> {{page}}</a>
                {% endfor %}
                {% if number_pages > end_page %}
                {% if number_pages - 1 > end_page %}
                <span class="input-group-text bg-transparent border-transparent px-2">...</span>
                {% endif %}
                <a class="btn btn-default" href="{{app.request.getUrl({(page_key):number_pages})}}"><i class="sr-only">Page</i> {{number_pages}}</a> {#»#}
                {% endif %}
                <a class="btn btn-default btn-next {% if current_page >= number_pages %}disabled{% endif %}" {% if current_page < number_pages %}href="{{app.request.getUrl({(page_key):current_page + 1})}}"{% endif %}><i class="fa fa-angle-double-right mr-0"></i><span class="sr-only">Next Page</span></a>
            </div>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro rating(score, attributes=[]) %}
{% spaceless %}
    <div {% if attributes.id is not empty %}id="{{ attributes.id }}"{% endif %} class="dib star-rating {% if attributes.class is not empty %}{{ attributes.class }}{% endif %}">
        <div class="disabled">
            {% for stars in 0..4 %}
                <span class="fa fa-star"></span>
            {% endfor %}
            <div class="active" style="width: {{ (score*100)|number_format }}%">
                {% for stars in 0..4 %}
                    <span class="fa fa-star"></span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro %}

{% macro protected_site() %}

    {% if app.request.get.clear == 42 %}
        {% do app.user.setState('user_allowed', null) %}
    {% endif %}

    {% set protected = api.get('/site/isprotected') %}
    {% set authenticated = api.post('/site/authentication', {"password": app.user.getState('user_allowed')}) %}
    {% if protected == true and not authenticated and app.request.url != "store-protected" %}
        {% do app.redirect('/store-protected') %}
    {% elseif protected == true and authenticated %}
        
		{#<a href="{{app.request.base ~ "/" ~ app.request.url}}?clear=42">Clear Access</a>#}

        {% if app.request.url == "store-protected" %}
            {% do app.redirect('/') %}
        {% endif %}
    {% elseif (app.request.url == "store-protected" and protected == false) %}
        {% do app.redirect('/') %}
    {% endif %}
{% endmacro %}