
{% macro create(columns, data, item_link = '/items/{id}', sort_link = 'sort',column_format = [], options = []) %}
    {% import _self as list %}
    <form method="POST" action="{{item_link|replace({'{id}':''})}}edit.html">
    <div class="table-responsive">
        <div class="form-group" id="actions" style="display:none">
            {% for option in options %}
                {% if option == 'edit' %}
                    <button class="btn btn-default btn-edit">Edit</button>
                {% elseif option == 'delete' %}
                    <button class="btn btn-danger btn-{{option}}" type="button">{{option|capitalize}}</button>
                {% endif %}
            {% endfor %}
            <input type="hidden" id="item_link" name="item_link" value="{{app.url}}{{item_link}}">
        </div>
      <table class="table fsd1 table-striped tablesorter">
        <thead>
          <tr>
              <th class="shrink"><span class="sr-only">Actions</span></th>
            {% for column in columns %}
                {% set direction = app.request.get[(sort_link)] == column ~ ':1' ? '-1' : '1' %}
				{% set colclass = "wsnw" %}
                {% set coltitle = column|replace({'_':'&nbsp;'})|title %}
				{% if coltitle == "Unread" %}
                    {% set coltitle = "New" %}
					{% set colclass = "pl-0 shrink wsnw" %}
                {% endif %}
                {% if coltitle == "Date&nbsp;created" %}
                    {% set coltitle = "Date" %}
					{% set colclass = "shrink text-right wsnw" %}
                {% endif %}
                <th {% if colclass != "" %}class="{{colclass}}"{% endif %}><a href="{{ app.request.url({(sort_link):column ~ ':' ~ direction,'page':1}) }}"><span>{{coltitle}}</span><i class="fa fa-sort"><i class="sr-only">Sort by {{coltitle}}</i></i></a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        
        {% for row in data %}
          <tr>
            <td class="shrink"><div class="custom-control custom-checkbox">
                <input type="checkbox" class="multi-select custom-control-input" id="{{row.id}}" name="{{row.id}}">
                <label class="custom-control-label" for="{{row.id}}"><span class="sr-only">Select {{row.id}}</span></label>
            </div></td>
            {% for column in columns %}
                {% set data = row[column] %}
                {% set extras = null %}
                {% if data is iterable and data|length > 1 %}
                    {% set extras %}
                        {% for i in data %}
                            {{ list.format_field(i, column_format[column]) }}{%- if loop.last == false -%}, {%- endif -%}
                        {% endfor %}
                    {% endset %}
                {% endif %}
                {% set colclass = "" %}
                {% set coltitle = column|replace({'_':'&nbsp;'})|title %}
                {% if coltitle == "Unread" %}
                    {% set colclass = colclass ~ 'pl-0' %}
                {% endif %}
                {% if loop.last %}
                    {% set colclass = colclass ~ ' text-right' %}
                {% endif %}
                <td {% if colclass is not empty %}class="{{colclass}}"{% endif %}>
                    
                    {% if extras is not empty %}
                        {{list.format_field(row[column], column_format[column])}} <i class="fa fa-info-circle"></i>
                    {% else %}
						{% if loop.index == 2 %}
                        <a href="{{ app.url ~ item_link|replace({'{id}':row.id}) }}">
						{% endif %}
							{{list.format_field(row[column], column_format[column])}}
						{% if loop.index == 2 %}
						</a>
						{% endif %}
                    {% endif %}

                {% if loop.first%}{% endif %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </form>
{% endmacro %}

{% macro format_field(value, type = null, column) %}
{% spaceless %}
    {% if type is empty %}
        {{ value }}
    {% elseif type == 'money' %}
        ${{ value|number_format(2,'.',',') }}
    {% elseif type == 'yes-no' %}
        {% if value %}
            Yes
        {% else %}
            No
        {% endif %}
    {% elseif type == 'date' %}
        {{ value|date("m/d/Y") }}
    {% elseif type == 'boolean' %}
        {% if value %}
            <i class="fa fa-check text-success"><span class="sr-only">True</span></i>
        {% endif %}
    {% elseif type == 'contact-subject' %}
        {% set subjects = {
                            'status' : 'Order Status',
                            'shipping' : 'Shipping / Tracking Info',
                            'cancel' : 'Cancel an Item / Order',
                            'return' : 'Return and Item / Order',
                            'product' : 'Product Question',
                            'website' : 'Website Comment',
                            'store' : 'Store Comment',
                            'registry' : 'Gift Registry Comment',
                            'other' : 'Other'
                        }
        %}
        {% set found = false %}
        {% for key, subject in subjects %}
            {% if key == value %}
                {{ subject }}
                {% set found = true %}
            {% endif %}
        {% endfor %}
        {% if not found %}{{ value }}{% endif %}
    {% endif %}
{% endspaceless %}
{% endmacro %}
