{% macro gridproduct(product, options=['carousel','image','details']) %}
	{% spaceless %}
	{% set product =  product|merge({'variant':product.product|values_in('variant')}) %}
	{% set product =  product|merge({'attributes':product.variant|values_in(['price','compare_price','save_price','save_percent','color'])}) %}
	{% import _self as this %}
	{% import "/_macros/base.html.twig" as base %}
	<div class="product" itemscope itemtype="http://schema.org/Product">        
		{% if 'image' in options %}
			{# Grab image based on color facets #}
			{% if product.images is not empty %}
				{% set image_url = app.image.getImageUrl('product','thumbnail', product.images[0].id) %}
			{% else %}
				{% set fallback = "" %}
				{% set image_url = "" %}
				{# Look for first variant with images, price>0 and has_stock #}
				{% for variant in product.variant %}
					{% if loop.first %}
						{% set fallback = app.image.getImageUrl('product','thumbnail', variant.images[0].id) %}
					{% endif %}
					{% if variant.status == 'active' 
					and variant.price>0 
					and variant.has_stock 
					and variant.images is not empty 
					and image_url is empty %}
						{% set image_url = app.image.getImageUrl('product','thumbnail', variant.images[0].id) %}
					{% endif %}
				{% endfor %}
				{% if image_url is empty %}
					{% set image_url = fallback %}
				{% endif %}
			{% endif %}

			{# Begin product image #}               
			<div class="max-250 p">
				<a href="{{app.url}}/product/{{product.slug}}">
					<div class="image-space">
						<img itemprop="image" alt="{{product.name}} Image" onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.gif'" id="product-image-{{product.id}}" src="{{ image_url }}" class="img-responsive isd" data-image-source="{{ image_url }}" width="250" height="250">
						<div class="labels">
						{% for tag in product.tags %}
							{% if tag == 'new' %}
								<span class="label label-new">{{ tag|capitalize }}</span>
							{% elseif tag == 'sale' %}
								<span class="label label-sale">{{ tag|capitalize }}</span>
							{% elseif tag == 'popular' %}
								<span class="label label-hot">{{ tag|capitalize }}</span>
							{% else %}
								<span class="label label-feat">{{ tag|capitalize }}</span>
							{% endif %}
						{% endfor %}
						</div>
					</div>
				</a>
			</div>                            
			{# End product image #}

		{% endif %}
		{% if 'details' in options %}
			{# Begin product details #}
			<div class="product-details g">
				
				<a href="{{app.url}}/product/{{product.slug}}">
					<div class="brand"><span itemprop="brand">{{product.brand}}</span></div>
					<div class="product-name"><span itemprop="name">{{product.name}}</span></div>
				</a>
				
				<div class="pricing p" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					{% if product.attributes.price %}
					<div class="price p-mini"><span itemprop="price">{{ this.price(product.attributes.price) }}</span></div>
					<meta itemprop="priceCurrency" content="USD" />
					{% endif %}
					{# if product.attributes.price.0 >= 100 %}
					<div class="price-per-month hidden-xs">
						<span data-tooltip data-toggle="tooltip" data-original-title="Spread payments over six months by selecting &quot;Checkout with Paypal&quot; on the Shopping Cart page. Then log in and apply for a &quot;Bill Me Later&quot; account.">{{ this.billmelater(product.attributes.price) }}</span>
					</div>
					{% endif #}
					{% if product.attributes.compare_price|max - product.attributes.price|max > 1 %}
					{% spaceless %}
					<ul class="list-inline">
						<li class="price-regular">{{ this.cprice(product.attributes.compare_price) }}</li>
						<li class="percent">{{ this.saveprice(product.attributes.save_price) }}{{ this.savepercent(product.attributes.save_percent) }}</li>
					</ul>
					{% endspaceless %}
					{% endif %}
				</div>

				{# There is no point in having a carousel without an image, so it is moved inside here #}
				{% if 'carousel' in options %}
					{# Begin image carousel insert #}
					{{ this.carousel(product) }}
					{# End image carousel insert #}
				{% endif %}

				{% set reviews = api.get('/productreview', { query:{ product_id: product.id,status:"active" } }) %}
				{% set review_score = reviews|average('score') %}
				{% if review_score > 0 %}
				{% spaceless %}
				<div class="fsd1 list-inline rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
					<span>{{ base.rating( review_score ) }}</span>
					<span class="dib"><span itemprop="ratingValue">{{ (review_score * 5)|number_format(1) }}</span>
						{% if reviews.num_total %}(<span itemprop="reviewCount">{{ reviews.num_total }}</span>)
						{% endif %}
					</span>
				</div>
				{% endspaceless %}
				{% endif %}
			</div>
			{# End product details #}
		{% endif %}
	</div>
	{% endspaceless %}
{% endmacro %}

{% macro carousel(product) %}
{% spaceless %}
{# Begin image carousel #}
{% if product.attributes.color|length > 1 %}
	{% if product.variant is not empty %}
		<div class="max-250 color-chips p-mini">
			<div class="pad-w">
				<div class="row row-thin">
				{% set colors = [] %}
				{% for item,child in product.variant if 
					child.status == 'active' 
					and child.images is not empty
					and child.color not in colors %}
					{% set image_url0 = "" %}
				    {% set image_url = "" %}
				    {% set thiscolor = child.color %}
					{% set colors = colors|merge([child.color]) %}
					{% set imagevar = product.images %}
					{% set image_url0 = imagevar|find({'name':thiscolor,'type':'swatch'}) %}
					{% if image_url0 is not empty %}
					    {% set image_url = image_url0[0].thumbnail %}
				    {% endif %}
					{% if image_url is empty %}
					    {% set image_url = app.image.getImageUrl('product','thumbnail', child.images[0].id) %}
				    {% endif %}
					<div class="col-xs-2 col-thin p-mini">
						<img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.gif'" src="{{ image_url }}" class="color-chip img-responsive" data-image-swap="product-image-{{product.id}}" data-image-swap-src="{{ image_url }}" width="250" height="250" alt="">
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{% else %}
	{#<div class="empty-carousel hidden-sm hidden-xs"></div>#}
{% endif %}
{# End image carousel #}
{% endspaceless %}
{% endmacro %}

{% macro currency(val,ip,add) %}
{#	price,
	optional bool for if itemprop html is desired,
	optional string for itemprop value other than just "price"
#}
	{% set cur = "USD" %} {# EUR #}
	{% set curs = "$" %} {# € #}

	{% set add = add %}
	{% if add is empty %}
		{% set add = "price" %}
	{% endif %}
	{% if cur == "EUR" %}
		{% if ip == 1 %}
			<span class="val" itemprop="{{add}}">{{val}}</span><span class="cursign" itemprop="priceCurrency" content="{{cur}}">{{curs}}</span>
		{% else %}
			<span class="val">{{val}}</span><span class="cursign">{{curs}}</span>
		{% endif %}
	{% else %}
		{% if ip == 1 %}
			<span class="cursign" itemprop="priceCurrency" content="{{cur}}">{{curs}}</span><span class="val" itemprop="{{add}}">{{val}}</span>
		{% else %}
			<span class="cursign">{{curs}}</span><span class="val">{{val}}</span>
		{% endif %}
	{% endif %}
{% endmacro %}


{% macro price(prices) %}
{% import _self as this %}
{% spaceless %}
	{% if prices is not iterable %}
		{{ this.currency(prices|number_format(2),1) }}
	{% else %}
		{% set min = prices[0] %}
		{% set max = prices[0] %}
		{% for price in prices %}
			{% set min = min > price ? price : min %}
			{% set max = max < price ? price : max %}
		{% endfor %}
		{% if min == max or min == 0 %}
			{{ this.currency(max|number_format(2),1) }}
		{% else %}
		    <span itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
			{{ this.currency(min|number_format(2),1,"price minPrice") }}<span class="splitter"> - </span>{{ this.currency(max|number_format(2),1,"maxPrice") }}
          </span>
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro cprice(prices) %}
{% import _self as this %}
{% spaceless %}
	{% if prices is not iterable %}
		{{ this.currency(prices|number_format(2)) }}
	{% else %}
		{% set min = prices[0] %}
		{% set max = prices[0] %}
		{% for price in prices %}
			{% set min = min > price ? price : min %}
			{% set max = max < price ? price : max %}
		{% endfor %}
		{% if min == max or min == 0 %}
			{{ this.currency(max|number_format(2)) }}
		{% else %}
		    {{ this.currency(min|number_format(2)) }} - {{ this.currency(max|number_format(2)) }}
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro billmelater(prices, text='per month*') %}
{% spaceless %}
	{% if prices is not iterable %}
		${{(prices/6)|number_format(2)}} {{text}}
	{% else %}
		{% set min = prices[0] %}
		{% set max = prices[0] %}
		{% for price in prices %}
			{% set min = min > price ? price : min %}
			{% set max = max < price ? price : max %}
		{% endfor %}
		{% if max >= 100 %}
			${{(max/6)|number_format(2)}} {{text}}
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro saveprice(saveprices) %}
{% import _self as this %}
{% spaceless %}
	{% if saveprices is not iterable %}
		<span class="lang">Save </span>{{ this.currency(saveprices|number_format(2)) }}
	{% else %}
		{% set max = saveprices[0] %}
		{% for price in saveprices %}
			{% set max = max < price ? price : max %}
		{% endfor %}
		{% if max > 1 %}
			<span class="lang">Save </span>{{ this.currency(max|number_format()) }}
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro savepercent(percents) %}
{% import _self as this %}
{% spaceless %}
	{% if percents is not iterable %}
		<span class="percs hidden-xs"> (<span class="val">{{ percents }}</span>%)</span>
	{% else %}
		{% set max = percents[0] %}
		{% for percent in percents %}
			{% set max = max < percent ? percent : max %}
		{% endfor %}
		{% if max > 0 %}
			<span class="percs hidden-xs"> (<span class="val">{{ max }}</span>%)</span>
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endmacro %}
