{%- import "email/core/macro.html.twig" as ema -%}
{% set config = api.get('/config') %}
<tr>
	<td {{ ema.divform() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.comformC() }}>
				{% if config.params['email-footer-text'] is defined %}
					{{ config.params['email-footer-text'] }}
				{% else %}
					Thank you from your friends at {{ app.params.site.title }}.<br>Please add us to your email address book to make sure you receive important emails from us.
				{% endif %}
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table {{ ema.tform() }}>
			<tr>
				<td {{ ema.comformD() }}>
					<a href="{{app.url}}/account/login" style="margin:0 10px; color:#000; text-decoration:none; white-space:nowrap;">My Account</a> <a href="{{app.url}}/account/orders" style="margin:0 10px; color:#000; text-decoration:none; white-space:nowrap;">Order Status</a> <a href="{{app.url}}/contact" style="margin:0 10px; color:#000; text-decoration:none; white-space:nowrap;">Contact</a>
				    <br><br>&copy;{{"now"|date("Y")}} <a href="{{app.url}}" style="color:#000; text-decoration:none;">{{ app.params.site.title }}</a>. <span style="white-space:nowrap;">Powered by <a style="color:#000; text-decoration:none;" href="https://www.acenda.com/">Acenda</a>.</span>
				</td>  
			</tr>
		</table>
	</td>
</tr>

</table>

</td></tr></table></td></tr></table>

</body>
</html>