{%- import "email/core/macro.html.twig" as ema -%}
<!DOCTYPE html>
<html>
<head>
<title>{{ params['site']['title']|default("") }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
{% if app.params.logoimages is not empty %}
	{% set logo_info = app.params.logoimages | first %}
	{% set logo = logo_info.url %}
{% endif %}
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%;"><tr><td style="padding:20px 0;"><table align="center" cellpadding="0" cellspacing="0" border="0"><tr><td bgcolor="#ffffff" style="background:#fff; border:1px solid #e5e5e5;">

<table class="content" align="center" cellpadding="0" cellspacing="0" border="0" width="600">
<tr>
	<td {{ ema.divformB() }}>
		<table {{ ema.tform() }}>
			<tr>
				<td align="center">
					<a href="{{app.url}}">
                        {% if logo is not empty %}
                            <img src="{{logo}}" {# width="134" height="85" #} border="0" alt="" style="display:block;">
                        {% else %}
                            <h1>{{ params['site']['title'] }}</h1>
                        {% endif %}
                    </a>
				</td>
			</tr>
		</table>
	</td>
</tr>
