{%- import "/_macros/product.html.twig" as prod -%}
      <tr>
        <td class="innerpadding borderbottom" style="padding: 40px 30px 40px 30px; border-bottom: 1px solid #f2eeed;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="h3" style="padding: 0 0 15px 0; font-size: 20px; line-height: 28px; font-weight: bold; text-transform: uppercase; color:#6a4362; font-family: 'Open Sans', sans-serif;">
                Top Sellers
              </td>
            </tr>
          </table>
            {% set items_per_row = 4 %}
            {% set collection_ids = [] %}
            {% set product_count = 1 %}
            {% set options = ['image'] %}
            {% set products = api.get('/catalog', {sort:"product.variant.popularity:-1",limit:20}) %}
            {% for row,product in products if  product.id not in collection_ids and product_count < 9 %}
                {% if product.group == 'product' %}
                    {% for id in product.product[0].collection_id %}
                        {% set collection_ids = collection_ids|merge([id]) %}
                    {% endfor %}
                {% else %}
                    {% set collection_ids = collection_ids|merge([product.id]) %}
                {% endif %}
                {% set product_count = product_count + 1 %}

                {% set product =  product|merge({'variant':product.product|values_in('variant')}) %}
                {% set product =  product|merge({'attributes':product.variant|values_in(['price','compare_price','save_price','save_percent','color'])}) %}

                {% if 'image' in options %}
                    {% if product.images is not empty %}
                        {% set image_url = app.image.getImageUrl('product','thumbnail', product.images[0].id) %}
                    {% else %}
                        {% set image_url = "" %}
                        {# Look for first variant with images, price>0 and has_stock #}
                        {% for variant in product.variant
                              if variant.status == 'active' 
                              and variant.price>0 
                              and variant.has_stock 
                              and variant.images is not empty 
                              and image_url is empty %}
                                  {% set image_url = app.image.getImageUrl('product','thumbnail', variant.images[0].id) %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <table width="50%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="200" align="center" style="padding: 0;">
                            <a href="{{app.url}}/product/{{product.slug}}"> 
                                <img class="fix" onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.jpg'" src="{{ image_url }}" width="200" height="200" border="0" alt="" />
                            </a>   
                            <p class="producttitle" style="margin-top:5px; font-weight:bold; text-transform: uppercase;">{{ product.title|striptags|slice(0, 50) }}</p><p class="productprice" style="margin: 0 0 20px 0; color: #1d2831;"> {{ prod.price(product.attributes.price) }} </p>
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </td>
      </tr>
