{# {% if app.request.path is not empty and app.request.path != 'checkout' %}
	{% if 'http://' not in app.request.path and 'https://' not in app.request.path %}
		{% do app.user.setState('login_referer', app.request.path) %}
	{% endif %}
	{% do app.redirect('/account/login',{'error': 'You must be logged in to perform this action.' ~ app.request.path}) %}
{% endif %} #}
{% if app.request.post is not empty and app.request.post.login is empty %}
	{% do app.redirect('/account/login',{'error': 'You must be logged in to perform this action.'}) %}
{% endif %}
{% if app.user.isLoggedIn() %}
    {% set login_redirect_url = app.user.getState('login_referer') %}
    {% if login_redirect_url is not empty %}
    	{% do app.redirect(login_redirect_url) %}
    {% else %}
		{% do app.redirect('/account') %}
    {% endif %}
{% endif %}

{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/lonely-form.html.twig" as lonelyform %}
{% extends "/_layouts/base.html.twig" %}

{% set title = 'Account Login' %}

{% block title %}{{title}}{% endblock %}

{% block breadcrumb %}
{{ base.breadcrumbs({'Account':'/account', (title):''}) }}
{% endblock %}

{% block content %}

<h1>{{ title|title }}</h1>

{{ lonelyform.begin('account-login')}}
    {{ lonelyform.beginintro() }}
		<h3>Do you have a {{ app.params.site.title }} account?</h3>
	{{ lonelyform.endintro() }}
	{% include "/account/login/_partials/form.html.twig" %}
{{ lonelyform.end() }}
{{ lonelyform.begin('account-create')}}
    {{ lonelyform.beginintro() }}
		<h3>Create a New Account</h3>
		<p>Create an account and you'll be able to place orders, create registries, create wish lists, check the status of your orders, write reviews, and more. </p>
		<a class="btn btn-lg btn-primary" href="{{app.url}}/account/create/{{ app.request.path }}">Create Account</a>
	{{ lonelyform.endintro() }}
{{ lonelyform.end() }}
{% endblock %}