<div class="card-body">
<h2>Shipping and Tax</h2>

<div id="estimator-error"></div>

{{ forms.begin('cart','','post',{ class:'form-estimate needs-validation' }) }}
	<div class="row">
	  <div class="col-lg-4 mb-3 mb-lg-0">
	    <label class="sr-only" for="cart_zip_code">Shipping Zip Code</label>
		<div class="row">
			<div class="col-6 col-lg-12 mb-lg-3">
				{{ forms.hidden('cart[shipping_country]', 'US') }}			    
				{{ forms.text('cart[shipping_zip]', cart.shipping_zip, {placeholder: "Zip Code", class:'form-control', id:'cart_zip_code', 'data-value':cart.shipping_zip, required:true}) }}
			</div>
			<div class="col-6 col-lg-12">
				{{ forms.submit('action', 'submit', 'Estimate', { class:'btn btn-default btn-block', id: 'cart_Estimate'})}}
			</div>

			</div>
		</div>
      
      <div class="col-lg-8 g" id="shipping-method-selection"> 	

      </div>
	</div>
{{ forms.end() }}
</div>
<script id="shipping-methods-template" type="text/template">
<fieldset>
	<legend class="sr-only">Select a Shipping Method</legend>
    <div class="table-responsive fsd1 mb-0">
	<table class="table">
	<tbody>
		<% _.each(methods,function(method) { %>
			<% if(method.status=='active') { %>
			    <tr data-method="<%= method.id %>">
			        <td><div class="custom-control custom-radio"><input <%= (method.id == current_method)?'checked':''  %> type="radio" class="custom-control-input" id="method_<%= method.id %>_input" name="shipping_method" value="<%= method.id %>" data-carrier="<%= method.carrier_name %>" ><label class="custom-control-label" for="method_<%= method.id %>_input"><%= method.name %></label></div></td>
			        <td class="estimate-column"><span class="wsnw" data-carrier-method="<%= method.carrier_method %>"><% if(method.bottom_days_range && method.top_days_range) { %><%= method.bottom_days_range %> - <%= method.top_days_range %> days <% } %> </span><i class="fa fa-circle-notch fa-spin spinner" style="display:none;"></i></td>
			        <td class="shrink text-right">$<%= method.price %></td>
			    </tr>
			    <% } %>
	    <% }) %>
	</tbody>
	</table>
	</div>
</fieldset>
</script>
{{ app.asset.js(app.url_asset ~ '/assets/js/jquery.cascadingdropdown.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/underscore-min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/moment-with-locales.min.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/estimator.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/region.js') }}
