<div id="estimator-error"></div>
<h2>Shipping and Tax Estimator</h2>
{{ forms.begin('cart','','post',{ class:'form-estimate' }) }}
	<div class="form-group">
		<label class="control-label" for="cart_zip_code">Shipping Details:</label>
		<div class="row">
			<div class="col-6 p">
				{{ forms.select('cart[shipping_country]', '', {}, {class:'form-control', id:'country', 'data-value':cart.shipping_country}) }}
			</div>
			<div class="col-6 p">
				{{ forms.select('cart[shipping_state]', '', {}, {class:'form-control', id:'state_select', 'data-value':cart.shipping_state}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-md-4 p">
				{{ forms.text('cart[shipping_zip]', cart.shipping_zip, {placeholder: "Zip Code", class:'form-control', id:'cart_zip_code', 'data-value':cart.shipping_zip}) }}
			</div>
			<div class="col-6 col-md-4 p">
				{{ forms.select('cart[shipping_method]', cart.shipping_method, {}, {class:'form-control', id:'cart_shipping_method', 'data-value':cart.shipping_method}) }}
			</div>
			<div class="col-md-4 p">
				{{ forms.submit('action', 'submit', 'Estimate', {class:'btn btn-default btn-block', id: 'cart_Estimate'})}}
			</div>
		</div>
	</div>
{{ forms.end() }}
{% if cart.shipping_rate != 0 %}
<div class="modal fade" id="modal-arrival-date" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"><i class="sr-only">Close</i></i></button>
				<h4 class="modal-title" id="myModalLabel">Estimated Arrival</h4>
			</div>
			<div class="modal-body">
				<p>These dates are based on carrier shipping practices, destination and the items you order. (Expected delivery dates are estimates. Orders can be delayed due to verification or time of order being placed. Items that are not regularly stocked cannot be held to the expected delivery dates.)</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-shipping-rate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"><i class="sr-only">Close</i></i></button>
				<h4 class="modal-title" id="myModalLabel">Shipping Rate</h4>
			</div>
			<div class="modal-body">
				<p>Shipping estimates are based on shipping costs to an address within the ZIP Code displayed.
					Exact shipping cost will be calculated during checkout.</p>
			</div>
		</div>
	</div>
</div>
<div class="fsd1" id="estimate">
	<div class="card"><div class="card-body">
		<div class="row rate-estimate-checkout">
			<div class="col-8">
				<span data-target="#modal-shipping-rate" data-toggle="modal">Estimated Shipping Rate <i class="fa fa-question-circle"></i></span>:
			</div>
			<div class="col-4 text-right">
				{{ prod.currency(cart.shipping_rate|number_format(2)) }}
			</div>
		</div>
		{# End shipping rate #}

		{# Begin arrival date #}
		<div class="row">
			<div class="col-5">
				<span data-target="#modal-arrival-date" data-toggle="modal">Arrives <i class="fa fa-question-circle"></i></span>:
			</div>
			<div class="col-7 text-right">
				<span id="date-estimate">{{cart.shipping_estimate_start}} to {{cart.shipping_estimate_end}}</span><span class="dib wsnw">(for <span class="availability">In Stock</span> products)</span>
			</div>
		</div>
		{# End arrival date #}
		{# Begin estimated tax #}
		<div class="row tax-estimate-checkout">
			<div class="col-8">
				Estimated Sales Tax:
			</div>
			<div class="col-4 text-right">
				{{ prod.currency(cart.tax_rate|number_format(2)) }}
			</div>
		</div>
		{# End estimated tax #}
		{# Begin estimated total #}
		<div class="row total estimate-total">
			<div class="col-8">
				Estimated Total:
			</div>
			<div class="col-4 text-right">
				{{ prod.currency(cart.total|number_format(2)) }}
			</div>
		</div>
		{# End estimated total #}
	</div></div>
</div>
{% endif %}
{# End estimates #}
{{ app.asset.js(app.url_asset ~ '/assets/js/jquery.cascadingdropdown.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/region.js') }}
