
<div class="card-header">
<h2>Shipping and Tax</h2>
</div>
<div class="card-body">

<div id="estimator-error"></div>

{{ forms.begin('cart','','post',{ class:'form-estimate needs-validation' }) }}
	<div class="row">
	  <div class="col-md-4">	
		<div class="form-group">
			<div class="row">
				<div class="col-md-12">

				    <label class="sr-only" for="cart_zip_code">Shipping Zip Code</label>
					{{ forms.hidden('cart[shipping_country]', 'US') }}			    
					{{ forms.text('cart[shipping_zip]', cart.shipping_zip, {style: 'vertical-align: middle;  display:inline-block; width: 6em', placeholder: "Zip Code", class:'form-control', id:'cart_zip_code', 'data-value':cart.shipping_zip, required:true}) }}
					{{ forms.submit('action', 'submit', 'Estimate', { style: 'vertical-align: middle; display: inline-block; width: 6em;' ,class:'btn btn-default btn-block', id: 'cart_Estimate'})}}

				</div>
			</div>
		</div>
      </div>
      <div class="col-md-8">
      	 {% set methods = api.get('shippingmethod/byregion',{zip: cart.shipping_zip}) %}

  	     {% for method in methods %}
      	 <pre>
      	 	{{ dump( method) }}
      	 </pre>  	     	
  	     	{{ method.name }}
 	 	 {% endfor %}
      </div>
	</div>
{{ forms.end() }}
</div>
{{ app.asset.js(app.url_asset ~ '/assets/js/jquery.cascadingdropdown.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/estimator.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/region.js') }}
