<div id="estimator-error"></div>
<div class="title p fa-fa-balance"><i class="fa fa-calculator"></i><b>Shipping and Tax Estimator</b></div>
{{ forms.begin('cart','','post',{ class:'form-estimate' }) }}
	<div class="form-group">
		<label class="control-label" for="cart_zip_code">Shipping Details:</label>
		<div class="row">
			<div class="col-xs-6 p">
				{{ forms.select('cart[country]', '', {}, {class:'form-control', id:'country', name:'cart_shipping_country'}) }}
			</div>
			<div class="col-xs-6 p">
				{{ forms.select('cart[state]', '', {}, {class:'form-control', id:'state_select', name:'cart_shipping_state'}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-4 p">
				{{ forms.text('cart[zip_code]', '', {placeholder: "Zip Code", class:'form-control', id:'cart_zip_code', name:'cart_zip_code'}) }}
			</div>
			<div class="col-xs-6 col-sm-4 p">
				{{ forms.select('cart[method]', '', {}, {class:'form-control', id:'cart_shipping_method', name:'cart_shipping_method'}) }}
			</div>
			<div class="col-xs-12 col-sm-4 p">
				{{ forms.submit('cart[action]', 'submit', 'Estimate', {class:'btn btn-default btn-block', id: 'cart_Estimate'})}}
			</div>
		</div>
	</div>
{{ forms.end() }}
<div class="fsd1" id="estimate" style="display:none">
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				{# Begin arrival modal #}
			   	<div class="modal fade" id="modal-arrival-date" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="myModalLabel">Estimated Arrival</h4>
							</div>
							<div class="modal-body">
								<p>These dates are based on carrier shipping practices, destination and the items you order. (Expected delivery dates are estimates. Orders can be delayed due to verification or time of order being placed. Items that are not regularly stocked cannot be held to the expected delivery dates.)</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>
					</div>
				</div>
				{# End arival modal #}
				{# Begin shipping rate modal #}
				<div class="modal fade" id="modal-shipping-rate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="myModalLabel">Shipping Rate</h4>
							</div>
							<div class="modal-body">
								<p>Shipping estimates are based on shipping costs to an address within the ZIP Code displayed.
									Exact shipping cost will be calculated during checkout.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
							</div>
						</div>
					</div>
				</div>
				{# End shipping rate modal #}
				{# Begin shipping rate #}
				<div class="rate">
					<div class="row">
						<div class="col-xs-8">
							<span data-target="#modal-shipping-rate" data-toggle="modal">Estimated Shipping Rate <i class="fa fa-question-circle"></i></span>:
						</div>
						<div class="col-xs-4 text-right">
							<span id="rate-estimate"></span>
						</div>
					</div>
				</div>
				{# End shipping rate #}

				{# Begin arrival date #}
				<div class="arrival" id="block-date-estimate">
					<div class="row">
						<div class="col-xs-5">
							<span data-target="#modal-arrival-date" data-toggle="modal">Arrives <i class="fa fa-question-circle"></i></span>:
						</div>
						<div class="col-xs-7 text-right">
							<span id="date-estimate"></span><span class="dib wsnw">(for <span class="availability">In Stock</span> products)</span>
						</div>
					</div>
				</div>
				{# End arrival date #}
				{# Begin estimated tax #}
				<div class="tax">
					<div class="row">
						<div class="col-xs-8">
							Estimated Sales Tax:
						</div>
						<div class="col-xs-4 text-right">
							<span id="tax-estimate"></span>
						</div>
					</div>
				</div>
				{# End estimated tax #}
				{# Begin estimated total #}
				<div class="total divide p pad-b">
					<div class="row">
						<div class="col-xs-8">
							Estimated Total:
						</div>
						<div class="col-xs-4 text-right">
							<span id="total-estimate"></span>
						</div>
					</div>
				</div>
				{# End estimated total #}
				{# Begin estimator actions #}
				<div class="actions">
					{{ forms.submit('cart[ClearEstimate]', '', 'Clear Estimate', {'class':'btn btn-default', id: 'cart_ClearEstimate'}) }}
				</div>
				{# End estimator actions #}
			</div>
		</div>
	</div>
</div>
{# End estimates #}
{{ app.asset.js(app.url_asset ~ '/assets/js/region.js') }}
