{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% block title %}
Order Status &amp; History
{% endblock %}
{% block breadcrumb %}
    {{ base.breadcrumbs({'Order Status &amp; History':''}) }}
{% endblock %}
{% block content %}
<section id="order_search">
    
    <h1>Order Status &amp; History</h1>
    
    <div class="row">
        <div class="col-lg-8">
            <div class="card"><div class="card-body">
                 <div>
                    <p>To view your current and past orders, please either <strong><a href="{{app.url}}/account/login/">login to your account</a></strong> or enter your information below.</p>
                    <hr>
                </div>
                {{ forms.begin('order','','post',{ class:'form-horizontal' }) }}
                <div class="form-group fgq">
                    <label class="control-label col-md-3" for="input2">Email Address{{forms.fgqtext}}</label>
                    <div class="col-md-9">
                        {{ forms.email('order[email]', '', {class:'form-control parsley-validated', required:true, placeholder: "Email Address"}) }}
                    </div>
                    <div class="col-md-9 offset-lg-3">
                        <div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
                    </div>
                </div>
                <div class="form-group fgq">
                    <label class="control-label col-md-3" for="input2">Order Number{{forms.fgqtext}}</label>
                    <div class="col-md-9">
                        {{ forms.number('order[number]', '', {class:'form-control parsley-validated', required:true, placeholder: "Order Number"}) }}
                    </div>
                    <div class="col-md-9 offset-lg-3">
                        <div class="validation">{{ forms.errorlist(form_errors, 'id') }}</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-md-9 offset-lg-3">
                            {{ forms.submit('action', 'search', 'Submit', {class:'btn btn-primary'})}}
                        </div>
                    </div>
                </div>
                {{ forms.end() }}
            </div></div>
        </div>
    </div>
</section>
{% endblock %}
