{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% block title %}
Cart
{% endblock %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Cart':''}) }}
{% endblock %}

{# Page information #}
    {#
        Visit api/cart to understand how Cart data is mapped
    #}
    {#
        Shipping and Tax estimates are handled via JS, see "block js" at
        the bottom of this page.
    #}
{# end Page information #}

{% for item, quantity in app.request.post.cart.quantity %}
	{% if quantity <= 0 %}
		{% set result = api.delete('/cart/item/' ~ item) %}
	{% else %}
		{% set result = api.put('/cart/item/' ~ item, {quantity:quantity}) %}
	{% endif %}
{% endfor %}
{% if app.request.post.cart.action|split('/')|first == 'remove' %}
	{% set result = api.delete('/cart/item/' ~ app.request.post.cart.action|split('/')|last) %}
{% endif %}
{# Remove coupon #}
{% if app.request.post.cart.action|split('/')|first == 'removecoupon' %}
	{% set cart  = api.get('/cart') %}
	{% set coupon_id = app.request.post.cart.action|split('/')|last %}
	{% set result = api.delete('/cart/discount/' ~ coupon_id) %}
{% endif %}
{# Add coupon #}
{% if app.request.post.cart.coupon_code is not empty %}
	{% set result = api.post('/cart/discount', {"type":"coupon", "code":app.request.post.cart.coupon_code}) %}
	{% if api.error %}
		{% set error="The coupon code you entered is invalid." %}
	{% endif %}
{% endif %}
{% if app.request.post.cart.shipping_country is not empty %}
	{% set result = api.post('/cart', app.request.post.cart) %}
{% endif %}
{% if api.error is not empty  and not error %}
	{% set error = api.error %}
{% endif %}

{% set cart = api.get('/cart') %}
{% set shipping_methods = api.get('/shippingmethod',{query:{status:'active'}}) %}
{% set shipping_countries = api.get('/shippingmethod/country') %}
{% set site_payments = api.get('/site/payments') %}

{% if (cart.items is not empty) %}
	{% set product_ids = cart.items|values_in('product_id') %}
	{% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}

	{# Remove products that were disabled or removed #}
	{# TODO: We should probably do this outside of the template for orders #}
	{% set items_deleted = false %}
	{% for id, item in cart.items %}
		{% set product = products[item.product_id].0 %}


		{% if product.status != 'active' %}
			{% do api.delete('/cart/item/' ~ id) %}
			{% if product.title is defined %}
				{# This product is disabled or removed #}
				{% do app.user.setFlash(product.title ~ ' is no longer available.', 'info') %}
			{% else %}
				{# This product doesn't exist anymore (deleted) #}
				{% do app.user.setFlash('A product you have selected is no longer available.', 'info') %}
			{% endif %}
			{% set items_deleted = true %}
		{% endif %}
		{% if items_deleted %}
			{% do app.redirect(app.request.url) %}
		{% endif %}
	{% endfor %}
{% endif %}

{% block content %}
{# DISPLAY CART LOGIC #}
    {% set display_cart = [] %}
    {% set new_quantities = [] %}
    {% set count = 0 %}
    {# 1) Add bundles to display cart #}
    {% for discount in cart.discount_collection.discounts %}
        {% if discount.type == "bundle" %}
            {% set display_cart = display_cart|merge(
                { (count) :
                    {
                        'is_bundle': true,
                        'name': discount.model.name,
                        'description': discount.model.description,
                        'discount_value' : discount.model.discount_value,
                        'items': discount.affected_items,
                        'quantity' : discount.quantity
                    }
                }
                )
            %}
            {% set count = count + 1 %}
        {% endif %}
        {# 1.a) Recompute item quantities #}
        {% for variant in discount.model.variant_id %}
            {% set new_quantities = new_quantities|merge(
                    { ('_'~variant.id): variant.quantity * discount.quantity }
                )
            %}
        {% endfor %}
    {% endfor %}
    {# 2) Add items with new quantities #}
    {%  for item in cart.items %}
        {% if (item.quantity - new_quantities['_'~item.product_id]) > 0 %}
            {% set display_cart = display_cart|merge(
                { (count) :
                    {
                        'product_id': item.product_id,
                        'quantity': item.quantity - new_quantities['_'~item.product_id]
                    }
                }
                )
            %}
            {% set count = count + 1 %}
        {% endif %}

    {% endfor %}
{# END DISPLAY CART LOGIC #}

{% if error is not empty %}
	<div class="alert alert-warning">{{ error }}</div>
{% endif %}

{% if shipping_methods is empty or shipping_countries is empty %}

	<p>Acenda is not properly set up for checkout. Please add an active shipping method with at least one valid shipping zone.</p>

{% else %}
{% if (cart.items is empty) %}

	<p>Your Shopping Cart is empty.</p>
	<a class="btn btn-primary" href="{{app.url}}">Continue Shopping</a>

{% else %}


	<h1>Shopping Cart</h1>

	{{ forms.begin('cart','','post', {class:'form-cart p pad-b divide'}) }}
	{% for id, item in cart.items %}
	{% set product = products[item.product_id].0 %}
	{% set parent = api.get('product/' ~ product.product_id)%}

	<div class="divide p pad-b g">
	<div class="media media-cart">
		{# Begin item image #}
		<div class="media-left">
			<img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.gif'" class="media-object" src="{{ product.thumbnail }}" width="250" height="250" alt="">
		</div>
		{# End item image #}
		{# Begin item details #}
		<div class="media-body">
			<div class="row">
				<div class="col-xs-12 col-md-5 p">
					<div class="name"><a href="{{ app.url ~ '/product/' ~ parent.slug }}">{{ product.name }}</a></div>
					<div class="availability p">
						{% if product.has_stock %}
							In Stock
						{% elseif variation.inventory_shipping_estimate is not empty %}
							<span class="text-danger">
								{{ variation.inventory_shipping_estimate }}
							</span>
						{% else %}
							<span class="text-danger">
								Out of Stock
							</span>
						{% endif %}
					</div>
					{# Begin wishlist #}
					{% if (item.wishlist_id is not empty) %}
					{% set wishlist = api.get('/wishlist/' ~ item.wishlist_id) %}
					<div class="wishlist p">
						<a href="{{ app.url }}/wishlist/{{ wishlist.id }}"><i class="fa fa-list"></i><span>For {{ wishlist.name }}</span></a>
					</div>
					{% endif %}
					{# End wishlist #}
					{# Begin registry #}
					{% if (item.registry_id is not empty) %}
					{% set registry = api.get('/registry/' ~ item.registry_id) %}
					<div class="registry p">
						<a href="{{ app.url }}/registry/{{ registry.id }}"><i class="fa fa-gift"></i><span>For {{ registry.name}}</span></a>
					</div>
					{% endif %}
					{# End registry #}
					<div class="remove p"><button class="btn btn-default btn-sec btn-xs" type="submit" name="cart[action]" value="remove/{{ id }}">Remove</button></div>
				</div>
				{# Begin item prices #}
				<div class="col-xs-12 col-md-4 p">
					<div class="pricing p">
						{% if product.compare_price is not empty and product.compare_price > product.price %}
						<div class="regular">
							<spam class="item-label">Reg:</span>
							<span class="dollar-sign">$</span><span class="amount"><span class="dollars">{{ product.compare_price|number_format(2)|split('.')|first }}</span>.<span class="cents">{{ product.compare_price|number_format(2)|split('.')|last }}</span></span>
						</div>
						{% else %}
						<div class="price">
							<span class="item-label">Price:</span>
							<span class="dollar-sign">$</span><span class="amount"><span class="dollars">{{ product.price|number_format(2)|split('.')|first }}</span>.<span class="cents">{{ product.price|number_format(2)|split('.')|last }}</span></span>
						</div>
						{% endif %}
						{% if product.compare_price is not empty and product.compare_price > product.price%}
						<div class="sale">
							<span class="item-label">Sale:</span>
							<span class="dollar-sign">$</span><span class="amount"><span class="dollars">{{ product.price|number_format(2)|split('.')|first }}</span>.<span class="cents">{{ product.price|number_format(2)|split('.')|last }}</span></span>
						</div>
						{% endif %}
						<div class="total">
							{% set price = product.price * item.quantity %}
							<span class="item-label">Total:</span>
							<span class="dollar-sign">$</span><span class="amount"><span class="dollars">{{ price|number_format(2)|split('.')|first }}</span>.<span class="cents">{{ price|number_format(2)|split('.')|last }}</span></span>
						</div>
						<div class="error alert alert-danger" style="display:none">
						</div>
					</div>
				</div>
				{# End item prices #}
				{# Begin quantity #}
				<div class="col-xs-12 col-md-3 p">
					<div class="quantity">
						<label for="quantity-selector-{{id}}" class="control-label">Qty</label>
						<div class="input-group input-group-qty input-group-sm">
							<div class="input-group-btn">
								<button type="button" class="btn btn-primary btn-remove"><i class="fa fa-minus"></i></button>
							</div>
							<input type="text" class="form-control quantity-selector text-center" id="quantity-selector-{{id}}" data-id="{{id}}" data-model="cart/item" name="cart[quantity][{{ id }}]" value="{{ item.quantity }}">
							<div class="input-group-btn">
								<button type="button" class="btn btn-primary btn-add"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
				</div>
				{# End quantity #}
			</div>
		</div>
		{# End item details #}
	</div>
	</div>
	{% endfor %}
	{{ forms.end() }}
	<div class="row">
        {% set has_bundle = false %}
        {% for index, discount in cart.discount_collection.discounts %}
            {% if discount.type == 'bundle' and discount.affected_items is not empty %}
                {% set has_bundle = true %}
            {% endif %}
        {% endfor %}
		<div class="col-xs-12 col-md-8">
            {{ forms.begin('cart','','post', {class:'form-coupon divide p'}) }}
            {% if has_bundle %}
            <div class="p divide" id="bundles">
				<div class="title fa-fa-balance"><i class="fa fa-object-group"></i><b>Bundles</b></div>
				<div class="form-group">
					{% for index, discount in cart.discount_collection.discounts %}
						{% if discount.type == 'bundle' %}
							<p><i class="fa fa-caret-square-o-right"></i><span>A few of your items are part of the bundle "{{ discount.model.name }}" that gives you ${{ discount.amount }} off your total cart amount.</span></p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
            {% endif %}
			{# Begin subtotal / checkout #}
			<div class="p divide" id="coupon-code">
				<div class="row">
					<div class="col-xs-12">
						{# Begin coupon code #}
							<div class="title p fa-fa-balance"><i class="fa fa-ticket"></i><b>Coupon Code</b></div>
							<div class="form-group">
								<label class="control-label" for="cart_coupon_code">Enter Coupon Code:</label>
								<div class="row">
									<div class="col-xs-6 col-sm-8">
										{{ forms.text('cart[coupon_code]', coupon_code, {class:'form-control parsley-validated', id:'cart_coupon_code', placeholder: "Coupon Code"}) }}
									</div>
									<div class="col-xs-6 col-sm-4">
										{{ forms.submit('cart[action]', 'enter_coupon', 'Apply', {class:'btn btn-default btn-block', id: 'cart_Enter Coupon'})}}
									</div>
								</div>
								<div class="validation">{{ forms.errorlist(form_errors, 'coupon_code') }}</div>
							</div>
							{% for id, discount in cart.discount_collection.discounts %}
								{% if discount.type == 'coupon' %}
								<div class="discount">
									<div class="alert alert-info">
										{{ forms.submit('cart[action]', "removecoupon/" ~ discount.id, 'Remove', {class:' pull-right btn btn-info btn-xs', id: 'cart_Enter Coupon'}) }}
										
										<p>
										<b>Coupon: {{ discount.code }}</b>
										{% if discount.description is not empty %}<br>{% endif %}
										{{ discount.description }}
										</p>

									</div>
								</div>
								{% endif  %}
							{% endfor %}
						{# End coupon code #}
					</div>
				</div>
			</div>
            {{ forms.end() }}
			{# End subtotal / checkout #}
			{# Begin shipping estimator #}
            <div class="divide" id="shipping-estimator">
				<div class="row">
					<div class="col-xs-12">
						{% include "/cart/_partials/estimator.html.twig" %}
					</div>
				</div>
			</div>
			{# End shipping estimator #}
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="well">
				<div class="fsd1 p" id="subtotal">
					<div class="row">
						<div class="col-xs-7">Subtotal:</div>
						<div class="amount col-xs-5 text-right">
							${{ cart.item_subtotal|number_format(2)}}
						</div>
					</div>
					{% if cart.shipping_rate != null %}
					<div class="row" id="rate-estimate-checkout">
						<div class="col-xs-7">
							Shipping<span data-tooltip data-toggle="tooltip" data-placement="top" data-original-title="Estimated shipping rate.">*</span>:
						</div>
						<div id="total-estimate" class="amount col-xs-5 text-right">${{ cart.shipping_rate|number_format(2)}}</div>
					</div>
					{% endif %}
					{% set coupon_discount = 0 %}
					{% set bundle_discount = 0 %}
					{% for dsc in cart.discount_collection.discounts %}
						{% if dsc.type == "coupon" %}
							{% set coupon_discount = coupon_discount + dsc.amount %}
						{% elseif dsc.type == "bundle" %}
							{% set bundle_discount = bundle_discount + dsc.amount %}
						{% endif %}
					{% endfor %}

					{% if coupon_discount > 0 %} 
					<div class="row" id="estimate-coupons">
						<div class="col-xs-7">Coupons:</div>
						<div class="amount price-discount col-xs-5 text-right">
							-${{ coupon_discount|number_format(2)}}
						</div>
					</div>
					{% endif %}
					
					{% if bundle_discount > 0 %}
					<div class="row">
						<div class="col-xs-7">Bundles:</div>
						<div class="amount price-discount col-xs-5 text-right">
							-${{ bundle_discount|number_format(2)}}
						</div>
					</div>
					{% endif %}
					{% if cart.tax_rate != null %}
					<div class="row" id="total-before-tax">
						<div class="col-xs-7">Total Before Tax:</div>
						<div class="amount col-xs-5 text-right">
							${{ (cart.adjusted_subtotal+cart.shipping_rate)|number_format(2)}}
						</div>
					</div>
					<div class="row" id="tax-estimate-checkout">
						<div class="col-xs-7">Sales Tax<span data-tooltip data-toggle="tooltip" data-placement="top" data-original-title="Estimated Sales Tax.">*</span>:</div>
						<div class="amount col-xs-5 text-right">
							${{ cart.tax_rate|number_format(2)}}
						</div>
					</div>
					{% endif %}
					<div class="row" id="estimate-total">
						<div class="col-xs-7">Total<span data-tooltip data-toggle="tooltip" data-placement="top" data-original-title="Estimated order total. Exact total including shipping cost and sales tax will be calculated during checkout.">*</span>:</div>
						<div class="amount col-xs-5 text-right">
							${{ cart.total|number_format(2) }}
						</div>
					</div>
				</div>
				{% if site_payments.has_regular_checkout == true %}

					<div class="p" id="proceed-to-checkout">
						<a class="btn btn-block btn-lg btn-primary btn-cart" href="{{ app.url }}/checkout">Proceed To Checkout</a>
					</div>

				{% endif %}
				{% if site_payments.has_express_checkout == true and site_payments.express_payment_method == "paypal express" %}

					<div class="text-center" id="paypal">
						<a href="{{ app.url }}/checkout/paypal"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Paypal Check out" width="145" height="42"></a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{#<div class="row">
        <hr class="divide"/>
		<div class="col-xs-12 col-md-8">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<a class="btn btn-block btn-default btn-sec" href="{{ app.url }}/">Continue Shopping</a>
				</div>
			</div>
		</div>
	</div>#}
	{# Begin third party payments #}
	{# End third party payments #}
	{% endif %}
	{% endif %}
	{% endblock %}

	{% block acenda %}
		{{ parent() }}
		{% include "/cart/_partials/acenda.html.twig" %}
	{% endblock %}
	{% block dataLayer %}
	{% include "/cart/_partials/dataLayer.html.twig" %}
	{{ parent() }}
	{% endblock %}
