{% extends "/_layouts/base.html.twig" %}

{% set location_id = app.request.path|split('/')|last %}
{% set location = api.get('/location/' ~ location_id,{
	'query':{
		'publish':'1'
	}
}) %}

{% if location.id is empty %}
	{% do app.redirect('/' ~ app.url ~ '/stores',{},'404') %}
{% endif %}

{% block title %}Store Info: {{location.title}}{% endblock %}


{% block content %}

<h1>Store Info: {{location.title}}</h1>	

<a class="btn btn-default p" href="{{app.url}}/stores"><i class="fa fa-chevron-left"></i><span>View All Stores</span></a>

<address>
	<div><b>{{location.title}}</b></div>
	<div>{{location.street_line1}}</div>
{% if location.street_line2 is not empty %}
	<div>{{location.street_line2}}</div>
{% endif %}
	<div>{{location.city}}, {{location.state}} {{location.zip}}</div>
{% if location.email is not empty %}
	<div><i class="fa fa-envelope-o"></i><span>{{location.email}}</span></div>
{% endif %}
</address>
{% if location.contact_phone is not empty %}
<div><i class="fa fa-phone-square"></i><span>{{location.contact_phone}}</span></div>
{% endif %}
{% if location.email is not empty %}
<div><i class="fa fa-envelope-o"></i><span>{{location.email}}</span></div>
{% endif %}
{% if location.hours is not empty %}
<div><i class="fa fa-calendar"></i><span>{{location.hours}}</span></div>
{% endif %}

{% endblock %}