{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/form-extras.html.twig" as extras %}
{% import "/_macros/normalizer.html.twig" as normalizer %}
{% set step = 'billing' %}
{% set cart = api.get('/sessioncart') %}
{% if cart.items is not empty %} {# Set cart products for acenda object #}
	{% set product_ids = cart.items|values_in('product_id') %}
	{% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}
{% endif %}
{% block content %}
{% if app.request.get.clear == "same" %}
	{% do app.user.setState('shipping_same_as_billing', null) %}
	{% do app.user.setState('billing_same_as_billing', null) %}
{% endif %}
{% if app.user.getState('shipping_address_id') is null and app.user.getState('shipping_first_name') is null %}
	{{ app.redirect('/checkout') }}
{% endif %}
    {% if cart.items is empty or permissions.browse_catalog == false or permissions.show_prices == false or permissions.place_order == false %} {# Set cart products for acenda object #}
	{% do app.redirect('/cart') %}
{% endif %}

<h1>Checkout: Billing</h1>

{{ forms.begin('checkout', app.url ~ '/checkout/process', 'post', { class:'form-billing-region' }) }}
{{ forms.hidden('checkout[unique_token]',random(99999999)~'-'~random(99999999)~'-'~random(99999999)~'-'~random(99999999)) }}
{% if app.user.getState('test_order') %}
	<div class="alert alert-danger">You are placing a test order. Test orders will not be processed or fulfilled.</div>
{% endif %}
{% set giftlist_present = false %}
{% set shipping_address %}
	{% if app.user.getState('shipping_address_id') is not empty %}
		{% if giftlist_present == true %}
		{% else %}
			{% set shipping = api.get('/customeraddress', {query:{customer_id:app.user.id, id:app.user.getState('shipping_address_id')}}).0 %}
			{% if shipping == false %}
				{% set shipping = api.get('/customeraddress', {query:{id:app.user.getState('shipping_address_id')}}).0 %}
				{# It must be a registry or wishlist #}
				Ships to:<br>
				<b>{{ shipping.first_name }} {{ shipping.last_name }}</b><br>
				(full address hidden for privacy)
			{% else %}
				{{ shipping.street_line1 }}<br />
				{% if shipping.street_line2 %}{{ shipping.street_line2 }}<br />{% endif %}
				{% if shipping.company %}{{ shipping.company }}<br />{% endif %}
				{{ shipping.city }}, {{ shipping.state }} {{ shipping.zip }}<br />
				{{ shipping.country }}
				{% if shipping.street_line2 == '' %} {% endif %}
				{% if shipping.company == '' %}&nbsp;
			{% endif %}
		{% endif %}
	{% endif %}
	{% else %}
		{% if app.user.getState('shipping_first_name') %}{{ app.user.getState('shipping_first_name') }} {% endif %}
	    {% if app.user.getState('shipping_last_name') %}{{ app.user.getState('shipping_last_name') }}<br />{% endif %}
		{% if app.user.getState('shipping_street_line1') %}{{ app.user.getState('shipping_street_line1') }}<br />{% endif %}
		{% if app.user.getState('shipping_street_line2') %}{{ app.user.getState('shipping_street_line2') }}<br />{% endif %}
		{% if app.user.getState('shipping_company') %}{{ app.user.getState('shipping_company') }}<br />{% endif %}
		{{ app.user.getState('shipping_city') }}, {{ app.user.getState('shipping_state') }} {{ app.user.getState('shipping_zip') }}<br />
		{{ app.user.getState('shipping_country') }}<br />
		{% if app.user.getState('shipping_street_line2') == '' %}<br />{% endif %}
		{% if app.user.getState('shipping_company') == '' %}<br />{% endif %}
	{% endif %}
{% endset %}
<div class="row">
	<div class="col-md-7 col-lg-8">
		<fieldset>
			<legend>Credit Card Information</legend>
			<div class="row">
				<div class="col-6 col-lg-7">
					<div class="form-group fgq">
						<label for="checkout_card_number">Card Number</label>
						{{ forms.text('checkout[card_number]', checkout.card_number, {id:'checkout_card_number',class:'form-control parsley-validated', placeholder:"Card Number", required:true, 'parsley-luhn': true, 'parsley-type': 'number'}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'card_number') }}</div>
					</div>
				</div>
				<div class="col-6 col-lg-5">
					<div class="form-group" id="checkout-cards">
						<label>&nbsp;</label>
						<div class="row row-thin">
							<div class="col-3 col-thin">
								<div class="checkout-card">
									<div class="image-space is60 checkout-card">
										<img src="{{app.url_asset}}/assets/images/creditcards/visa.png" class="img-fluid isd cc-visa" width="73" height="44" alt="">
									</div>
								</div>
							</div>
							<div class="col-3 col-thin">
								<div class="checkout-card">
									<div class="image-space is60 checkout-card">
										<img src="{{app.url_asset}}/assets/images/creditcards/mastercard.png" class="img-fluid isd cc-mastercard" width="73" height="44" alt="">
									</div>
								</div>
							</div>
							<div class="col-3 col-thin">
								<div class="checkout-card">
									<div class="image-space is60 checkout-card">
										<img src="{{app.url_asset}}/assets/images/creditcards/amex.png" class="img-fluid isd cc-amex" width="73" height="44" alt="">
									</div>
								</div>
							</div>
							<div class="col-3 col-thin">
								<div class="checkout-card">
									<div class="image-space is60 checkout-card">
										<img src="{{app.url_asset}}/assets/images/creditcards/discover.png" class="img-fluid isd cc-discover" width="73" height="44" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<div class="form-group fgq">
						<label for="ccv">CVV2</label>
						{{ forms.text('checkout[card_cvv2]', checkout.card_cvv2, {class:'form-control parsley-validated', id:'ccv', placeholder:"CVV2", required:true, 'pattern':'^[0-9]{3,4}$'}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'card_cvv2') }}</div>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group fgq">
						<label for="exp-m">Exp Month</label>
						{% set months = {} %}
						{% for i in range(1,12) %}
							{% set month = "%02d"|format(i) %}
							{% set months = months + {(month):month} %}
						{% endfor %}
						{{ forms.select('checkout[card_exp_month]', checkout.card_exp_month, months, {class:'form-control parsley-validated', id:'exp-m'}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'card_exp_month') }}</div>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group fgq">
						<label for="exp-y">Exp Year</label>
						{% set years = {} %}
						{% for i in range(now|date('Y'),now|date('Y')+15) %}
							{% set years = years + {(i):i} %}
						{% endfor %}
						{{ forms.select('checkout[card_exp_year]', checkout.card_exp_year, years, {class:'form-control parsley-validated', id:'exp-y'}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'card_exp_year') }}</div>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Billing Address {% if app.user.getState('shipping_same_as_billing') is empty %}{% endif %}</legend>
			{% if app.user.getState('shipping_same_as_billing') is empty %}
				{% if app.user.id is not empty %}
					{% set billing_authorized_countries = [] %}
					{% set billing_countries = api.get('/payment/country') %}
					{% for sc in billing_countries %}{% set billing_authorized_countries = billing_authorized_countries|merge([sc.code]) %}{% endfor %}
					{% set addresses = api.get('/customeraddress', {query:{deleted:{'$ne':1}, verified:1, customer_id:app.user.id, country:{'$in':billing_authorized_countries}}}) %}
					{% set address_select = {'':'Use address below'} %}
					{% for address in addresses %}
						{% set address_select = address_select + {(address.id):address.one_line} %}
					{% endfor %}
					{% if address_select|length > 1 %}

					<div class="form-group">
						<label for="checkout_billing_address_id">Select a Billing Address:</label>
						{{ forms.select('checkout[billing_address_id]', app.user.getState('billing_address_id'), address_select, {class:'form-control parsley-validated', id: 'checkout_billing_address_id'}) }}
						<div class="validation">{{ forms.errorlist(form_errors, 'billing_address_id') }}</div>
					</div>

					{% endif %}
				{% endif %}

				<div class="p" id="custom-address">
					<div id="address-fields">
						{% set addr = {} %}
						{% if selected_address == '' %}
							{% set addr = app.user.getCheckoutStates('billing') %}
						{% endif %}
						{{ extras.address('checkout','billing', addr) }}
					</div>
					{% if app.user.id is not empty %}
					<div class="form-group custom-control custom-checkbox">
						{% set checked = {} %}
						{% if app.user.getState('billing_save') == '1' %}{% set checked = {'checked': 'checked'} %}{% endif %}
						{{ forms.checkbox('checkout[billing_save]', false, checked) }}
						<label class="custom-control-label" for="checkout[billing_save]">Save Billing Address</label>
						<div class="validation">{{ forms.errorlist(form_errors, 'billing_save') }}</div>
					</div>
					{% endif %}
				</div>
			{% else %}

				<div class="checkout-display-address mb-3" id="display_billing_address">
					<address>{{ shipping_address }}</address>
					<a class="btn btn-sm btn-default" href="{{ app.url }}/checkout/billing?clear=same">Change Address</a>
				</div>
			{% endif %}
		</fieldset>
		<div class="row">
			<div class="col-lg-6 mb-3">
				<fieldset>
					<legend>Shipping Address</legend>
					<div class="checkout-display-address mb-3" id="display_shipping_address">
						<address>{{ shipping_address }}</address>
						<a class="btn btn-sm btn-default" href="{{ app.url }}/checkout">Change Address</a>
					</div>
				</fieldset>

			</div>
			<div class="col-lg-6 mb-3">
				{% set method = api.get('shippingmethod/' ~ cart.shipping_method )%}
				<fieldset>
					<legend>Shipping Method</legend>
					<div class="checkout-display-address mb-3" id="display_shipping_address">
						<address>
							<div><b>Method: </b>{{ method.name }}</div>
							<div><b>Carrier: </b>{{ method.carrier_name }} ( {{ method.carrier_method }} )</div>
						{% if method.top_days_range %}<div><b>Delivery Estimate:</b> {{ method.bottom_days_range ? method.bottom_days_range : 0 }} to {{ method.top_days_range ? method.top_days_range : 0 }} days.</div>{% endif %}
    					</address>
					</div>
						<a class="btn btn-sm btn-default" href="{{ app.url }}/checkout">Change Method</a>				
				</fieldset>				
			</div>
		</div>
		{{ normalizer.normalizer() }}
		<div class="actions text-right hidden-xs">
			<input type="hidden" name="step" value="billing">
			{% set works = {} %}
			{% if app.user.getState('order_sent') == true %} {% set works = {'disabled': true } %} {% endif %}
			{{ forms.submit('place_order', '', 'Place Order', {'class':'btn btn-lg btn-primary btn-block'}|merge(works)) }}
		</div>		

	</div>
	<section id="order-summary" class="col-md-5 col-lg-4">
		<div class="card"><div class="card-body" id="summary-well">
		    {% include "/checkout/_partials/summary.html.twig" %}
		</div></div>
		{% include "/checkout/_partials/entercoupon.html.twig" %}									
		
		<div class="row hidden-sm hidden-md hidden-lg">
			<div class="col-12">
				<div class="actions">
					<input type="hidden" name="step" value="billing">
					{% set works = {} %}
					{% if app.user.getState('order_sent') == true %} {% set works = {'disabled': true } %} {% endif %}
					{{ forms.submit('place_order', '', 'Place Order', {'class':'btn btn-lg btn-primary btn-block'}|merge(works)) }}
				</div>
			</div>
		</div>
	</section>
</div>
{{ forms.end() }}
	
{% endblock %}
{% block js %}
{{ app.asset.js(app.url_asset ~ '/assets/js/jquery.cascadingdropdown.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/checkout.js') }}
{{ app.asset.js(app.url_asset ~ '/assets/js/region.js') }}
{% endblock %}

{% block acenda %}
	{{ parent() }}
	{% include "/checkout/_partials/acenda.html.twig" %}
{% endblock %}
{% block dataLayer %}
	{% include "/checkout/_partials/dataLayer.html.twig" %}
	{{ parent() }}
{% endblock %}
