{% extends "/_layouts/base.html.twig" %}

{% if  app.request.post.checkout %}
    {% set return = api.post('/sessioncart/checkout', app.request.post.checkout) %}
{% endif %}

{% if app.user.id is not empty %}
    {% set customer = api.get('/customer/' ~ app.user.id) %}
    {% set request = {customer_id:app.user.id, email:customer.email, ip:app.request.ip} %} {# don't forget the customer ID #}
{% else %}
    {% set request = {ip:app.request.ip} %}
{% endif %}

{% do app.user.setState('order_sent', true) %}
{# Concatenation of the different request during the checkout tunnel #}
{% set post = app.request.post.checkout %}
{% set request = request + {
	'card_number': post.card_number,
	'card_cvv2': post.card_cvv2,
	'card_exp_month': post.card_exp_month,
	'card_exp_year': post.card_exp_year,
	'total_verify': post.total_verify,
    'api_unique_token': post.unique_token
} %}
{% set request = request + app.user.getCheckoutStates('shipping') %}
{% set request = request + app.user.getCheckoutStates('billing')%}
{% set request = request + {'test_order' : app.user.getState('test_order')} %}

{% set final_order = api.post('/order/place', request) %}
{% if final_order is empty %}
    {% set error = api.error %}
    {% set error_code = api.code %}
{% endif %}

{% block content %}
    <h1>Checkout: Finalizing</h1>
    <div class="jumbotron" id="checkout_process">
        <p>Please wait while your order is being processed...</p>
        <div class="progress">
          <div id="checkout_process_percent" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="checkout_process_percent_text" class="sr-only">0% Complete</span>
          </div>
        </div>
    </div>
    {% if final_order is not empty or error_code != 406 %}
        <form id="checkout_process_completed" name="checkout_process_completed" action="{{app.url ~ '/checkout/place'}}" method="POST" enctype="multipart/form-data">
            {% if final_order is not empty %}
                <input type="hidden" name="order_number" value="{{final_order.order_number}}">
                <input type="hidden" name="email" value="{{final_order.email}}">
            {% else %}
                <input type="hidden" name="error" value="{{error|json_encode|e}}">
            {% endif %}
        </form>
    {% else %}
        <form id="checkout_process_form" name="checkout_process_form" action="{{app.url ~ '/checkout/place'}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="api_unique_token" value="{{post.unique_token}}">
        </form>
    {% endif %}
{# include '/checkout/_partials/final.html.twig' #}
{% endblock %}

{% block js %}
{{ app.asset.script('checkout_process','
    
    var checkoutProcessPercent = 0;

    function checkoutProgressbar() {
        setTimeout(function () {
            console.log(checkoutProcessPercent);
            var percent = Math.ceil(checkoutProcessPercent*100);
            $("#checkout_process_percent").width(percent+"%");
            $("#checkout_process_percent_text").text(percent+"% Complete")
            if(checkoutProcessPercent < 1) {
                checkoutProgressbar();
                checkoutProcessPercent += 0.01;
            }
        }, 100);
    }
    checkoutProgressbar();

    function checkoutHasCompleted(token) {
        if(!token) {
            return;
        }
        $.post("'~app.url~'/api/order/process",
            {api_unique_token:token}
            ,"json")
            .success(function( data ) {
                checkoutProcessPercent = 1;
                $("#checkout_process_percent").width("100%");
                $("#checkout_process_form").submit();
            })
            .error(function(data) {
                var response = jQuery.parseJSON(data.responseText);
                if(response.code == 406) {
                    checkoutProcessPercent += 0.05;
                    setTimeout(function () {
                        checkoutHasCompleted(token);
                    }, 2000)
                } else {
                    checkoutProcessPercent = 1;
                    $("#checkout_process_percent").addClass("progress-bar-danger");
                    $("#checkout_process_percent").width("100%");
                    $("#checkout_process_form").submit();
                }
            });
    }

    setTimeout(function () {
        if($("#checkout_process_completed").length > 0) {
            checkoutProcessPercent = 1;
            $("#checkout_process_percent").width("100%");
            $("#checkout_process_completed").submit();
        } else {
            checkoutHasCompleted("'~post.unique_token~'");
        }
    }, 2000);

') }}
{% endblock %}

