{% extends "/_layouts/base.html.twig" %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}

{% block title %}Return Created{% endblock %}

{% block breadcrumb %}
	{% if app.user.id is defined %}
		{{ base.breadcrumbs({'Account':'/account','Returns':'/account/returns','Return Created':''}) }}
	{% else %}
		{{ base.breadcrumbs({'Returns':'/returns','Return Created':''}) }}
	{% endif %}
{% endblock %}

{% block content %}

{# Begin navigation #}

{{account.navigation('orders')}}

{# End navigation #}

<h1>Return Created</h1>
					 
{% set ids = app.request.get.ids|split(',') %}
{% set returns = api.get('/orderreturn?email='~app.request.get.email~'&order_number='~app.request.get.order_number, {query:{id:{'$in':app.request.get.ids|split(',')}}}) %}
{% set orderitem_ids = returns|values_in('item_id') %}
{% set items = api.get('/orderitem?email='~app.request.get.email~'&order_number='~app.request.get.order_number, {query:{id:{'$in':orderitem_ids}}})|group_by('id') %}

<p>You have successfully created a return and a copy of the return instructions below have been emailed to you.</p>
<h2>In order for us to process your return, your items must meet the following criteria:</h2>
<ol>
	<li>Items must be unused and returned with the original product tags.</li>
	<li>Items must be returned in their original, undamaged packaging.</li>
	<li>Please do not place shipping labels on product packaging, only place shipping labels on the cardboard shipping box.</li>
</ol>
<h2>What happens next:</h2>
<ul>
	<li>Print this page.</li>
	<li>Place the packing slip inside the box with the items you are returning.</li>
	<li>Affix the returns address label to the outside of your shipping box.</li>
	<li> Reprint as necessary for each package.</li>
	<li>If you do not currently have access to a printer, you can write your Return # and return shipping address on the shipping box. </li>
	<li> Please ship your items to the specified fulfillment center address below.</li>
</ul>
<h2>Your RMA numbers and their products are:</h2>
{% for return in returns %}
<ul class="list-unstyled">
<li><strong>{{ items[return.item_id].0.name }}</strong></li>
<li><strong>RMA #:</strong> {{ return.rma }}</li>
<li><strong>Qty:</strong>  {{ return.quantity }}</li>
<li><strong>Reason:</strong>  {{ return.reason }}</li>
</ul>
{% endfor %}

{% set ret_addr = api.get('/location', {query:{return:true}})|first %}

{% if ret_addr is not empty %}
	<legend>Please ship your returns to:</legend>
	<p>
		<address>
			<strong>{{ app.params['site']['title'] }}</strong><br>
			{{ ret_addr.street_line1 }} {{ ret_addr.street_line2 }}<br>
			{{ ret_addr.city }}, {{ ret_addr.state }} {{ ret_addr.zip }}<br>
			{% if app.params['information']['phone_number'] is defined %}
				<abbr title="Phone">P:</abbr> {{ app.params['information']['phone_number'] }}
			{% endif %}
		</address>
	</p>
{% endif %}
{{account.navigatend()}}
{% endblock %}