{% if app.request.post.createreturn is not empty %}
	{% set quantity = app.request.post.createreturn.quantity %}
	{% set reason = app.request.post.createreturn.reason %}
	{% set results = [] %}
	{% for key, value in quantity %}
		{% if quantity[key] > 0 %}
			{% set result = api.post('/orderreturn?order_number=' ~ app.request.post.createreturn.order_number ~ '&email=' ~ app.request.post.createreturn.email, {order_id:order.id, item_id:key, customer_id:app.user.id, quantity:quantity[key], reason:reason[key], status:'pending'}) %}
			{% set results = results|merge([result]) %}
		{% endif %}
	{% endfor %}
	{% if results is not empty %}
		{% do app.redirect('/return/success?ids=' ~ results|join(',') ~ "&email=" ~ app.request.post.createreturn.email ~ "&order_number=" ~ app.request.post.createreturn.order_number) %}
	{% else %}
		{% set form_error = api.error %}
	{% endif %}
{% endif %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Create Return':''}) }}
{% endblock %}


{{ lonelyform.begin()}}
<h1>Create Return</h1>
<p>Return items for: Order #{{ order.order_number }}</p>

{{ lonelyform.begincard() }}
{% set where = app.user.email is empty ? "" : "/account" %}
{{ forms.begin('createreturn', app.url ~ where ~'/return/create/' ~ order.order_number, 'post', {class:''}) }}
{% set global_available = order.returnable_items %}
{{ forms.hidden('createreturn[email]', order.email) }}
{{ forms.hidden('createreturn[order_number]', order.order_number) }}
{% set product_ids = orderitems|values_in('product_id') %}
{% set products = api.get('/variant',{query:{product_id:{'$in':product_ids}}})|group_by('id') %}

{% set ret = 0 %}
{% for item in orderitems %}
	{% set q = item.fulfilled_quantity %}
	{% for r in returns %}
		{% if item.id == r.item_id %} {% set q = q - r.quantity %} {% endif %}
	{% endfor %}
	{% if products[item.variant_id].0.inventory_returnable == "1" and q > 0 %}
		{% set ret = ret + 1 %}
		{% set available = q %}
		<div class="divide g mb-3 pb-3">
			<div class="media">
				<div class="media-left">
					<div class="image-space image-space-product">
						<img class="img-fluid img-product isd" src="{{ products[item.variant_id].0.thumbnail }}" width="{{imgThumbnailWidth}}" height="{{imgThumbnailHeight}}" alt="">
					</div>
				</div>
				<div class="media-body">
					<div class="row">
						<div class="col-lg-6 fsd1 g mb-3 mb-lg-0">
							<div class="mb-3">
							    <a href="{{ app.url ~ products[item.variant_id].0.url }}"><span class="product-name">{{ item.name }}</span></a>
						    </div>
							<p><strong>{{ available }}</strong> available for return.</p>
						</div>
					{% if available > 0 %}
						<div class="col-lg-6">
							<div class="row">
								<div class="col-4 g">
									<div class="form-group fgq">
										<label for="return-qty[{{item.id}}]">Qty{{forms.fgqtext}}</label>
										{{ forms.select('createreturn[quantity][' ~ item.id ~ ']', '0', range(0,available), {class:'form-control parsley-validated', id:'return-qty[' ~ item.id ~']', required:true, 'parsley-min':0,'parsley-max':available}) }}
										<div class="validation">{{ forms.errorlist(form_errors, 'quantity[' ~ item.id ~ ']') }}</div>
									</div>
								</div>
								<div class="col-8 g">
									<div class="form-group">
										<label for="return-reason[{{item.id}}]">Reason</label>
										{{ forms.select('createreturn[reason][' ~ item.id ~ ']', '', {'': 'Please select',
										'Decided to buy elsewhere' : 'Decided to buy elsewhere',
										'Chose a newer product' : 'Chose a newer product',
										'Thought the delivery time was too long' : 'Thought the delivery time was too long',
										'Did not like the price' : 'Did not like the price',
										'Made a mistake' : 'Made a mistake',
										'Changed my mind' : 'Changed my mind',
										'Product is defective' : 'Product is defective',
										'Product damaged during shipment' : 'Product damaged during shipment',
										'Received incorrect product' : 'Received incorrect product',
										'Product is missing parts/accessories' : 'Product is missing parts/accessories'}, {class:'form-control parsley-validated', id:'return-reason[' ~ item.id ~ ']'}) }}
										<div class="validation">{{ forms.errorlist(form_errors, 'reason[' ~ item.id ~ ']') }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
			{% endif %}
		</div>
	{% endif %}
{% endfor %}
{% if ret == 0 %}
	
<p>No item available for return.</p>
	
<hr>

{% endif %}
<div class="form-group actions">
	{% if global_available > 0 %}
	{{ forms.submit('createreturn[action]','submit','Create Return',{class:'btn btn-default btn-lg btn-xsm-block float-right'}) }}
	{% else %}
	<a class="btn btn-default btn-lg btn-xsm-block float-left" href="javascript:history.go(-1)">Back</a>
	{% endif %}
</div>

{{ forms.end() }}
{{ lonelyform.endcard() }}
{{ lonelyform.end() }}