{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'addresses' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %}

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{# Load in the main content positioned in /_layouts/main/base.html.twig #}
{% block content %}
{% if app.request.post.address.action is not empty %}
{% set action = app.request.post.address.action|split('/')|first %}
{% set id = app.request.post.address.action|split('/')|last %}

{% if action != id %}
{% set address = api.get('/customeraddress',{'query':{'customer_id':app.user.id}})[(id - 1)] %}
{% if address.id is empty %}
{% do app.redirect('/account/addresses') %}
{% endif %}
{% endif %}

{% if action == 'primary' %}
{% include "/account/addresses/_partials/primary.html.twig" %}
{% elseif action == 'delete' %}
{% include "/account/addresses/_partials/delete.html.twig" %}
{% endif %}
{% endif %}
{#
Load in the tabs for the page, pass in the name of this page, and make sure it's
set in the array in /account/_macros/base.html.twig
#}

{# Begin navigation #}

{{account.navigation(config,'addresses')}}

{# End navigation #}
{{ forms.begin('address','','post', {class:'form-region'}) }}

{% set addresses = api.get('/customeraddress',{'query':{'customer_id':app.user.id}}) %}

{{ lonelyform.begin()}}
<h1>Addresses</h1>
{{ lonelyform.begincard('bg-light')}}
<div class="row">
	<div class="col-lg-6">
		<a href="{{app.url}}/account/addresses/new" class="btn btn-default btn-block">Add New Address</a>
	</div>
</div>
{{ lonelyform.endcard()}}

{% if addresses is empty %}

<p>You have yet to save an address.</p>

{% else %}

<div class="row card-height fsd1">
	{% for row,address in addresses %}
	<div class="col-md-6 col-xl-4 g mb-3">
		<div class="card {% if address.verified == 0 %} {# consider#}{% else %}{% endif %} {% if address.default == 1 %} bg-light{% endif %}">
			<div class="card-body">
				<h2 class="h3">{% if row == 0 %}<i class="fa fa-map-marker"></i>{% endif %}<span>{{ address.first_name }} {{ address.last_name }}</span></h2>
				<address>
					{% if address.company %}
						<div class="company">{{ address.company }}</div>
					{% endif %}
					<div class="address-1">{{ address.street_line1 }}</div>
					{% if address.street_line2 %}
						<div class="address-2">{{ address.street_line2 }}</div>
					{% endif %}
					<div class="zip">{{ address.city }}, {{ address.state }} {{ address.zip }}</div>
					<div class="country">{{ address.country }}</div>
					{% if address.default == 1 %}
						<div class="fsd1 mt-3"><u>Default Address</u></div>
					{% endif %}
					{% if address.verified == 0 %}
    				{#<span class="text-danger">Please verify this address by clicking the edit address link under options below and fill in any missing information.</span>#}
    				{% endif %}
				</address>
			</div>
			<div class="card-footer">
				<div class="btn-group btn-block">
					<button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
						<span>Options</span><i class="fa fa-angle-down"><span class="sr-only">for {{ address.street_line1 }}</span></i>
					</button>
					<div class="dropdown-menu w-100" role="menu">
						<a href="{{ app.url }}/account/addresses/{{ row + 1 }}/edit" class="dropdown-item fsd1" name="edit_address">
							Edit Address <span class="sr-only">for {{ address.street_line1 }}</span>
						</a>
						{{ forms.submit('address[action]', 'primary/' ~  (row + 1), 'Use <span class="sr-only">' ~ (address.street_line1) ~ '</span> as Default Address', {class:'btn fsd1 dropdown-item'})}}
						<div class="dropdown-divider"></div>
						{{ forms.submit('address[action]', 'delete/'  ~  (row + 1), 'Delete Address <span class="sr-only">for ' ~ (address.street_line1) ~ '</span>', {class:'btn fsd1 dropdown-item'})}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endif %}
{{ lonelyform.end() }}

{{ forms.end() }}

{{account.navigatend()}}
{% endblock %}