{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/account/_macros/base.html.twig" as account %}
{% import "/_macros/lonely-form-lim.html.twig" as lonelyform %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{% set platform = api.get('order/platform').platform %}


{# Set the page_name - used for the page title, heading, tab selection, and breadcrumb in this page. #}
{% set page_name = 'payment methods' %}

{# Set the html head title #}
{% block title %}Account - {{page_name|title}}{% endblock %}

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here'
#}
{{ base.breadcrumbs({'Account':'/account',(page_name|title):''}) }}
{% endblock %}

{# Load in the main content positioned in /_layouts/main/base.html.twig #}
{% block content %}
{{account.navigation(config,'payment-methods')}}

{% if platform!="Braintree" and platform!="Stripe" %}
	<div style="text-align: center">Editing of payment methods only works with the BrainTree or Stripe payment platforms activated. </div>
{% elseif platform=='Stripe' %}
<div id="payment-methods">
{% set methods = api.get('stripe/getPaymentMethods') %}

{{ lonelyform.begin()}}
<h1>Payment Methods</h1>
{{ lonelyform.begincard('bg-light')}}
<div class="row">
	<div class="col-lg-6"></div>
	<div class="col-lg-6 mb-3 mb-lg-0">
		<button class="btn btn-default btn-block" id="button-add-creditcard">Add Credit Card</button>
	</div>
</div>
<div style="margin-top: 10px; "class="table-responsive">
  <table class="table">
	   {% for token,method in methods %}
	   		<tr class="braintreerow {{ method.object | lower | slice(10) }} {{ method.brand | lower | replace({' ': ''}) }}"> <td style="width: 40px;vertical-align: middle; line-height: 40px"><img style="width:40px;" src="{{ app.request.base }}/assets/images/creditcards/{{method.brand | lower}}.png"></img></td><td  style="vertical-align: middle;"> {{ method.brand }}  *****{{ method.last4 }} <br/>Expires {{ method.exp_month}}/{{method.exp_year}}</td>
	   			<td style="text-align: right; vertical-align: middle; line-height: 40px"><button class="btn btn-danger pm-delete" id="pm-delete-{{ method.id }}"> Delete </button></td></tr>
	   {% endfor %}
  </table>
</div>

{{ lonelyform.endcard()}}
{{ lonelyform.end() }}
</div>
<div id="stripe-fields-form">
	{{ lonelyform.begin()}}

	<style>
		div#stripe-fields-form{
			display:none;
		}		
	</style>	
	<h2 class="h1">Add a new card</h1>
	{{ lonelyform.begincard()}}
    <form action="/" id="create-card-form" method="post">
	  <div class="row"> 
	  	<div class="col-md-12">
		    <label for="card-element">
		      Credit or debit card
		    </label>
		    <div id="card-element">
		      <!-- A Stripe Element will be inserted here. -->
		    </div>
		    <!-- Used to display Element errors. -->
		    <div id="card-errors" role="alert"></div>		    
	    </div>	    
		 <input id="nonce" name="payment_method_nonce" type="hidden" />    
	  </div>
	   <div  style="margin-top: 10px; float: right;">
		    <input type="reset" id="card-cancel-btn" class="btn btn-default " value="Cancel"></input><input type="submit" id="card-submit-btn" class="btn btn-primary " style="margin-left: 5px;" value="Save Card" disabled></input>
		</div>

	</form>
	{{ lonelyform.endcard()}}
	{{ lonelyform.end() }}
</div>

	{{ app.asset.js(app.url_asset ~ '/assets/js/underscore-min.js') }}
	{{ app.asset.js(app.url_asset ~ '/assets/js/backbone-min.js') }}
    {{ app.asset.js(app.url_asset ~ '/assets/js/stripe_admin.js') }}

{% elseif platform=='Braintree' %}
<div id="payment-methods">
{% set m = api.get('braintree/getPaymentMethods') %}

{{ lonelyform.begin()}}
<h1>Payment Methods</h1>
{{ lonelyform.begincard('bg-light')}}
<div class="row">
	<div class="col-lg-6 mb-3 mb-lg-0">
		<button class="btn btn-default btn-block" id="button-add-creditcard">Add Credit Card</button>
	</div>
	<div class="col-lg-6">
		<button class="btn btn-default btn-block" id="button-add-paypal">Add Paypal Account</button>
	</div>
</div>

<div class="table-responsive">
  <table class="table">
	   {% for token,method in m.methods %}
	   		<tr class="braintreerow {{ method.type | lower | slice(10) }} {{ method.object.cardType | lower | replace({' ': ''}) }}"> <td style="width: 40px;vertical-align: middle; line-height: 40px"><img src="{{method.object.imageUrl }}"></img></td><td  style="vertical-align: middle;"> {% if method.type == 'Braintree\\PayPalAccount' %} {{ method.object.email }}{% elseif  method.type == 'Braintree\\CreditCard'%}{{ method.object.cardType }}  *****{{ method.object.last4 }} <br/>Expires {{ method.object.expirationMonth}}/{{method.object.expirationYear}}{% endif %}</td>
	   			<td style="text-align: right; vertical-align: middle; line-height: 40px">{% if  method.type == 'Braintree\\CreditCardxx'%}<button class="btn btn-primary pm-update" id="pm-update-{{ token }}"> Update </button> {% endif %}<button class="btn btn-danger pm-delete" id="pm-delete-{{ token }}"> Delete </button></td></tr>
	   {% endfor %}
  </table>
</div>

{{ lonelyform.endcard()}}
{{ lonelyform.end() }}
</div>




<div id="hosted-fields-form">
{{ lonelyform.begin()}}
<h2 class="h1">Add a new card</h1>
{{ lonelyform.begincard()}}
	<style>
		div#hosted-fields-form {
			display:none;
		}		
		.hosted-field {
		  height: 50px;
		  box-sizing: border-box;
		  padding: 12px;
		  width: 100%;
		  display: inline-block;
		  box-shadow: none;
		  font-weight: 600;
		  font-size: 14px;
		  border-radius: 6px;
		  border: 1px solid #dddddd;
		  line-height: 20px;
		  background: #fcfcfc;
		  margin-bottom: 12px;
		  background: linear-gradient(to right, white 50%, #fcfcfc 50%);
		  background-size: 200% 100%;
		  background-position: right bottom;
		  transition: all 300ms ease-in-out;
		}

		.hosted-fields--label {/*
		  font-family: courier, monospace;
		  text-transform: uppercase;
		  font-size: 14px;
		  display: block;
		  margin-bottom: 6px;*/
		}

		.button-container {
		  display: block;
		  text-align: center;
		}

		.button {
		  cursor: pointer;
		  font-weight: 500;
		  line-height: inherit;
		  position: relative;
		  text-decoration: none;
		  text-align: center;
		  border-style: solid;
		  border-width: 1px;
		  border-radius: 3px;
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  display: inline-block;
		}

		.button--small {
		  padding: 10px 20px;
		  font-size: 0.875rem;
		}

		.button--green {
		  outline: none;
		  background-color: #64d18a;
		  border-color: #64d18a;
		  color: white;
		  transition: all 200ms ease;
		}

		.button--green:hover {
		  background-color: #8bdda8;
		  color: white;
		}

		.braintree-hosted-fields-focused {
		  border: 1px solid #64d18a;
		  border-radius: 1px;
		  background-position: left bottom;
		}

		.braintree-hosted-fields-invalid {
		  border: 1px solid #ed574a;
		}

		.braintree-hosted-fields-valid {
		}

		#cardForm {
		  max-width: 50.75em;
		  margin: 0 auto;
		  padding: 1.875em;
		}
		#card-number {
			width: 100%;
		}			
		#expiration-date {
			width: 100%%;
		}			
		#cvv {
			width: 100%%;
		}
	</style>
    <form action="" id="create-card-form" method="post">
        <div class="row">
            <div class="col-lg-6">
                <label class="hosted-fields--label" for="card-number">Card Number</label>
                <div id="card-number" class="hosted-field"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-lg-4">
		    	<label class="hosted-fields--label" for="expiration-date">Expiration Date</label>
                <div id="expiration-date" class="hosted-field"></div>
			</div>
		    <div class="col-4 col-lg-2">
                <label class="hosted-fields--label" for="cvv">CVV</label>
                <div id="cvv" class="hosted-field"></div>
            </div>
			<div class="col-12">
                <div id="card-error" style="overflow-wrap: break-word;"></div>					
			</div>
		</div>
		<div class="text-right">
		    <input type="reset" id="card-cancel-btn" class="btn btn-default" value="Cancel"></input><input type="submit" id="card-submit-btn" class="btn btn-primary " value="Save Card" ></input>
		</div>
    </form>
{{ lonelyform.endcard()}}
{{ lonelyform.end() }}
</div>

	{{ app.asset.js(app.url_asset ~ '/assets/js/underscore-min.js') }}
	{{ app.asset.js(app.url_asset ~ '/assets/js/backbone-min.js') }}
	{{ app.asset.js('https://js.braintreegateway.com/web/3.34.0/js/client.min.js') }}
	{{ app.asset.js('https://js.braintreegateway.com/web/3.34.0/js/paypal.min.js') }}
	{{ app.asset.js('https://js.braintreegateway.com/web/3.34.0/js/vault-manager.min.js') }}
	{{ app.asset.js('https://js.braintreegateway.com/web/3.34.0/js/hosted-fields.min.js') }}	
    {{ app.asset.js(app.url_asset ~ '/assets/js/braintree_admin.js') }}
{{account.navigatend()}}
{% endif %}
	
{% endblock %}